/* ============================================ *
 * body  Reset
 * ============================================ */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, 
a, img, dl, dt, dd, ol, ul, li,
fieldset, form, label, 
table, caption, tbody, tfoot, thead, tr, th, td,
footer, header, hgroup, menu, nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-style: normal;
    font-size: 100%;
    font: inherit; 
    vertical-align: top;
}
body {
    font: 6.5px "Microsoft YaHei",微软雅黑,Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #333; 
    max-width: 700px;
    min-width: 320px;
    margin: 0 auto;
    height: 100%;
    background-color: #f3f6ed;

}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
ul, ol {
    list-style: none;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    color: #333;
}
strong {
    font-weight: normal;
}
img {
    display: block;
    vertical-align: top;
    border: 0;
    width: 100%;
}
h1 {
    font-size: 1.5em;
    line-height: normal;
    font-weight: normal;
}
h2 {
    font-size: 1.23em;
    line-height: normal;
    font-weight: normal;
}
h4 {
    font-size: 1em;
    line-height: normal;
    font-weight: bold;
}
h6 {
    font-size: 0.91em;
    line-height: normal;
    font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Microsoft YaHei",微软雅黑,Arial, sans-serif;
}
a:hover {
    text-decoration: none;
    color: #333333;
}
.clear {
    clear: both;
    height: 0;
    font-size: 0;
}
.main-container {
    max-width: 700px;
    min-width: 300px;
    margin: 0 auto;
}
.red {
    color: red;
}
.green {
    color: #67ad54;
}
.no-display {
    display: none;
}
input,select,button,textarea {
    outline-color: #ffffff;
    color: #000;
}
.validation-advice {
    position: absolute;
    left: 10px;
    color: #ff0000;
    font-size: 0.9rem;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.messages {
    padding: 2%;
    color: #ff0000;
}
.icon-back {
    position: absolute;
    width: 8px;
    padding: 13px 20px;
}
