<?php if(Mage::getSingleton( 'customer/session' )->isLoggedIn()): ?>
<div class="reset-password fieldset">
 	<ul class="form-list">
 		<li>
 			<div class="input-box">
 				<input type="password" placeholder="<?php echo $this->__('Please enter new password')?>"  value="" id="password" class="input-text required-entry " title="password">
 			</div>
 		</li>
 		<li>
 			<div class="input-box">
 				<input type="password" placeholder="<?php echo $this->__('Please repeat new password')?>"  class="input-text required-entry" id="confirmation" title="confirmation">
 			</div>
 		</li>
 	</ul> 
</div>
<div class="reset-password-button">
	<a><?php echo $this->__('Complete')?></a>
</div>
<?php else: 
 	header("Location:".$this->getBaseUrl().'customer/account/login/'.""); 
	exit;
?>
<?php endif?>