<?php
//$_subtotal = (float)$this->getQuote()->getSubtotal();
//$_subtotalWithDiscount = (float)$this->getQuote()->getSubtotalWithDiscount();
//$_discountTotal = $_subtotal - $_subtotalWithDiscount;
//if($this->getQuote()->getUseRewardPoints()){
//	$_subtotal = (float)$this->getQuote()->getRewardCurrencyAmount();
//	$_discountTotal = $_subtotalWithDiscount + ($_subtotal - $_subtotalWithDiscount);
//}
?>

<?php
$_subtotal = (float) $this->getQuote()->getSubtotal();
$_subtotalWithDiscount = (float) $this->getQuote()->getSubtotalWithDiscount();
$_discountTotal = $_subtotal - $_subtotalWithDiscount;
if ($this->getQuote()->getUseRewardPoints()) {
    $_rewarddiscount = (float) $this->getQuote()->getRewardCurrencyAmount();
    $_discountTotal = $_discountTotal + $_rewarddiscount;
}
?>

<div class="checkout-jz-button-an">
    <div class="button-set" id="checkout-review-submit">
        <button <?php if (!$this->getQuote()->validateMinimumAmount()): ?>disabled="disabled"<?php endif; ?>
                                                                          onclick="checkout.LightcheckoutSubmit()" id="submit-btn" type="button"
                                                                          title="<?php echo $this->__('Place Order') ?>"
                                                                          class="button btn-checkout <?php if (!$this->getQuote()->validateMinimumAmount()): ?>disabled<?php endif; ?>">
            <span><span><?php echo $this->__('Place Order') ?></span></span>
        </button>

        <div class="totals">
            <?php echo $this->getChildHtml('totale_complessivo') ?>
        </div>
        <?php if ($_discountTotal !== (float) 0): ?>
            <div class="risparmiato">
                <span class="word"><?php echo $this->__('Hai risparmiato:') ?></span>
                <span class="money"><?php echo Mage::helper('core')->currency($_discountTotal); ?></span>
            </div>
        <?php endif; ?>
    </div>

    <div class="fix-onepage-total">
        <div class="checkout-jz-button-an">
            <div class="button-set" id="checkout-review-submit">
                <button <?php if (!$this->getQuote()->validateMinimumAmount()): ?>disabled="disabled"<?php endif; ?>
                                                                                  onclick="checkout.LightcheckoutSubmit()" id="submit-btn" type="button"
                                                                                  title="<?php echo $this->__('Place Order') ?>"
                                                                                  class="button btn-checkout <?php if (!$this->getQuote()->validateMinimumAmount()): ?>disabled<?php endif; ?>">
                    <span><span><?php echo $this->__('Place Order') ?></span></span>
                </button>

                <div class="totals">
                    <?php echo $this->getChildHtml('totale_complessivo') ?>
                </div>
                <?php if ($_discountTotal !== (float) 0): ?>
                    <div class="risparmiato">
                        <span class="word"><?php echo $this->__('Hai risparmiato:') ?></span>
                        <span class="money"><?php echo Mage::helper('core')->currency($_discountTotal); ?></span>
                    </div>
                <?php endif; ?>
            </div>
        </div>
    </div>
</div>