<?php
    $_helper = $this->helper('catalog/output');
    $_product = $this->getProduct();
    $_compareUrl=$this->helper('catalog/product_compare')->getAddUrl($_product);
    $_coreHelper = Mage::helper('core');
    $_taxHelper  = Mage::helper('tax');
    $price_array = array();
    $product_ids = $_product->getTypeInstance()->getChildrenIds($_product->getId());
    foreach ($product_ids as $ids) {
		foreach ($ids as $id) {
					  $product = Mage::getModel('catalog/product')->load($id);
					  $price_array[] = $product->getFinalPrice();
		}
    }
    $chkrsummary=Mage::app()->getStore()->getConfig('lboxdetail_section/lboxdetail_general/showratingsummary');
    $showshortdesp=Mage::app()->getStore()->getConfig('lboxdetail_section/lboxdetail_general/showshortdesp');
    $showfulldesp=Mage::app()->getStore()->getConfig('lboxdetail_section/lboxdetail_general/showfulldesp');
    $showattr=Mage::app()->getStore()->getConfig('lboxdetail_section/lboxdetail_general/showattr');
    $chkmoreinfotab=Mage::app()->getStore()->getConfig('lboxdetail_section/lboxdetail_general/showmoreinfotab');
    $chkreviewtab=Mage::app()->getStore()->getConfig('lboxdetail_section/lboxdetail_general/showreviewtab');
    $chkstock=Mage::app()->getStore()->getConfig('lboxdetail_section/lboxdetail_general/stockavailable');
    $wishlistlink=Mage::app()->getStore()->getConfig('lboxdetail_section/lboxdetail_general/wishlistlink');
    $prevnextlink=Mage::app()->getStore()->getConfig('lboxdetail_section/lboxdetail_general/prevnext');
?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>

<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/lib/elevatezoom/jquery.elevatezoom.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/lib/elevatezoom/jquery.elevateZoom-3.0.8.min.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/app.js') ?>"></script>

<div class="product-quickviewinner">
    <div class="product-img-box"><?php echo $this->getChildHtml('media'); ?></div>
    <div class="product-shop">
	<div class="tab-box"> 
		<a id="cont-1" class="tabLink activeLink" style="cursor: pointer">Product Details</a> 
		<a id="cont-2" class="tabLink" style="cursor: pointer;<?php  if($chkmoreinfotab==0){ echo 'display:none'; }?>">More Information</a> 
		<a id="cont-3" class="tabLink" style="cursor: pointer;<?php  if($chkreviewtab==0){ echo 'display:none';} ?>">Reviews</a> 
	</div>
	<div id="cont-1-1" class="tabcontent paddingAll">
		  <div class="product-name"><h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1></div>
		  <?php if($chkrsummary==1){ ?>
		  <?php echo $this->getReviewsSummaryHtml($_product, false, true)?>
		  <?php } ?>
		  <?php if($showshortdesp==1){ ?>
		  <div class="short-description"><h2>Quick Overview</h2><?php echo $_product->getShortDescription();?></div>
		  <?php } ?>
	</div>
	<?php if($chkmoreinfotab==1){ ?>
	<div id="cont-2-1" class="tabcontent paddingAll hide">
	      <div class="additional">
		  <?php if($showfulldesp==1){ ?>
		  <div class="short-description"><h2>Quick Overview</h2><?php echo $_product->getDescription();  ?></div>
		  <?php } ?>
		  <?php if($showattr==1){ ?>
		  <?php   echo $this->getLayout()->createBlock("catalog/product_view_attributes")->setTemplate("lightboxdetail/attributes.phtml")->toHtml();  ?>
		  <?php } ?>
	      </div>
	 </div>
	<?php } ?>
	<?php if($chkreviewtab==1){ ?>
	<div id="cont-3-1" class="tabcontent paddingAll review-tab hide">
	      <?php  echo $this->getLayout()->createBlock("review/product_view_list")->setTemplate("lightboxdetail/reviewlist.phtml")->toHtml(); ?>
	</div>
	<?php } ?>
	<div class="mgkoptions">
	      <div class="mgkpriceavail">
		<?php echo $this->getPriceHtml($_product, false, '_clone') ?>
		<?php  if($chkstock==1){echo $this->getChildHtml('product_type_availability');} ?>
		<?php echo $this->getChildHtml('product_type_data');  ?>
	      </div>
		<form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="order-form"  <?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
			<?php if($_product->isSaleable()): ?>
				<?php if($this->hasOptions()): ?>
					<?php echo $this->getChildChildHtml('container1', '', true, true) ?>
					<?php echo $this->getChildChildHtml('container2', '', true, true) ?>
				<?php endif; ?>
				<?php echo $this->getChildHtml('addtocart') ?>
			<?php endif; ?>
			<?php if(!Mage::getStoreConfig('checkout/cart/redirect_to_cart')){?>
			<input type="hidden" name="return_url" value="<?php echo $categoryURL; ?>" />
			<?php } ?>
		</form>
	</div>
	<div id="mcquickview-footer">
		<?php if($wishlistlink==1){ ?>
		  <ul class="add-to-links">
		      <li><div align="left"><a href="<?php echo Mage::helper("wishlist")->getAddUrl($_product);?>">Add to Wishlist</a> <!--<span>| </span> <a href="<?php //echo $_compareUrl; ?>">Add to Compare</a>--></div></li>
                  </ul>
		<?php } ?>
		  <a class="detail-link" href="<?php echo $_product->getProductUrl();?>"><strong>Go to detail page »</strong></a>  
	</div>
	<?php if($prevnextlink==1): ?>
	<?php // Previous and Next product links in product page
	      $_product = $this->getProduct();
	      if(!$_product->getCategoryIds())
		  return; // Don't show Previous and Next if product is not in any category
     
	      $cat_ids = $_product->getCategoryIds(); // get all categories where the product is located
	      $cat = Mage::getModel('catalog/category')->load( $cat_ids[0] ); // load first category, you should enhance this, it works for me
	      $order = Mage::getStoreConfig('catalog/frontend/default_sort_by');
	      $direction = 'asc'; // asc or desc
	      $category_products = $cat->getProductCollection()->addAttributeToSort($order, $direction);
	      $category_products->addAttributeToFilter('status',1); // 1 or 2
	      $category_products->addAttributeToFilter('visibility',4); // 1.2.3.4
	      $cat_prod_ids = $category_products->getAllIds(); // get all products from the category
	      $_product_id = $_product->getId();
	      $_pos = array_search($_product_id, $cat_prod_ids); // get position of current product
	      $_next_pos = $_pos+1;
	      $_prev_pos = $_pos-1;
     
	      // get the next product url
	      if( isset($cat_prod_ids[$_next_pos]) ) {
	      $_next_prod = Mage::getModel('catalog/product')->load( $cat_prod_ids[$_next_pos] );
	      } else {
	      $_next_prod = Mage::getModel('catalog/product')->load( reset($cat_prod_ids) );
	      }
	      // get the previous product url
	      if( isset($cat_prod_ids[$_prev_pos]) ) {
	      $_prev_prod = Mage::getModel('catalog/product')->load( $cat_prod_ids[$_prev_pos] );
	      } else {
	      $_prev_prod = Mage::getModel('catalog/product')->load( end($cat_prod_ids) );
	      }

    ?><div id="mcquickview-prevnext">
	    <div class="product-next-prev">
		<?php if($_next_prod != NULL): ?>
			  <a href="#" id="mgknext" class="mgkviewlightbox" data-url="<?php echo Mage::getBaseUrl(), 'lightboxdetail/ajax_index/view/id/', $_next_prod->getId() ?>/"></a>
		<?php endif; ?>  
		<?php if($_prev_prod != NULL): ?>
		      <a href="#" id="mgkprev" class="mgkviewlightbox" data-url="<?php echo Mage::getBaseUrl(), 'lightboxdetail/ajax_index/view/id/', $_prev_prod->getId() ?>/"></a>
		<?php endif; ?>    
	    </div>
</div>
      <?php endif; ?>  <!-- Endif Next Previous Product -->
  </div>
</div>

<script type="text/javascript">
    var productAddToCartForm = new VarienForm('order-form');
    productAddToCartForm.submit = function(button, url) {
        if (this.validator.validate()) {
            var form = this.form;
            var oldUrl = form.action;
 
            if (url) {
               form.action = url;
            }
 
            var e = null;
            this.form.action = oldUrl;
	    form.submit();
 
            if (e) {
                throw e;
            }
 
            if (button && button != 'undefined') {
                button.disabled = true;
            }
 
	    return false;
        }
    }.bind(productAddToCartForm);
</script> 
<script type="text/javascript">
  jQuery(document).ready(function() {
    jQuery(".tabLink").each(function(){
      jQuery(this).click(function(){
	tabeId = jQuery(this).attr('id');
        jQuery(".tabLink").removeClass("activeLink");
        jQuery(this).addClass("activeLink");
        jQuery(".tabcontent").addClass("hide");
        jQuery("#"+tabeId+"-1").removeClass("hide")   
        return false;	  
      });
    });  
  });
</script>
<?php echo $this->getLayout()->createBlock("core/template")->setTemplate("lightboxdetail/productlightbox.phtml")->toHtml(); ?>


