<div class="product-img-box">
    <div class="product-image product-image-zoom">
        <div class="product-image-gallery">
            <img id="image-main" class="gallery-image visible" src="http://eu2.cloudhy.com/media/catalog/product/cache/5/image/9df78eab33525d08d6e5fb8d27136e95/c/s/cs.jpg" alt="aquafresh denitifricio tripla protezione - tubo 75 ml" title="aquafresh denitifricio tripla protezione - tubo 75 ml">
        </div>
    </div>

    <div class="more-views">
        <ul class="product-image-thumbs">
            <li>
                <a class="thumb-link" href="#" title="" data-image-index="0">
                    <img src="http://eu2.cloudhy.com/media/catalog/product/cache/5/thumbnail/122x/9df78eab33525d08d6e5fb8d27136e95/c/s/cs.jpg" width="128" height="128" alt="">
                </a>
            </li>
            <li>
                <a class="thumb-link" href="#" title="" data-image-index="0">
                    <img src="http://eu2.cloudhy.com/media/catalog/product/cache/5/thumbnail/122x/9df78eab33525d08d6e5fb8d27136e95/c/s/cs.jpg" width="128" height="128" alt="">
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="product-view-detail">
    <div class="product-detail">
        <div class="product-shop">
            <div class="product-brand">
                Codice articolo:200014                                           
            </div>
            <div class="product-name">
                <span class="h1">
                    barilla spaghettini kg.1                            
                </span>
            </div>
            <div class="product-weight">
                GR.0                        
            </div>
            <div class="product-price">
                <div class="word">
                    PREZZO                            
                </div>
                <div class="price-box">
                    <span class="price-symbol">€</span>
                    <span class="regular-price" id="product-price-468">5.00</span>
                </div>
                <div class="product-price-weight">
                    (EUR 0.00 / KG)                            
                </div>
            </div>
            <div class="product-reviews">
                <div class="product-reviews-title">
                    RECENSIONI CLIENTI                                
                </div>
                <div class="product-reviews-xing">
                    <span class="rating-box"><span class="rating" style="width: 100%"></span></span>
                </div>
            </div>
            <div class="product-info">
                <p class="f1">
                    <span class="word">
                        Improto minimo di spesa complessiva:                                
                    </span>
                    <span class="money">
                        EUR19.00
                    </span>
                </p>
                <p class="f2">
                    <span>
                        Tutti i prezzi sono comprensivi di IVA                                
                    </span>
                </p>
                <p class="f3">
                    <span class="word">
                        Numero max pezzi acquistabili per ogni persone:                                
                    </span>
                    <span class="num">
                        10000                                
                    </span>
                </p>
            </div>
            <div class="product-Qty">
                PEZZI DISPONIBILI:
                88888888                        
            </div>
        </div>
        <div class="country-of-manufacture"> 
            <span class="word">Provinienza:</span><br>
            <span class="word">Allergeni contenuti in questo prodotto:</span>
        </div>
        <div class="add-to-cart-wrapper">
            <div class="add-to-box">
                <div class="add-to-cart">
                    <div class="qty-cart-money">
                        <div class="qty-wrapper">
                            <label for="qty">Qtà:</label>
                            <div class="qty-decrease">
                                <i class="decrease_num"></i>
                            </div>
                            <input type="text" pattern="\d*" name="qty" id="qty" maxlength="12" value="1" title="Qtà" class="input-text qty" max="1000" readonly="readonly">
                            <div class="qty-increase">
                                <i class="increase_num"></i>
                            </div>
                        </div>
                        <div class="qty-money">
                            <img src="http://eu2.cloudhy.com/skin/frontend/magease/theme/images/product-money-cart.png">
                            <span class="money-symbol">
                                €                    
                                <span class="money">
                                    5                    
                                </span>
                            </span>
                        </div>
                    </div>

                    <div class="add-to-cart-buttons">
                        <button type="button" title="Aggiungi al carrello" class="button btn-cart"><span><span>Aggiungi al carrello</span></span></button>
                    </div>
                </div>
            </div>
            <div class="shipping-time">
                <div class="word">
                    <i></i>CONERGNIAMO TUTTI I GIORNI DALLE 8:00 alle 22:00                            
                </div>
            </div>
        </div>
    </div>
</div>
