<?php
$_helper = $this->helper('catalog/output');
$_product = $this->getProduct();
$_compareUrl = $this->helper('catalog/product_compare')->getAddUrl($_product);
$_coreHelper = Mage::helper('core');
$_taxHelper = Mage::helper('tax');
$price_array = array();
$product_ids = $_product->getTypeInstance()->getChildrenIds($_product->getId());
foreach ($product_ids as $ids) {
    foreach ($ids as $id) {
        $product = Mage::getModel('catalog/product')->load($id);
        $price_array[] = $product->getFinalPrice();
    }
}
$chkrsummary = Mage::app()->getStore()->getConfig('lboxdetail_section/lboxdetail_general/showratingsummary');
$showshortdesp = Mage::app()->getStore()->getConfig('lboxdetail_section/lboxdetail_general/showshortdesp');
$showfulldesp = Mage::app()->getStore()->getConfig('lboxdetail_section/lboxdetail_general/showfulldesp');
$showattr = Mage::app()->getStore()->getConfig('lboxdetail_section/lboxdetail_general/showattr');
$chkmoreinfotab = Mage::app()->getStore()->getConfig('lboxdetail_section/lboxdetail_general/showmoreinfotab');
$chkreviewtab = Mage::app()->getStore()->getConfig('lboxdetail_section/lboxdetail_general/showreviewtab');
$chkstock = Mage::app()->getStore()->getConfig('lboxdetail_section/lboxdetail_general/stockavailable');
$wishlistlink = Mage::app()->getStore()->getConfig('lboxdetail_section/lboxdetail_general/wishlistlink');
$prevnextlink = Mage::app()->getStore()->getConfig('lboxdetail_section/lboxdetail_general/prevnext');
?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>

<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/lib/elevatezoom/jquery.elevateZoom-3.0.8.min.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/configurableswatches/product-media.js') ?>"></script>
<!--<script type="text/javascript" src="<?php //echo $this->getSkinUrl('js/configurableswatches/swatches-product.view.js') ?>"></script>-->
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/app.js') ?>"></script> 

<div class="product-img-box">
    <?php echo $this->getChildHtml('media'); ?>
</div>
<div class="product-view-detail">
    <div class="product-detail">
        <div class="product-shop">
            <div class="product-brand">
                <?php echo $this->__('Codice articolo:') ?><?php echo $_product->getSku() ?>
            </div>
            <div class="product-name">
                <span class="h1">
                    <a href="<?php echo $_product->getProductUrl(); ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a>
                </span>
            </div>

            <?php if ($_product->isSaleable() && $this->hasOptions()): ?>
                <div class="add-to-cart-wrapper">
                    <div class="product-weight">
                        <?php if ($_product->getStandard()): ?>
                            <?php if ($_product->getFinalPrice() != $_product->getPrice()): ?>
                                <span class="x-dj">
                                    <?php echo Mage::helper('checkout')->formatPrice($_product->getFinalPrice() / $_product->getStandard()) . '/' . $_product->getUnit() ?>
                                </span>
                            <?php endif; ?>
                            <span class="y-dj">
                                <?php echo Mage::helper('checkout')->formatPrice($_product->getPrice() / $_product->getStandard()) . '/' . $_product->getUnit() ?>
                            </span>
                        <?php endif; ?>
                    </div>
                    <div class="product-price">
                        <?php echo $this->getPriceHtml($_product, false, '_clone') ?>
                        <?php //echo $this->getChildHtml('bundle_prices') ?>
                        <?php //echo $this->getTierPriceHtml() ?>
                        <div class="quickview-wish">
                            <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><img src="<?php echo $this->getSkinUrl('images/wish.png') ?>"><span class="word"><?php echo $this->__('Preferiti') ?></span></a>
                        </div>
                        <?php echo $this->getChildHtml('product_type_data'); ?>
                    </div> 
                    <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="order-form"  <?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
                        <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
                        <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
                        <script type="text/javascript">
                            var swatchesConfig = new Product.ConfigurableSwatches(spConfig);
                        </script>
                        <?php echo $this->getChildHtml('addtocart') ?>
                    </form>
                </div>
            <?php else: ?>
                <div class="product-weight">
                    <?php echo $_product->getStandardUnit() ?>
                    <?php if ($_product->getStandard()): ?>
                        <div class="product-price-weight"><span class="price-code"><?php echo '(' . Mage::app()->getStore()->getCurrentCurrencyCode() ?></span>
                            <?php echo sprintf("%.2f", $_product->getFinalPrice() / $_product->getStandard()) . '/' . $_product->getUnit() . ')' ?></div>
                    <?php endif; ?>
                </div>
                <div class="product-price">
                    <?php echo $this->getPriceHtml($_product); ?>
                    <?php echo $this->getChildHtml('bundle_prices') ?>
                    <?php echo $this->getTierPriceHtml() ?>
                    <div class="quickview-wish">
                        <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><img src="<?php echo $this->getSkinUrl('images/wish.png') ?>"><span class="word"><?php echo $this->__('Preferiti') ?></span></a>
                    </div>
                </div>
                <?php echo $this->getChildHtml('view.info') ?>
            <?php endif; ?>
        </div>
        <div class="add-to-cart-wrapper">
            <?php echo $this->getChildHtml('product_type_data') ?>
            <?php echo $this->getChildHtml('extrahint') ?>
            <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="order-form"  <?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
                <?php if (!$this->hasOptions()): ?>
                    <div class="add-to-box">
                        <?php if ($_product->isSaleable()): ?>
                            <?php echo $this->getChildHtml('addtocart') ?>
                        <?php endif; ?>
                    </div>
                    <?php echo $this->getChildHtml('extra_buttons') ?>
                <?php elseif (!$_product->isSaleable()): ?>
                    <div class="add-to-box">
                    </div>
                <?php endif; ?>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var productAddToCartForm = new VarienForm('order-form');
    productAddToCartForm.submit = function(button, url) {
        if (this.validator.validate()) {
            var form = this.form;
            var oldUrl = form.action;

            if (url) {
                form.action = url;
            }
            var e = null;

            if (!url) {
                url = jQuery('#order-form').attr('action');
            }
            url = url.replace("checkout/cart", "ajax/cart");
            var data = jQuery('#order-form').serialize();
            data += '&isAjax=1';
            try {
                jQuery.ajax({
                    url: url,
                    dataType: 'json',
                    type: 'post',
                    data: data,
                    success: function(data) {
                        setAjaxData(data, false);
                        headerMiniCart();
                        jQuery("#mcquickview-close").trigger("click");
                    }
                });
            } catch (e) {
            }

            this.form.action = oldUrl;
            if (e) {
                throw e;
            }
        }
    }.bind(productAddToCartForm);
</script>

