<?php if(Mage::getSingleton( 'customer/session' )->isLoggedIn()): ?>
<div class="customer-couponcode">
   <ul>
   		<li>
   			<div class="couponcode-all">
   				<div class="couponcode-left">
   					<p class="left-1"><?php echo $this->__(' Gift ')?></p>
   					<p class="left-2"><?php echo $this->__('Full 168 used')?></p>
   				</div>
   				<div class="couponcode-right">
   					<p class="right-1"><span class="num">YHQ16030805</span><span class="date"><?php echo $this->__('3.9 used')?></span></p>
   					<p class="right-2"><?php echo $this->__('White Valentines day, full 168 yuan to send zippexxxxxxxxxxxxx 4 box')?></p>
   				</div>
   			</div>
   		</li>
         <li>
            <div class="couponcode-all">
               <div class="couponcode-left">
                  <p class="left-1"><?php echo $this->__(' Gift ')?></p>
                  <p class="left-2"><?php echo $this->__('Full 168 used')?></p>
               </div>
               <div class="couponcode-right">
                  <p class="right-1"><span class="num">YHQ16030805</span><span class="date"><?php echo $this->__('3.9 used')?></span></p>
                  <p class="right-2"><?php echo $this->__('White Valentines day, full 168 yuan to send zippexxxxxxxxxxxxx 4 box')?></p>
               </div>
            </div>
         </li>
         <li>
            <div class="couponcode-all">
               <div class="couponcode-left">
                  <p class="left-1"><?php echo $this->__(' Gift ')?></p>
                  <p class="left-2"><?php echo $this->__('Full 168 used')?></p>
               </div>
               <div class="couponcode-right">
                  <p class="right-1"><span class="num">YHQ16030805</span><span class="date"><?php echo $this->__('3.9 used')?></span></p>
                  <p class="right-2"><?php echo $this->__('White Valentines day, full 168 yuan to send zippexxxxxxxxxxxxx 4 box')?></p>
               </div>
            </div>
         </li>
         <li>
            <div class="couponcode-all">
               <div class="couponcode-left">
                  <p class="left-1"><?php echo $this->__(' Gift ')?></p>
                  <p class="left-2"><?php echo $this->__('Full 168 used')?></p>
               </div>
               <div class="couponcode-right">
                  <p class="right-1"><span class="num">YHQ16030805</span><span class="date"><?php echo $this->__('3.9 used')?></span></p>
                  <p class="right-2"><?php echo $this->__('White Valentines day, full 168 yuan to send zippexxxxxxxxxxxxx 4 box')?></p>
               </div>
            </div>
         </li>
   </ul>
</div>
<?php else: 
 	header("Location:".$this->getBaseUrl().'customer/account/login/'.""); 
	exit;
?>
<?php endif?>