<div class="bg"></div>
<div class="mfp-wrap">
	<div class="mfp-container">
		<div class="mfp-content">
			<div id="customer-origin-chooser" class="white-popup">
				<div class="header-top">
					<span class="barra-verde"></span> 
					<a class="logo" href="<?php echo $this->getUrl('') ?>">
						<img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" class="large" width="40%"/>
					</a>
					<span class="barra-verde"></span> 
				</div>
				<form mathod="post" name="cap-chooser"  action="">
					<div class="cap-chooser-title">
						<?php echo $this->__('Dove vuoi ricevere la tua spesa a domicilio')?>
					</div>
					<div class="cap-chooser-delivery">
						<div class="area-of-conversion">
							<div class="area">
								<img src="<?php echo $this->getSkinUrl('/images/yb-code-ita.png')?>">
							</div>
							<ul class="conversion" style="display: none;">
								<li><img src="<?php echo $this->getSkinUrl('/images/yb-code-ita.png')?>"></li>
								<li><img src="<?php echo $this->getSkinUrl('/images/yb-code-ita1.png')?>"></li>
								<li><img src="<?php echo $this->getSkinUrl('/images/yb-code-ita2.png')?>"></li>
							</ul>
							<script type="text/javascript">
								$j('.area-of-conversion .area').click(function(){
									$j(this).next('ul.conversion').show();
								})
								$j('.area-of-conversion ul.conversion li img').click(function(){
									$j('.area-of-conversion .area img').attr("src",$j(this).attr("src"));
									$j('.area-of-conversion ul.conversion').hide();
								})
							</script>
						</div>
						<input type="text" name="cap" id="cap" class="validate-zip" placeholder="Inserisci CAP"/>
					</div>
					<div class="cap-chooser-title-t2">
						<span class="barra-piccola left"></span> 
						<span class="barra-piccola-title"><?php echo $this->__('Spese di spedizione fisse € 3.50')?></span>
						<span class="barra-piccola right"></span> 
					</div>
					<div for="my-form" class="my-form">
						<p>
							<span class="yb-code-remark"></span>
							<span>
								<?php echo $this->__("Al momento Weygo consegna la spesa a domicilio solo nei CAP appartenenti al Comune di Milano.")?>
							</span>
						</p>
						<p>
							<span class="yb-code-remark"></span>
							<span>
								<?php echo $this->__(" Prossimamente Weygo estenderà l’area delle consegne a domicilio.")?>
							</span>
						</p>
						<p>
							<span class="yb-code-remark"></span>
							<span>
								<?php echo $this->__("Se il tuo CAP di residenza adesso non è servito, torna a trovarci.")?>
							</span>
						</p>
						<p class="p-last">
							<span>
								<?php echo $this->__("Sito di proprieta di Euroright Switzerland SA con sede in Via Emillo Bossi 23, CH - 6830 Chiasso.")?>
							</span>
						</p>
					</div>
					<div class="action-buttons">
						<button class="button close-modal guest-navigation"><?php echo $this->__("REGISTRARE")?></button>
					</div>
				</form>
				<div class="remove-shut">
					<span class="pic"></span>
					<span class="word"><?php echo $this->__('CHIUSO')?></span>
				</div>
			</div>
		</div>
	</div> 
</div>

<script type="text/javascript">
	$j('.remove-shut').click(function(){
		$j('.delivery-content').hide();
	})
</script>').hide();
	})
</script>