<div class="delivery-content" style="display: none;">
	<?php echo $this->getLayout()->createBlock("page/html_header")->setTemplate("page/html/delivery.phtml")->toHtml();?>
</div>
<div class="header-language-background">
    <div class="header-language-container">
        <div class="col-1">
            <div class="deliver dropdown">
                <a id="select-deliver" title="<?php echo $this->__("Delivery")?>"><?php echo $this->__("Milano")?><img src="<?php echo $this->getSkinUrl('images/homepage-xiala.png')?>"></a>
                <div class="deliver-content" style="display: none;">
                    <ul>
                        <li><a ><?php echo $this->__("Milano")?></a></li>
                    </ul>
                </div>
            </div>
            <div class="store-language-container">
                <?php echo $this->getChildHtml('store_language') ?>
            </div>
            <!--<div class="app dropdown">
                <a><?php echo $this->__("APP")?><img src="<?php echo $this->getSkinUrl('images/homepage-xiala.png')?>"></a>
                <div class="app-content" style="display: none;">
                    <?php echo $this->getLayout()->createBlock("cms/block")->setBlockId("app")->toHtml();?>
                </div>
            </div>-->
            <div class="delivery">
                <a href="#">CAP: <b><?php
                        $_customerOriginCap = Mage::getSingleton('checkout/session')->getCustomerOriginCap();
                        if ($_customerOriginCap !== null):
                            echo $this->__($_customerOriginCap);
                        else:
                            echo $this->__('Delivery');
                        endif;
                        ?>
                    </b></a>
                <script type="text/javascript">
                    jQuery(".col-1 .delivery a").click(function() {
                        jQuery(".delivery-content").show();
                    });
                </script>
            </div>
            <script type="text/javascript">
                jQuery(".header-language-container .dropdown").mouseover(function(){
                    jQuery(this).children("div").show();
                    jQuery(this).children("a").children("img").attr("src","<?php echo $this->getSkinUrl('images/homepage-shangla.png')?>")
                });
                jQuery(".header-language-container .dropdown").mouseout(function(){
                    jQuery(this).children("div").hide();
                    jQuery(this).children("a").children("img").attr("src","<?php echo $this->getSkinUrl('images/homepage-xiala.png')?>")
                });
            </script>
            <?php echo $this->getChildHtml('currency_switcher') ?>
        </div>
        <div class="small-logo">
            <a class="logo" href="<?php echo $this->getUrl('') ?>">
                <img src="<?php echo $this->getLogoSrcSmall() ?>" alt="<?php echo $this->getLogoAlt() ?>" class="small" height="59"/>
            </a>
        </div>
        <div id="header-search" class="search-content col-2">
            <?php echo $this->getChildHtml('topSearch') ?>
        </div>
        <div class="col-3">
            <div class="content">
                <?php echo $this->getChildHtml('topLinks') ?>
            </div>
        </div>
        <div class="account-cart-wrapper col-4">
            <div class="header-minicart">
                <?php echo $this->getChildHtml('minicart_head'); ?>
            </div>
        </div>
    </div>
</div>

<div class="top-heads clearfix">
  <div class="top-head-inner">
    <h1 class="logos fl">
        <a class="logo" href="<?php echo $this->getUrl('') ?>">
            <img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" class="large" />
            <img src="<?php echo $this->getLogoSrcSmall() ?>" alt="<?php echo $this->getLogoAlt() ?>" class="small" />
        </a>
    </h1>
    <ul class="step step-2 fr">
     <li class="shopping-car current"><a href="<?php echo $this->getUrl('checkout/cart')?>"><?php echo $this->__("Cart")?></a></li>
     <li class="check-out current"><?php echo $this->__("Checkout")?></li>
     <li class="order-success "><?php echo $this->__("Checkout Success")?></li>
   </ul>
 </div>
</div>




