<div class="header-language-background">
    <div class="header-language-container">
        <div class="col-1">
            <div class="deliver dropdown">
                <a id="select-deliver" title="<?php echo $this->__("Delivery")?>"><?php echo $this->__("Milano")?></a>
                <div class="deliver-content" style="display: none;">
                    <ul>
                        <li><a ><?php echo $this->__("Milano")?></a></li>
                    </ul>
                </div>
            </div>
            <div class="store-language-container">
                <?php echo $this->getChildHtml('store_language') ?>
            </div>
            <div class="app dropdown">
                <a><?php echo $this->__("APP")?></a>
                <div class="app-content" style="display: none;">
                    <?php echo $this->getLayout()->createBlock("cms/block")->setBlockId("app")->toHtml();?>
                </div>
            </div>
            <div class="zip-code">
                <a><?php echo $this->__("Zip Code")?></a>
            </div>
            <script type="text/javascript">
                jQuery(".header-language-container .dropdown").mouseover(function(){
                    jQuery(this).children("div").show();
                });
                jQuery(".header-language-container .dropdown").mouseout(function(){
                    jQuery(this).children("div").hide();
                });
            </script>
            <?php echo $this->getChildHtml('currency_switcher') ?>
        </div>
        <div class="small-logo">
            <a class="logo" href="<?php echo $this->getUrl('') ?>">
                <img src="<?php echo $this->getLogoSrcSmall() ?>" alt="<?php echo $this->getLogoAlt() ?>" class="small" height="59"/>
            </a>
        </div>
        <div id="header-search" class="search-content col-2">
            <?php echo $this->getChildHtml('topSearch') ?>
        </div>
        <div class="col-3">
            <div class="content">
                <?php echo $this->getChildHtml('topLinks') ?>
            </div>
        </div>
        <div class="account-cart-wrapper col-4">
            <div class="header-minicart">
                <?php echo $this->getChildHtml('minicart_head'); ?>
            </div>
        </div>
    </div>
</div>
<div class="top-heads clearfix">
  <div class="top-head-inner">
    <h1 class="logos fl">
    	<a class="logo" href="<?php echo $this->getUrl('') ?>">
            <img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" class="large" />
            <img src="<?php echo $this->getLogoSrcSmall() ?>" alt="<?php echo $this->getLogoAlt() ?>" class="small" />
        </a>
    </h1>
    <ul class="step step-2 fr">
     <li class="shopping-car current"><a href="<?php echo $this->getUrl('checkout/cart')?>"><?php echo $this->__("Cart")?></a></li>
     <li class="check-out current"><?php echo $this->__("Checkout")?></li>
     <li class="order-success "><?php echo $this->__("Checkout Success")?></li>
   </ul>
 </div>
</div>