<?php
/** @var Mage_Core_Block_Template $this */
$_helper = $this->helper('tunda_customeroriginchooser');
?>

<div class="bg"></div>
<div class="mfp-wrap">
	<div class="mfp-container">
		<div class="mfp-content">
			<div id="customer-origin-chooser" class="white-popup">
				<div class="header-top">
					<!-- <span class="barra-verde"></span>  -->
					<a class="logo" href="<?php echo $this->getUrl('') ?>">
						<img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" class="large" width="40%"/>
					</a>
					<!-- <span class="barra-verde"></span>  -->
					<div class="remove-shut">
						<span class="pic"></span>
					</div>
				</div>
				<form method="post" name="cap-chooser" id="cap-chooser"  action="<?php echo $_helper->getValidationUrl()?>">
					<div class="cap-chooser-title">
						<?php echo $this->__('Dove vuoi ricevere la tua spesa a domicilio?')?>
					</div>
					<div class="cap-chooser-delivery">
						<div class="area-of-conversion">
							<div class="area">
								<img src="<?php echo $this->getSkinUrl('/images/yb-code-ita.png')?>">
							</div>
							<ul class="conversion" style="display: none;">
								<li><img src="<?php echo $this->getSkinUrl('images/cap-jia.png')?>"></li>
							</ul>
							<script type="text/javascript">
								$j('.area-of-conversion .area').click(function(){
									$j(this).next('ul.conversion').show();
								})
								$j('.area-of-conversion ul.conversion li img').click(function(){
									$j('.area-of-conversion .area img').attr("src",$j(this).attr("src"));
									$j('.area-of-conversion ul.conversion').hide();
								})
							</script>
						</div>
						<?php
						/** @var Mage_Core_Block_Template $this */
						$_helper = $this->helper('tunda_customeroriginchooser');
						?>

						<!--<select id="cap" name="cap" onchange="this.form.submit();">
							<?php
							$_capList = $_helper->getCapListAsOptionArray();
							foreach ($_capList as $_cap) :
								?>
								<option value="<?php echo $_cap['value'] ?>"><?php echo $_cap['label'] ?></option>
							<?php endforeach; ?>
						</select>-->
						<input type="text" name="cap" id="cap" class="validate-zip" placeholder="Inserisci CAP"/>
					</div>
					<div class="cap-chooser-title-t2">
						<p class="barra-piccola-error hide"><?php echo $this->__('Il tuo CAP non è servito al momento, torna a trovarci!')?></p>
					    <span class="barra-piccola left"></span> 
						<span class="barra-piccola-title"><?php echo $this->__('Spese di spedizione € 3.50')?></span>
						<span class="barra-piccola right"></span> 
					</div>
					<div for="my-form" class="my-form">
						<p>
							<span class="yb-code-remark"></span>
							<span>
								<?php echo $this->__("Al momento Weygo consegna la spesa a domicilio solo nei CAP appartenenti al Comune di Milano.")?>
							</span>
						</p>
						<p>
							<span class="yb-code-remark"></span>
							<span>
								<?php echo $this->__(" Prossimamente Weygo estenderà l’area delle consegne a domicilio.")?>
							</span>
						</p>
						<p>
							<span class="yb-code-remark"></span>
							<span>
								<?php echo $this->__("Se il tuo CAP di residenza adesso non è servito, torna a trovarci.")?>
							</span>
						</p>
						<div class="p-last">
							<div>
								<?php echo $this->__("Sito di proprieta di Euroright Switzerland SA")?>
							</div>
							<div>
								<?php echo $this->__("con sede in Via Emillo Bossi 23, CH - 6830 Chiasso.")?>
							</div>
						</div>
						<div class="action-buttons">
							<button class="button close-modal guest-navigation regisrati" id="originchooser-enter-site"><?php echo $this->__("Visita Weygo")?></button>
							<!-- <button class="button close-modal guest-navigation entra-nel-sito"><?php echo $this->__("Entra nel sito")?></button> -->
						</div>
					</div>
				</form>
			</div>
		</div>
	</div> 
</div>
<style>
	.hide{display:none;}
</style>
<script type="text/javascript">
	<?php
    	$_capList = $_helper->getCapList(); $_jsCapList = implode(',',$_capList);
    ?>
	var capList = [<?php echo $_jsCapList?>];


	var checkCap = function(){

		if($j.inArray(Number(jQuery('#cap').val()), capList) !== -1){
			$j('.barra-piccola-error').addClass('hide');
			$j('#cap-chooser').trigger('submit');
		}else{
			$j('.barra-piccola-error').removeClass('hide');
		}
	};

	$j('#cap').keypress(function(event) {
		if (event.which == 13) {
			event.preventDefault();
			checkCap();
		}
	});

	$j('#originchooser-enter-site').on('click', function(e){
		e.preventDefault();
		checkCap();
	});

	$j('.remove-shut').click(function(){
		Mage.Cookies.set('show-cap-modal', false);
		$j('.delivery-content').hide();
	})

</script>