<div class="view-bg"></div>
<div class="lpp-wrap">
    <div class="lpp-container">
        <div class="jt-content">
            <div class="white-popup">
                <div class="cancel-bt">
                    <img src="<?php echo $this->getSkinUrl('images/cancel-qx.png')?>">
                </div>
                <div class="hongdeng">
                    <img src="<?php echo $this->getSkinUrl('images/hongdeng.png')?>">
                </div>
                <div class="word-content">
                    <p><?php echo $this->__('L\'articolo selezionato è esaurito oppure')?></p>
                    <p><?php echo $this->__('è già stato raggiunto il numero massimo di pezzi acquistabili')?></p>
                    <p><?php echo $this->__('per questa tipologia di prodotto.')?></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $j('.lpp-container .cancel-bt').click(function(){
        $j('.over-stock').hide();
    })
</script>