<?php
 /**
 * GoMage LightCheckout Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2015 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 5.9
 * @since        Class available since Release 1.0
 */

 ?>

 <div class="field input-box-country <?php echo $this->getPrefix();?>-country">
 	<label for="<?php echo $this->getPrefix();?>_country_id" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
 	<div class="input-box">
 		<?php echo $this->getCountryHtmlSelect($this->getPrefix()); ?>
 	</div>
 </div>



 <style type="text/css">
 	.shipping-address .country-box, .shipping-address .input-box.shipping_city, .shipping-address .label_shipping_city{display:none;}
 </style>