<?php
 /**
 * GoMage LightCheckout Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2015 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 5.9
 * @since        Class available since Release 1.0
 */	
	
	$input_name 	= $this->getInputName();
	$input_id		= $this->getInputId();
	$input_value	= $this->getValue();
	$input_class	= $this->getInputClass();
	$label_class	= $this->getLabelClass();
	
	$required		= $this->getIsRequired();
	$validation_type = $this->getValidationType();
	$label			= $this->getLabel();
	
	
	$input_class .= ' input-text ';
	
	if($required){
		
		if(!$validation_type){
			$input_class .= 'required-entry absolute-advice'.' ';
		}else{
			$input_class .= $validation_type.' ';
		}
		
		$label_class .= ' required ';
		
	}
	
?>
<?php $_isDisabled = ($input_id === 'shipping_kwepostcode' && $input_value !== null ) ?  'readonly' : ''; ?>
<?php $_zipCodeValidationClass = ($input_id ==='shipping_postcode') ? 'weygo_zipcode' : ''; ?>
<?php if ($input_id === 'shipping_city') :
	$input_value = $this->__('Milano'); $_isDisabled = 'readonly';
endif;?>
<div class="field <?php echo $input_id;?>">
	<label for="<?php echo $input_id;?>" class="<?php echo $label_class . ' ' .'label_'.$input_id;?>"><?php if($required):?><em>*</em><?php endif;?><?php echo $this->__($label); ?></label>
	<div class="input-box">
		<input type="text" placeholder="<?php echo $this->__($label); ?>" <?php //echo $_isDisabled ?> name="<?php echo $input_name;?>" id="<?php echo $input_id;?>" value="<?php echo $this->htmlEscape($input_value) ?>" title="<?php echo $this->__($label); ?>" class="<?php echo $input_class.' '. $_zipCodeValidationClass;?> " />
	</div>
</div>
