<?php
/**
 * GoMage LightCheckout Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2015 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 5.9
 * @since        Class available since Release 1.0
 */
$required = $this->getIsRequired();
$validation_type = $this->getValidationType();


$input_class = ' input-text ';
$label_class = '';

if ($required) {

    if (!$validation_type) {
        $input_class .= 'required-entry absolute-advice' . ' ';
    } else {
        $input_class .= $validation_type . ' ';
    }

    $label_class .= ' required ';
}
?>


<div class="field field-first address-left">
    <label for="<?php echo $this->getPrefix(); ?>_street1" class="<?php echo $label_class; ?>"><?php if ($required): ?><em>*</em><?php endif; ?><?php echo $this->__('Address') ?></label>
    <div class="input-box">
        <textarea placeholder="<?php echo $this->__('Street Address') ?>" title="<?php echo $this->__('Street Address') ?>" name="<?php echo $this->getPrefix(); ?>[street][]" id="<?php echo $this->getPrefix(); ?>_street1" class="<?php echo $input_class; ?>" ><?php echo $this->htmlEscape($this->getAddress()->getStreet(1)) ?></textarea>
    </div>
</div>
<div class="field address-right">
    <div class="field field-last">
        <label for="<?php echo $this->getPrefix(); ?>_civico" class="<?php echo $label_class; ?>"><?php if ($required): ?><em>*</em><?php endif; ?><?php echo $this->__('Civico') ?></label>
        <div class="input-box">
            <input type="text" placeholder="<?php echo $this->__('Civico') ?>" title="<?php echo $this->__('Civico') ?>" name="<?php echo $this->getPrefix(); ?>[tunda_numero_civico]" id="<?php echo $this->getPrefix(); ?>_civico" value="<?php echo $this->htmlEscape($this->getAddress()->getTundaNumeroCivico()) ?>" class="<?php echo $input_class; ?>" />
        </div>
    </div>
    <div class="field field-last field-ascensore">
        <label for="<?php echo $this->getPrefix(); ?>_ascensore" class="ascensore required"><em>*</em><?php echo $this->__('Ascensore') ?></label>
        <?php if ($this->htmlEscape($this->getAddress()->getTundaAscensore()) == 1): ?>
            <input type="radio" name="<?php echo $this->getPrefix(); ?>[tunda_ascensore]" id="<?php echo $this->getPrefix(); ?>_ascensore" value="0"/><?php echo $this->__('No') ?>
            <input type="radio" name="<?php echo $this->getPrefix(); ?>[tunda_ascensore]" id="<?php echo $this->getPrefix(); ?>_ascensore" value="1" checked="checked"/><?php echo $this->__('Yes') ?>
        <?php elseif ($this->htmlEscape($this->getAddress()->getTundaAscensore()) == 0) : ?>
            <input type="radio" name="<?php echo $this->getPrefix(); ?>[tunda_ascensore]" id="<?php echo $this->getPrefix(); ?>_ascensore" value="0" checked="checked"/><?php echo $this->__('No') ?>
            <input type="radio" name="<?php echo $this->getPrefix(); ?>[tunda_ascensore]" id="<?php echo $this->getPrefix(); ?>_ascensore" value="1" /><?php echo $this->__('Yes') ?>
        <?php else : ?>
            <input type="radio" name="<?php echo $this->getPrefix(); ?>[tunda_ascensore]" id="<?php echo $this->getPrefix(); ?>_ascensore" value="0" /><?php echo $this->__('No') ?>
            <input type="radio" name="<?php echo $this->getPrefix(); ?>[tunda_ascensore]" id="<?php echo $this->getPrefix(); ?>_ascensore" value="1" /><?php echo $this->__('Yes') ?>
        <?php endif ?>
    </div>
</div>
<div class="input-box scala-citofono">
    <div class="fields">
        <div class="field field-first">
            <label for="<?php echo $this->getPrefix();?>_scala"><?php echo $this->__('Scala') ?></label>
            <input type="text" placeholder="<?php echo $this->__('Scala') ?>" title="<?php echo $this->__('Scala') ?>" name="<?php echo $this->getPrefix();?>[tunda_scala]" id="<?php echo $this->getPrefix();?>_scala" value="<?php echo $this->htmlEscape($this->getAddress()->getTundaScala()) ?>"  class="input-text" />
        </div>
        <div class="field field-last">
            <label for="<?php echo $this->getPrefix();?>_citofono" class="required"><?php echo $this->__('Citofono') ?></label>
            <input type="text" placeholder="<?php echo $this->__('Citofono') ?>" title="<?php echo $this->__('Citofono') ?>" name="<?php echo $this->getPrefix();?>[tunda_citofono]" id="<?php echo $this->getPrefix();?>_citofono" value="<?php echo $this->htmlEscape($this->getAddress()->getTundaCitofono()) ?>"  class="input-text required-entry" />
        <!--<input type="text" title="<?php echo $this->__('Ascensore') ?>" name="<?php echo $this->getPrefix();?>[tunda_ascensore]" id="<?php echo $this->getPrefix();?>_ascensore" value="<?php echo $this->htmlEscape($this->getAddress()->getTundaAscensore()) ?>" class="input-text"/>-->
        </div>
        <div class="field field-first">
            <label for="<?php echo $this->getPrefix();?>_consegna_piano" class="required"><?php echo $this->__('Consegna a quale piano?') ?></label>
            <input type="text" placeholder="<?php echo $this->__('Consegna a che piano?') ?>" title="<?php echo $this->__('Consegna a che piano?') ?>" name="<?php echo $this->getPrefix();?>[tunda_consegna_piano]" id="<?php echo $this->getPrefix();?>_consegna_piano" value="<?php echo $this->htmlEscape($this->getAddress()->getTundaConsegnaPiano()) ?>"  class="input-text required-entry" />
        </div>
    </div>
</div>

