<?php if ($_products = $this->getRecentlyViewedProducts()): ?>
    <?php $allRelatedProductIds = array(); ?>
    <?php foreach ($_products as $_item): ?>
        <!--                <li class="item">
                            <a href="<?php echo $this->getProductUrl($_item) ?>">
                                <span class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_item, 'thumbnail')->resize(50, 50)->setWatermarkSize('30x10'); ?>" width="50" height="50" alt="<?php echo $this->escapeHtml($this->getProductName()) ?>" /></span>
                            </a>
                            <div class="product-details">
                                <p class="product-name">
                                    <a href="<?php echo $this->getProductUrl($_item) ?>">
        <?php echo $this->helper('catalog/output')->productAttribute($_item, $_item->getName(), 'name') ?>
                                    </a>
                                </p>
                            </div>
                        </li>-->

        <?php
        $model = Mage::getModel('catalog/product');
        $product = $model->load($_item->getId());
        $allRelatedProductIds = array_merge($allRelatedProductIds, $product->getRelatedProductIds());
        if (count($allRelatedProductIds) > 9)
            break;
        ?>
    <?php endforeach; ?>
    <?php if (count($allRelatedProductIds)): ?>
        <div class="guessyoulike">
            <div class="like-products">
                <?php $_columnCount = 4; ?>
                <?php $i = 0; ?>
                <?php
                foreach ($allRelatedProductIds as $id):
                    $_product =  Mage::getModel('catalog/product')->load($id);
                    ?>
                    <?php if ($i % $_columnCount == 0): ?> 
                        <ul class="products-grid products-grid--max-<?php echo $_columnCount; ?>-col-widget">
                        <?php elseif ($i % $_columnCount == 0): ?>
                        </ul>
                    <?php endif; ?>
                    <li class="item<?php if ($i % $_columnCount == 0): ?> first<?php elseif ($i % $_columnCount == 0): ?> last<?php endif; ?>">
                        <?php // print_r($_product->getCategoryIds());?>
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>" class="product-image">
                            <?php $_imgSize = 290; ?>
                            <?php if ($_product->getIsSalable()): ?>
                                
                                <div class="quick-view"></div>
                                <div class="mgkviewlightbox quick-overview" id="mgkviewlightbox" data-url="<?php echo Mage::getBaseUrl(), 'lightboxdetail/ajax_index/view/id/', $_product->getId() ?>/"><?php echo $this->__('QUICK VIEW') ?></div>
                            <?php else: ?>
                                <div class="qh-out-of-stock"></div>
                                <p><?php echo $this->__('Out of stock') ?></p>
                            <?php endif; ?>
                            <img id="product-collection-image-<?php echo $_product->getId(); ?>"src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($_imgSize); ?>"alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                        </a>
                        <?php if ($_product->getFinalPrice() != $_product->getPrice()): ?>
                            <span class="sale">-<?php echo number_format((($_product->getPrice() - $_product->getFinalPrice()) / $_product->getPrice() * 100), 0) ?>%</span>
                        <?php endif; ?>
                        <div class="product-info">
                            <div class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getName(), 'name') ?></a></div>

                            <div class="actions">
                                <div class="left">
                                    <?php if ($_product->getTypeId() == 'bundle'): ?>
                                        <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
                                    <?php else: ?>
                                            <!-- <span class="remark"><?php echo $_product->getResource()->getAttribute('remark')->getFrontend()->getValue($_product) ?></span> -->
                                        <div class="left-middle">
                                            <div class="standard"><?php echo $_product->getStandardUnit() ?></div>
                                            <?php if ($_product->getStandard()): ?>
                                                <div class="dj-price"><span class="price-code"><?php echo Mage::app()->getStore()->getCurrentCurrencyCode() ?></span>
                                                    <?php echo sprintf("%.2f", $_product->getFinalPrice() / $_product->getStandard()) . '/' . $_product->getUnit() ?>
                                                </div>
                                            <?php endif; ?>
                                        </div>
                                    <?php endif; ?>
                                    <?php echo $this->getPriceHtml($_product, true) ?>
                    <!-- <span class="standard">(<?php echo $_product->getResource()->getAttribute('standard')->getFrontend()->getValue($_product) ?>)</span> -->
                                </div>


                                                    <!-- onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')" -->
                                <?php if (!$_product->canConfigure() && $_product->isSaleable()): ?>
                                    <div class="right">
                                        <button type="button" title="<?php echo $this->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart" onclick="setLocationAjax('<?php echo $this->getAddToCartUrl($_product) ?>', this)" ><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                    </div>
                                <?php elseif ($_product->getStockItem() && $_product->getStockItem()->getIsInStock()): ?>
                                    <!-- <a title="<?php echo $this->quoteEscape($this->__('View Details')) ?>" class="button" href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->__('View Details') ?></a>  -->
                                    <div class="right">
                                        <button type="button" title="<?php echo $this->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                    </div>
                                <?php else: ?>
                                    <p class="availability out-of-stock"><!-- <span><?php echo $this->__('Out of stock') ?></span> --></p>
                                <?php endif; ?>

                                <div class="list-wish"><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><img src="<?php echo $this->getSkinUrl('images/wish.png') ?>"></a></div>
                            </div>
                        </div>
                    </li>
                    <?php if (($i + 1) % $_columnCount == 0 || $i == count($allRelatedProductIds)): ?> 
                        </ul>
                    <?php endif; ?>
                    <?php $i++; ?>
                <?php endforeach; ?>
            </div>
            <span class="slideshow-like slideshow-prev-like" style="width: 27px;height: 50px;bottom: 190px;left: 0px;margin-left: -16px;">&nbsp;</span> 
            <span class="slideshow-like slideshow-next-like" style="width: 27px;height: 50px;bottom: 190px;right: 0px;margin-right: -16px;">&nbsp;</span>
        </div>
    <?php endif; ?>
<?php endif; ?>