<div class="recharge">
	<div class="top-content">
		<div class="balance">
			<div class="title"><?php echo $this->__("账户余额")?></div>
			<div class="content">$0.00</div>
		</div>
		<div class="recharge-contnet"><?php echo $this->__("现一次性充值满3000元即赠1年VIP会员服务")?></div>
	</div>
	<div class="content">
		<div class="block-title">
			<ul>
				<li id="o1" class="active">
					<a class="option active" id="1">账户充值</a>
				</li>
				<li id="o2">
					<a class="option" id="2">充值卡充值</a>
				</li>
			</ul>
		</div>
		<div class="block-content">
			<form id="addredeem-giftvoucher-1" method="post" action="">
				<ul class="onlineredeem">
					<li class="fields giftvoucher-type select-amount">
						<div class="field title"><?php echo $this->_("选择充值卡金额")?></div>
						<div class="field">
							<div class="input-box">
                                <p>单笔充<span class="red">1000元</span>得<span class="green">1050元 立省50元</span></p>

                                <a class="active">
                                    <input id="" name="payment_price" point="1050" value="1000" class="redeem-amount no-display" type="radio">
                                </a>
                            </div>
						</div>
						<div class="field">
							<div class="input-box">
                                <p>单笔充<span class="red">2000元</span>得<span class="green">2150元 立省150元</span></p>

                                <a class="active">
                                    <input id="" name="payment_price" point="1050" value="1000" class="redeem-amount no-display" type="radio">
                                </a>
                            </div>
						</div>
						<div class="field">
							<div class="input-box">
                                <p>单笔充<span class="red">3000元</span>得<span class="green">3250元 立省250元</span></p>

                                <a class="active">
                                    <input id="" name="payment_price" point="1050" value="1000" class="redeem-amount no-display" type="radio">
                                </a>
                            </div>
						</div>
						<div class="field">
							<div class="input-box">
                                <p>单笔充<span class="red">5000元</span>得<span class="green">5500元 立省500元</span></p>

                                <a class="active">
                                    <input id="" name="payment_price" point="1050" value="1000" class="redeem-amount no-display" type="radio">
                                </a>
                            </div>
						</div>
						<div class="clear"></div>
					</li>
					<li class="fields giftvoucher-type billing-invoice vip-field">
						<input type="checkbox" id="payment_invoince" value="has_invoince" class="checkbox"/>
						<label for="payment_invoince">需要发票</label>
						<div class="invoince-content">
							<div class="title">
								<input type="radio" id="invoince_person" name="invoince-title" value="invoince_person" checked="checked"/>个人
								<input type="radio" id="invoince_company" name="invoince-title" value="invoince_company"/>公司
							</div>
							<div class="content">
								<ul>
									<li class="invoice-title">
										<label class="required" for="invoice_title">公司抬头</label>
										<input id="invoice_title" name="invoice-title" type="text" class="input-text required-entry" title="the invoice title"/>
									</li>
									<li class="invoice-type">
										<label class="required" gor="invoice-type">发票类型</label>
										<div class="input-box">
											<select id="invoice_type" name="invoice_type" class="invoice-select">
												<option value="">水果</option>
												<option value="">农产品</option>
												<option value="">食品</option>
												<option value="">礼品</option>
											</select>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</form>
		</div>
	</div>
</div>