<!--@subject You've been sent a gift from {{var sender_name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var name|escape":"Recipient Name",
"var sender_name_with_email|escape":"Sender Name with Email",
"var store.getFrontendName()|escape":"Store Name",
"var giftcards":"Gift Card Codes",
"var balance":"Gift Card Balance",
"var gift_message|escape|nl2br":"Sender Gift Message"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>{{var name|escape}},</h1>
            <p>{{var sender_name_with_email|escape}} has sent you a gift card for use at {{var store.getFrontendName()|escape}} and it is now ready to be used for purchases.</p>

            {{if gift_message}}
            <table cellspacing="0" cellpadding="0" class="message-container">
                <tr>
                    <td>{{var gift_message|escape|nl2br}}</td>
                </tr>
            </table>
            {{/if}}

            <p class="highlighted-text">
                <strong>The Gift Card code(s):</strong> {{var giftcards}}
            </p>

            <p>{{if is_multiple_codes}}Each{{else}}The{{/if}} card has a balance of <strong>{{var balance}}</strong> that can be used at <a href="{{store url=""}}">{{store url=""}}</a>.</p>
            {{if is_redeemable}}
            <p>Click on the code(s) above to redeem them into Store Credit.</p>
            {{/if}}

        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
