<!--@subject You've been sent a gift from {{var store.getFrontendName()}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var name|escape":"Recipient Name",
"var store.getFrontendName()|escape":"Store Name",
"var code|escape":"Gift Card Code",
"var balance":"Gift Card Balance"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>{{var name|escape}}</h1>
            <p>You've been sent a gift card for use at {{var store.getFrontendName()|escape}} and it is now ready to be used for purchases.</p>
            <p class="highlighted-text">
                <strong>The Gift Card code is:</strong> {{var code|escape}}
            </p>
            <p>The card has a balance of <strong>{{var balance}}</strong> that can be used at <a href="{{store url="/"}}">{{store url="/"}}</a></p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
