<!--@subject Gift Registry updated at {{var store.getFrontendName()}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"store url=\"customer/account/\"":"Customer Account Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var store.getFrontendName()":"Store Name",
"var owner.getName()|escape":"Owner Name",
"var entity.getTitle()|escape":"Registry Title"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>{{var owner.getName()|escape}},</h1>
            <p>The following items have been just bought from your gift registry "{{var entity.getTitle()|escape}}":</p>
            <p>{{layout handle="enterprise_giftregistry_email_entity_items" entity=$entity}}</p>
            <p>You can log into your account to view more details about this gift registry.</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
