<!--@subject Reward Points Balance Updated at {{var store.getFrontendName()|escape}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"config path='trans_email/ident_sales/email'":"Sales Contact Email",
"config path='general/store_information/phone'":"Sales Contact Phone",
"var unsubscription_url":"Unsubscription URL",
"var points_balance":"Current Points Amount",
"var customer.getName()|escape":"Customer Name",
"var reward_pts_was":"Previous Points Amount",
"var reward_pts_change":"Points Change",
"var reward_amount_was":"Previous Reward Amount",
"var reward_amount_now":"Current Reward Amount",
"var update_message":"Update Message",
"var update_comment":"Update Comment"}
@-->
<!--@styles
    @-->

    {{inlinecss file="email-new.css"}}

    <div class="wrapper">
        <div class="topDiv">
            <div class="logo"> <a href="{{store url}}"><img src="{{var logo_url}}" alt=""></a> </div>
        </div>
        <!-- END THE HEADER -->

        <div class="mainCon semibold">
            <div class="sure_info">
                <h3 class="extrabold">{{var customer.getName()|escape}},</h3><br>
                <p>Hai {{var points_balance}} punti che puoi utilizzare per fare acquisti sul nostro sito <a href="{{store url=""}}" target="_blank">{{var store.getFrontendName()|escape}}</a>.
                </p><p>Se hai domande sul tuo account o relative ad altri argomenti, non esitare a contattarci tramite la live chat disponibile sul nostro sito <a href="{{store url=""}}" target="_blank">{{var store.getFrontendName()|escape}}</a>.</p>
                <br><br><br>
                <div class="tips">Se hai qualche domanda contattaci tramite la live-chat disponibile sul nostro sito.</div>
                <p class="copyright extrabold">Grazie dal team di Weygo</p>
            </div>
        </div>
    </div>