<!--@subject Reward Points Expiry Warning at {{var store.getFrontendName()|escape}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"config path='trans_email/ident_sales/email'":"Sales Contact Email",
"config path='general/store_information/phone'":"Sales Contact Phone",
"var unsubscription_url":"Unsubscription URL",
"var customer_name|escape":"Customer Name",
"var remaining_days":"Points exiration remaining days",
"var points_expiring":"Points that will be expired",
"var points_balance":"Current Points Amount",
"var reward_amount_now":"Current Money Amount",
"var update_message":"Update Message"}
@-->
<!--@styles
@-->

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>Hello, {{var customer_name|escape}}</h1>
            <p>There are {{var remaining_days}} day(s) remaining to use your {{var points_expiring}} Reward Point(s).</p>
            <p>After {{var remaining_days}} day(s) this amount will be expired.</p>
            <p>You have {{var points_balance}} pts that can be used in our store <a href="{{store url=""}}">{{var store.getFrontendName()|escape}}</a>.</p>
            <p>
                If you have any questions about your account or any other matter, please feel free to contact us at
                <a href="mailto:{{var store_email}}">{{var store_email}}</a>
                {{depend store_phone}} or by phone at <a href="tel:{{var phone}}">{{var store_phone}}</a>{{/depend}}.
            </p>
            <p>You can <a href="{{var unsubscription_url}}">unsubscribe</a> from such notifications.</p>
        </td>
    </tr>
</table>