<div class="product-header">
	<a class="procuct-back" href="javascript:history.go(-1);"><img src="<?php echo $this->getSkinUrl('images/description-back.png')?>"></a>
	<h6 class="four">
		<?php echo $this->__('Description')?>
	</h6>
	<a class="product-header-write"> 
		<img src="<?php echo $this->getSkinUrl('images/product-write.png')?>">
	</a>

	<a class="product-header-collection" href="<?php echo $_wishlistSubmitUrl ?>" onclick="productAddToCartForm.submitLight(this, this.href); return false;">
		<img src="<?php echo $this->getSkinUrl('images/procuct-collection.png')?>">
	</a>
</div>
<ul class="product-de-choose">
	<li class="introduce active">
		<span><?php echo $this->__('Introduce')?></span>
	</li>
	<li class="property">
		<span><?php echo $this->__('Property')?></span>
	</li>
</ul>
<div class="box-collateral">
    <p>
         <img src="<?php echo $this->getBaseUrl().'media/wysiwyg/gonggan-1.jpg'?>" alt=""> 
         <img src="<?php echo $this->getBaseUrl().'media/wysiwyg/gonggan-2.jpg'?>" alt=""> 
         <img src="<?php echo $this->getBaseUrl().'media/wysiwyg/gonggan-3.jpg'?>" alt=""> 
         <img src="<?php echo $this->getBaseUrl().'media/wysiwyg/gonggan-5.jpg'?>" alt="">  
         <img src="<?php echo $this->getBaseUrl().'media/wysiwyg/gonggan-6.jpg'?>" alt="">
         <img src="<?php echo $this->getBaseUrl().'media/wysiwyg/gonggan-7.jpg'?>" alt="">
      </p>    
</div>
<div class="box-property" style="display: none;">
  	<ul>
  		<li>
  			<div class="field">
  				<span class="left"><?php echo $this->__('Quality grade')?></span>
  				<span class="right"><?php echo $this->__('A')?></span>
  			</div>
  		</li>
  		<li>
  			<div class="field">
  				<span class="left"><?php echo $this->__('Place of origin')?></span>
  				<span class="right"><?php echo $this->__('Chile')?></span>
  			</div>
  		</li>
  		<li>
  			<div class="field">
  				<span class="left"><?php echo $this->__('Storage conditions')?></span>
  				<span class="right"><?php echo $this->__('Freezing')?></span>
  			</div>
  		</li>
  		<li>
  			<div class="field">
  				<span class="left"><?php echo $this->__('Sale unit')?></span>
  				<span class="right"><?php echo $this->__('Box')?></span>
  			</div>
  		</li>
  		<li>
  			<div class="field">
  				<span class="left"><?php echo $this->__('Specifications')?></span>
  				<span class="right"><?php echo $this->__('120g/A')?></span>
  			</div>
  		</li>
  		<li>
  			<div class="field">
  				<span class="left"><?php echo $this->__('Product encoding')?></span>
  				<span class="right"><?php echo $this->__('P1800 02-2122')?></span>
  			</div>
  		</li>
  	</ul>
</div>
<div class="add-to-cart-wrapper">         
	<div class="add-to-box">
		<div class="addcart-box">
			<div class="cart-qty" onclick="window.location='<?php echo $this->getUrl('checkout/cart')?>'">
				<span>0</span>
				<img src="<?php echo $this->getSkinUrl('images/Cart1.png')?>">
			</div>        
			<div class="add-to-cart">
				<div class="quantity-box">
					<div class="quantity-decrease" onclick="qtyDown()"></div>
					<div>
						<input type="text" pattern="\d*" name="qty" id="qty" maxlength="12" value="1" title="Qty" class="input-text qty">
					</div>
					<div class="quantity-increase" onclick="qtyUp()"></div>
				</div>
			</div>
			<button type="button" title="Add to Cart" class="button btn-cart" >
				<span><span><?php echo $this->__('Add to Cart')?></span></span>
			</button>
		</div>

	</div>
</div>
<script type="text/javascript">
	$j('ul.product-de-choose li').click(function(){
		$j('ul.product-de-choose li').removeClass('active');
		$j(this).addClass('active');
		if($j('.introduce').hasClass('active')){
			$j('.box-collateral').show();
			$j('.box-property').hide();
		}
		else{
			$j('.box-collateral').hide();
			$j('.box-property').show();
		}
	})

	var qty_el = document.getElementById('qty'); 
	var qty = qty_el.value; 
	if(qty < 2){
		jQuery('.quantity_box_button_down').css({
			'visibility' : 'hidden'
		});
	}
	function qtyDown(){
		var qty_el = document.getElementById('qty'); 
		var qty = qty_el.value; 
		if( qty == 2) {
			jQuery('.quantity_box_button_down').css({
				'visibility' : 'hidden'
			});
		}
		if( !isNaN( qty ) && qty > 1 ){
			qty_el.value--;
		}         
		return false;
	}
	function qtyUp(){
		var qty_el = document.getElementById('qty'); 
		var qty = qty_el.value; 
		if( !isNaN( qty )) {
			qty_el.value++;
		}
		jQuery('.quantity_box_button_down').css({
			'visibility' : 'visible'
		});
		return false;
	}
</script>
