<div class="my-coupons">
    <div class="page-title">
        <h1><?php echo $this->__('Coupons') ?></h1>
    </div>
    <?php echo $this->getMessagesBlock()->toHtml() ?>
    <div class="page-content">
        <?php
        $_customer = Mage::getSingleton('customer/session');

        $_couponCollection = $this->helper('discount')->getCouponListNotBind();
        if ($_couponCollection->count() !== 0):
            ?>
        <ul class="coupon-list">
            <?php
            /** @var Mage_SalesRUle_Model_Rule $_coupon */
            foreach ($_couponCollection as $_coupon):
                ?>
            <li>
                <?php $_isUsed = Mage::helper('discount')->checkIfUsed($_coupon, $_customer) ? 'used' : ''; ?>
                <div class="coupon-details <?php echo $_isUsed ?>">
                    <div class="coupon-name"><?php echo $this->escapeHtml($_coupon->getName()) ?></div>
                    <div class="coupon-description"><?php echo $this->escapeHtml($_coupon->getDescription()) ?></div>
                    <?php if (null !== $_coupon->getToDate()): ?>
                        <div class="coupon-expiration-date"><?php echo $this->__('Available until %s', $_coupon->getToDate()) ?></div>
                    <?php endif; ?>
                    <div class="coupon-code"><?php echo $this->escapeHtml($_coupon->getCode()) ?></div>
                </div>
            </li>
        <?php endforeach; ?>
    </ul>
<?php else: ?>
    <p class="wishlist-empty"><?php echo $this->__('No coupons availables') ?></p>
<?php endif; ?>
</div>

<div class="page-title">
    <h1><?php echo $this->__('Shareable Coupons') ?></h1>
</div>
<div class="page-content">
    <?php
    $_customer = Mage::getSingleton('customer/session');

    $_couponCollection = $this->helper('discount')->getCouponListBinded();
    
    if ($_couponCollection->count() !== 0):
        ?>
    <ul class="coupon-list">
        <?php
        /** @var Mage_SalesRUle_Model_Rule $_coupon */
        foreach ($_couponCollection as $_couponBind):
            $_coupon=Mage::getModel('salesrule/rule')->load($_couponBind->getRuleId());
            ?>
        <li>
            <?php $_isUsed = Mage::helper('discount')->checkIfUsed($_coupon, $_customer) ? 'used' : ''; ?>
            <div class="coupon-details <?php echo $_isUsed ?>">
                <div class="associate_id no-display"><?php echo $this->escapeHtml($_couponBind->getAssociateId()) ?></div>
                <div class="sh_coupon no-display"><?php echo $this->escapeHtml($_coupon->getCode()) ?></div>
                <div class="rule_id no-display"><?php echo $this->escapeHtml($_coupon->getRuleId()) ?></div>
                <div class="coupon_id no-display"><?php echo $this->escapeHtml($_couponBind->getCouponId()) ?></div>
                <div class="coupon-name no-display"><?php echo $this->escapeHtml($_coupon->getName()) ?></div>
                <div class="coupon-description"><?php echo $this->escapeHtml($_coupon->getDescription()) ?></div>
                <?php if (null !== $_coupon->getToDate()): ?>
                    <div class="coupon-expiration-date"><?php echo $this->__('Available until %s', $_coupon->getToDate()) ?></div>
                <?php endif; ?>
                <div class="coupon-code"><?php echo $this->escapeHtml($_coupon->getCode()) ?></div>
            </div>
        </li>
    <?php endforeach; ?>
</ul>
<?php else: ?>
    <p class="wishlist-empty"><?php echo $this->__('No coupons availables') ?></p>
<?php endif; ?>
</div>
</div>

<style>
    .coupon-list li {display:inline;}
    .coupon-list .coupon-details.used { color:gray; }
    .coupon-list .coupon-details > div{display:inline; width:33%; cursor:pointer;}
</style>

<div class="page-title">
    <h1><?php echo $this->__('Share Coupons') ?></h1>
</div>

<div class="" id="">
    <form id="sharecouponForm" class="" action="<?php echo $this->getShareLink();?>" method="post">
        <div class="fieldset">
            <h2 class="legend">Share coupons to your friend below</h2>
            <p class="required">* Required Fields</p>
            <ul class="form-list">
                <li>
                    <label for="sh_coupons" class="required"><em>*</em><?php echo $this->__('Coupons'); ?></label>
                    <div class="input-box">
                        <input tabindex="1" name="associate_id" id="associate_id" title="<?php echo $this->__('associate_id'); ?>" value="59" class="required-entry input-text" type="hidden" >
                        <input tabindex="1" name="sh_coupon" id="sh_coupon" title="<?php echo $this->__('sh_coupon'); ?>" value="me_sdfm92hi3ug67vds" class="required-entry input-text" type="hidden" >
                        <input tabindex="1" name="rule_id" id="rule_id" title="<?php echo $this->__('rule_id'); ?>" value="3" class="required-entry input-text" type="hidden" >
                        <input tabindex="1" name="coupon_code" id="coupon_code" title="<?php echo $this->__('coupon_code'); ?>" value="2" class="required-entry input-text" type="hidden" >
                        <input tabindex="1" name="coupon_id" id="coupon_id" title="<?php echo $this->__('coupon_id'); ?>" value="3" class="required-entry input-text" type="hidden" >
                        <input tabindex="1" name="coupon_name" id="coupon_name" title="<?php echo $this->__('coupon_name'); ?>" value="4" class="required-entry input-text" type="hidden" >
                    </div>
                </li>
                <li>
                    <label for="email"><?php echo $this->__('Share To'); ?></label>
                    <div class="input-box">
                        <input tabindex="3" name="accept_email" id="email" title="<?php echo $this->__('Share To'); ?>" value="" class="required-entry input-text validate-email" type="email" autocapitalize="off" autocorrect="off" spellcheck="false">
                    </div>
                </li>
                <li>
                    <label for="message"><?php echo $this->__('Message'); ?></label>
                    <div class="input-box">
                        <textarea tabindex="7" name="message" id="message" title="<?php echo $this->__('Message'); ?>" class="input-text" rows="5" cols="5"></textarea>
                    </div>
                </li>
            </ul>
        </div>

        <div class="buttons-set form-buttons">
            <!--<p class="back-link"><a href="<?php // echo Mage::helper('enterprise_invitation')->getCustomerInvitationUrl()  ?>"><small>&laquo; </small><?php echo Mage::helper('enterprise_invitation')->__('Back to Invitations') ?></a></p>-->
            <button class="button" type="submit"><span><span><?php echo Mage::helper('discount')->__('Share') ?></span></span></button>
        </div>
    </form>
    <script type="text/javascript">
        var contactForm = new VarienForm('sharecouponForm', true);
    </script>
</div>

