<div class="my-coupons">
    <div class="page-title">
        <h1><?php echo $this->__('Coupons') ?></h1>
    </div>
    <?php echo $this->getMessagesBlock()->toHtml() ?>
    <div class="page-content">
        <?php
        $_customer = Mage::getSingleton('customer/session');
        $_couponCollection = $this->helper('discount')->getCouponListNotBind();
        if ($_couponCollection->count() !== 0):
            ?>
            <ul class="coupon-list">
                <?php
                /** @var Mage_SalesRUle_Model_Rule $_coupon */
                foreach ($_couponCollection as $_coupon):
                    ?>
                    <?php 
                    if (!Mage::helper('discount')->isShowable($_coupon, $_customer))
                        continue;
                    ?>
                    <li>
        <?php //$_isUsed = Mage::helper('discount')->checkIfUsed($_coupon, $_customer) ? 'used' : ''; ?>
                        <div class="coupon-details <?php //echo $_isUsed ?>">
                            <div class="s-top">
                                <div class="left">
                                    <div class="discount-amount"><?php echo Mage::helper('core')->currency($this->escapeHtml($_coupon->getDiscountAmount()), true, false); ?></div>
                                    <div class="coupon-name"><?php echo $this->escapeHtml($_coupon->getName()) ?></div>
                                </div>
                                <div class="right">
                                    <div class="used-usetimes"><?php echo $_coupon->getUsesPerCustomer() - Mage::helper('discount')->getTimesUsed($_coupon, $_customer); ?>/<?php echo $_coupon->getUsesPerCustomer(); ?></div>
                                </div>
                            </div>
                            <div class="x-button">
                                <div class="coupon-code"><?php echo $this->escapeHtml($_coupon->getCode()) ?></div>
                                <div class="coupon-expiration-date">
                                    <span class="word"><?php echo $this->__('Usable until ') ?></span><?php echo Mage::helper('discount')->getExpirationDate($_coupon, $_customer) ?>
                                </div>
                                <!--<div class="used-usetimes"><?php echo $_coupon->getUsesPerCustomer() - Mage::helper('discount')->getTimesUsed($_coupon, $_customer); ?>/<?php echo $_coupon->getUsesPerCustomer(); ?></div> -->
                            </div>
                            <div class="cover"></div>
                            <div class="coupon-description"><?php echo $this->escapeHtml($_coupon->getDescription()) ?></div>
                        </div>
                    </li>
            <?php endforeach; ?>
            </ul>
        <?php else: ?>
            <p class="wishlist-empty"><?php echo $this->__('No coupons availables') ?></p>
<?php endif; ?>
    </div>
</div>


<?php //if (null !== $_coupon->getToDate()): ?>
                    <!-- <div class="coupon-expiration-date"><?php echo $this->__('Available date from %s', $_coupon->getFromDate()) . $this->__(' to %s', $_coupon->getToDate()) ?></div> -->
<?php
//endif; ?>