<?php
    $_cartQty = $this->getSummaryCount();
    if(empty($_cartQty)) {
        $_cartQty = 0;
    }
?>
<div class="block-title">
<a id="cartHeader"  class="skip-link skip-cart <?php if($_cartQty <= 0): ?> no-count<?php endif; ?>">
    <b></b>
    <span><?php echo $this->__('购物车')?></span>
    <em><?php echo $_cartQty; ?></em>

</a>
</div>
<div id="topCartContent" class="block-content block block-cart skip-content" style="display: none;">
    <?php echo $this->getChildHtml('minicart_content');?>
</div>
