<table class="change-password">
	<tr>
		<td class="label-word"><label><?php echo $this->__('Old password')?></label></td>
		<td class="input-enter"><input type="text" class="input-text no-display" name="dummy" id="dummy" />
			<input type="password" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Current Password')) ?>" class="input-text" placeholder="<?php echo $this->__('Please enter old password')?>" name="current_password" id="current_password" /></td>
	</tr>
	<tr>
		<td class="label-word"><label><?php echo $this->__('New password')?></label></td>
		<td class="input-enter"><input type="password" title="<?php echo Mage::helper('core')->quoteEscape($this->__('New Password')) ?>" class="input-text validate-password" placeholder="<?php echo $this->__('Please enter new password')?>" name="password" id="password" /></td>
	</tr>
	<tr class="last">
		<td class="label-word"><label><?php echo $this->__('New again')?></label></td>
		<td class="input-enter"><input type="password" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Confirm New Password')) ?>" class="input-text validate-cpassword" placeholder="<?php echo $this->__('Please enter new password again')?>" name="confirmation" id="confirmation" /></td>
	</tr>
</table>
<div class="page-buttons">
	<button type="submit" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Save')) ?>" class="button">
		<span><span><?php echo $this->__('Save') ?></span></span>
	</button>
</div>