<?php if(Mage::getSingleton( 'customer/session' )->isLoggedIn()): ?>
<div class="change-top-phone">
	<img src="<?php echo $this->getSkinUrl('images/chan-phone-top.png')?>">
</div>
<ul class="change-phone">
	<li>
		<div class="input-box">
			<input type="text" placeholder="<?php echo $this->__('Please enter your phone number')?>" autocapitalize="off" autocorrect="off" spellcheck="false" name="phone" id="phone_number" value="" title="Phone Number" class="input-text required-entry">
		</div>
	</li>
	<li class="fields">
		<div class="field">
			<div class="input-box">
				<input type="text" placeholder="<?php echo $this->__('Please enter the phone code')?>" name="code" id="phone_code" title="Phone Code" class="input-text required-entry">
			</div>
		</div>
	</li>
	<li class="fields">
		<div class="field">
			<div class="input-box">
				<input type="password" placeholder="<?php echo $this->__('Please enter the password')?>" name="password" id="password" title="password" class="input-text required-entry validate-password">
			</div>
		</div>
	</li>
</ul>
<div class="change-phone-button">
        <button type="button" title="Get code" class="button but-verification-code"><span><span><?php echo $this->__('Get code')?></span></span></button>
        <button type="submit" title="Save" class="button but-Save"><span><span><?php echo $this->__('Save')?></span></span></button>
</div>
<?php else: 
 	header("Location:".$this->getBaseUrl().'customer/account/login/'.""); 
	exit;
?>
<?php endif?>