<?php if(Mage::getSingleton( 'customer/session' )->isLoggedIn()): ?>
<div class="cust-nickname">
	<input type="text" placeholder="<?php echo $this->__('Nickname')?>" id="nickname" name="nickname" value="" title="nickname" maxlength="255" class="input-text required-entry">
</div>
<div class="page-buttons">
    <button type="submit" class="button"><span><span><?php echo $this->__('Save') ?></span></span></button>
</div>
<?php else: 
 	header("Location:".$this->getBaseUrl().'customer/account/login/'.""); 
	exit;
?>
<?php endif?>