<div class="sreach-page">
	<div class="sreach-page-hot">
		<h2 class="sreach-page-hot-title">
			<?php echo $this->__('Hot')?>
		</h2>
		<ul class="sreach-page-hot-content">
			<li><span>礼盒</span></li>
			<li><span>芒果</span></li>
			<li><span>牛油果</span></li>
			<li><span>蓝莓</span></li>
			<li><span>荔枝</span></li>
			<li><span>榴莲</span></li>
			<li><span>牛奶</span></li>
			<li><span>三文鱼</span></li>
			<li><span>椰青</span></li>
			<li><span>龙虾</span></li>
			<li><span>洗手液</span></li>
			<li><span>橙子</span></li>
			<li><span>护肤</span></li>
			<li><span>牛排</span></li>
		</ul>
	</div>
	<div class="sreach-page-history">
		<h2 class="sreach-page-history-title">
			<?php echo $this->__('History')?>
		</h2>
		<ul class="have-history">
			<li><img src="<?php echo $this->getSkinUrl('images/search-history.png')?>"><span>蓝莓</span></li>
			<li><img src="<?php echo $this->getSkinUrl('images/search-history.png')?>"><span>芒果</span></li>
			<li class="last"><img src="<?php echo $this->getSkinUrl('images/search-history.png')?>"><span>洗手液</span></li>
		</ul>
		<ul class="no-history" style="display: none;">
			<li><span><?php echo $this->__('No history record')?></span></li>
		</ul>
		<div class="clear-sreach-history">
			<span><?php echo $this->__('Clear search log')?></span>
		</div>
	</div>
</div>


<!-- We use js to achieve page CSS effect -->
<script type="text/javascript">
	jQuery('.clear-sreach-history span').click(function(){
		jQuery('.no-history').show();
		jQuery('.have-history').hide();
	})
</script>