<div class="invoice-choose">
	<div class="invoice-choose-invoice">
		<div class="invoice-type">
			<div class="title">
				<?php echo $this->__('Invoice Type')?>
			</div>
			<div class="content">
				<div class="personage">
					<label><?php echo $this->__("Personal Invoice")?></label>
					<img src="<?php echo $this->getSkinUrl().'images/cart-checkout.png'?>" class="invoice-checked"/>
					<input type="hidden" checked="checked"/>
				</div>
				<div class="company">
					<label><?php echo $this->__("Company Invoice")?></label>
					<img src="<?php echo $this->getSkinUrl().'images/cart-checkout-no.png'?>" class="invoice-checked"/>
					<input type="hidden" />
				</div>
			</div>
		</div>
		<div class="invoice-title">
			<div class="content">
				<label><?php echo $this->__("Invoice Title")?></label>
				<input type="text" placeholder="<?php echo $this->__("Company header please fill in the name of the company")?>">
			</div>
		</div>
		<div class="invoice-content">
			<div class="title">
				<?php echo $this->__('Invoice Content')?>
			</div>
			<div class="content">
				<div class="food">
					<label><?php echo $this->__("Food")?></label>
					<img src="<?php echo $this->getSkinUrl().'images/cart-checkout-no.png'?>" class="invoice-checked"/>
					<input type="hidden" />
				</div>
				<div class="company">
					<label><?php echo $this->__("Company Invoice")?></label>
					<img src="<?php echo $this->getSkinUrl().'images/cart-checkout-no.png'?>" class="invoice-checked"/>
					<input type="hidden" />
				</div>
			</div>
		</div>
		<div class="invoice-bottom">
			<div class="yes">
				<a><span><?php echo $this->__("Confirm")?></span></a>
			</div>
			<div class="no">
				<a><span><?php echo $this->__("No Need")?></span></a>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	jQuery(".invoice-type .content img").click(function(){
		jQuery(".invoice-type .content input").attr("checked",false);
		jQuery(".invoice-type .content img").attr("src","<?php echo $this->getSkinUrl().'images/cart-checkout-no.png'?>");
		jQuery(this).next("input").attr("checked",true);
		jQuery(this).attr("src","<?php echo $this->getSkinUrl().'images/cart-checkout.png'?>");
	});
	jQuery(".invoice-content .content img").click(function(){
		jQuery(".invoice-content .content input").attr("checked",false);
		jQuery(".invoice-content .content img").attr("src","<?php echo $this->getSkinUrl().'images/cart-checkout-no.png'?>");
		jQuery(this).next("input").attr("checked",true);
		jQuery(this).attr("src","<?php echo $this->getSkinUrl().'images/cart-checkout.png'?>");
	});
</script>