<div class="onepagecheckout">
	    <div class="checkout f1">
	        <div class="info">
	            <div class="left">
	                <span class="name">FABIO GAO</span>
	                <span class="cellphone">333-155-9999</span>
	                <span class="address">CORSO COMO,5 20124  Milano</span>
	            </div>
	            <a href="<?php echo $this->getUrl('customer/address/index')?>">
	            	<span class="customer-account-right-img"></span>
	            </a>
	        </div>
	    </div>
	    <div class="checkout f2">
	        <div class="shipping-date">
	            <div class="title"><?php echo $this->__("Shipping Date")?></div>
	            <div class="content"><span>01-02-16 lun</span><span class="customer-account-right-img"></span></div>
	        </div>
	        <div class="payment-method">
	            <div class="title"><?php echo $this->__("Payment Method")?></div>
	            <div class="content"><img src="<?php echo $this->getSkinUrl().'images/MasterCard.png'?>"><span class="customer-account-right-img"></span></div>
	            <div class="choose-payment" style="display: none;">
	            	<?php echo $this->getLayout()->createBlock("core/template")->setTemplate("checkout/payment-method.phtml")->toHtml();?>
	            </div>
	        </div>
	    </div>
	    <div class="checkout f3">
	        <div class="invoice">
	            <div class="title"><?php echo $this->__("Invoice Info")?></div>
	            <div class="content"><span><?php echo $this->__("No Need")?></span><span class="customer-account-right-img"></span></div>
	            <div class="choose-invoice" style="display: none;">
	            	<?php echo $this->getLayout()->createBlock("core/template")->setTemplate("checkout/invoice.phtml")->toHtml();?>
	            </div>
	        </div>
	        <div class="points">
	            <div class="title"><?php echo $this->__("Use Points")?></div>
	            <div class="content"><span class="customer-account-right-img"></span></div>
	        </div>
	    </div>
	    <div class="checkout f4">
	        <input placeholder="<?php echo $this->__('If you have Special request, please note here')?>"></input>
	    </div>
	    <div class="checkout f5">
	        <div class="product-list">
	            <ul>
	                <li>
	                    <img src="<?php echo $this->getSkinUrl().'images/product.jpg'?>"/>
	                    <div>
	                        <span class="name">云南冰糖橘子 9个装</span>
	                        <span class="qty">x1</span>
	                    </div>
	                </li>
	            </ul>
	        </div>
	    </div>
	    <div class="checkout f6">
	        <div class="total-price">
	            <ul>
	                <li>
	                    <span class="title"><?php echo $this->__("The totla amount")?></span>
	                    <span class="price red">€ 16,03</span>
	                </li>
	                <li>
	                    <span class="title"><?php echo $this->__("Shipping fee")?></span>
	                    <span class="price red">€ 2,80</span>
	                </li>
	                <li>
	                    <span class="title"><?php echo $this->__("Discount amount")?></span>
	                    <span class="price green">-€ 1,14</span>
	                </li>
	                <li>
	                    <span class="title"><?php echo $this->__("Advance deposit discount")?></span>
	                    <span class="price green">-€ 0,00</span>
	                </li>
	                <li>
	                    <span class="title"><?php echo $this->__("Points deduction")?></span>
	                    <span class="price green">-€ 0,00</span>
	                </li>
	            </ul>
	        </div>
	    </div>
	    <div class="bottom">
	        <div class="left">
	            <span><?php echo $this->__('Totals:')?></span><span class="red">€ 18,83</span>
	        </div>
	        <div class="right">
	            <a><?php echo $this->__("Place Order")?></a>
	        </div>
	    </div>
</div>
<script type="text/javascript">
	$j('.f3 .customer-account-right-img').click(function(){
		$j('.choose-invoice').show();
	})
	$j('.invoice-bottom .yes').click(function(){
		$j('.choose-invoice').hide();
	})
	$j('.invoice-bottom .no').click(function(){
		$j('.choose-invoice').hide();
	})
	$j('.f2 .customer-account-right-img').click(function(){
		$j('.choose-payment').show();
	})
	$j('.payment-bottom').click(function(){
		$j('.choose-payment').hide();
	})
</script>