<!-- <div class="choose-payment-method">
	<div class="pay-online">
		<div class="checked">
			<label><?php echo $this->__("Pay Online")?></label>
			<img src="<?php echo $this->getSkinUrl().'images/cart-checkout.png'?>" class="payment-checked"/>
			<input type="hidden" />
		</div>
		<div class="choose">
			<ul>
				<li class="mastercard"><img src="<?php echo $this->getSkinUrl().'images/MasterCard.png'?>"/></li>
				<li class="maestro"><img src="<?php echo $this->getSkinUrl().'images/Maestro.png'?>"/></li>
				<li class="cartasi"><img src="<?php echo $this->getSkinUrl().'images/CartaSi.png'?>"/></li>
				<li class="visa"><img src="<?php echo $this->getSkinUrl().'images/VISA.png'?>"/></li>
				<li class="visae"><img src="<?php echo $this->getSkinUrl().'images/VISAE.png'?>"/></li>
				<li class="paypal"><img src="<?php echo $this->getSkinUrl().'images/PayPal.png'?>"/></li>
			</ul>
		</div>
	</div>
	<div class="cash-delivery">
		<div class="checked">
			<label><?php echo $this->__("Cash on delivery(Cash)")?></label>
			<img src="<?php echo $this->getSkinUrl().'images/cart-checkout-no.png'?>" class="payment-checked"/>
			<input type="hidden" />
		</div>
	</div>
	<div class="POS-delivery">
		<div class="checked">
			<label><?php echo $this->__("Cash on delivery(POS)")?></label>
			<img src="<?php echo $this->getSkinUrl().'images/cart-checkout-no.png'?>" class="payment-checked"/>
			<input type="hidden" />
		</div>
	</div>
	<div class="payment-bottom">
		<a><span><?php echo $this->__("Confirm")?></span></a>
	</div>
</div>
<script type="text/javascript">
	jQuery(".checked img").click(function(){
		jQuery(".checked input").attr("checked",false);
		jQuery(".checked img").attr("src","<?php echo $this->getSkinUrl().'images/cart-checkout-no.png'?>");
		jQuery(this).next("input").attr("checked",true);
		jQuery(this).attr("src","<?php echo $this->getSkinUrl().'images/cart-checkout.png'?>");
	});
	jQuery(".choose-payment-method .choose li img").click(function(){
		jQuery(".choose-payment-method .choose li").removeClass("active");
		jQuery(this).parent("li").addClass("active");
	});
</script> -->
<div  class="choose-payment-method">
	<div class="choose-payment-method-all">
		<div class="pay-online">
			<div class="title">
				<label><?php echo $this->__("Pay Online")?></label>
				<img src="<?php echo $this->getSkinUrl().'images/cart-checkout.png'?>" class="payment-checked"/>
				<input type="hidden" checked="checked" />
			</div>
			<div class="content">
				<ul>
					<li class="mastercard active"><img src="<?php echo $this->getSkinUrl().'images/MasterCard.png'?>"/></li>
					<li class="maestro"><img src="<?php echo $this->getSkinUrl().'images/Maestro.png'?>"/></li>
					<li class="cartasi"><img src="<?php echo $this->getSkinUrl().'images/CartaSi.png'?>"/></li>
					<li class="visa"><img src="<?php echo $this->getSkinUrl().'images/VISA.png'?>"/></li>
					<li class="visae"><img src="<?php echo $this->getSkinUrl().'images/VISAE.png'?>"/></li>
					<li class="paypal"><img src="<?php echo $this->getSkinUrl().'images/PayPal.png'?>"/></li>
				</ul>
			</div>
		</div>
		<div class="cash-delivery">
			<div class="content">
				<label><?php echo $this->__("Cash on delivery(Cash)")?></label>
				<img src="<?php echo $this->getSkinUrl().'images/cart-checkout-no.png'?>" class="payment-checked"/>
				<input type="hidden" />
			</div>
		</div>
		<div class="pos-delivery">
			<div class="content">
				<label><?php echo $this->__("Cash on delivery(POS)")?></label>
				<img src="<?php echo $this->getSkinUrl().'images/cart-checkout-no.png'?>" class="payment-checked"/>
				<input type="hidden" />
			</div>
		</div>
		<div class="payment-bottom">
			<a><span><?php echo $this->__("Confirm")?></span></a>
		</div>
	</div>
</div>
<script type="text/javascript">
	$j(".payment-checked").click(function(){
		$j(".payment-checked").next("input").attr("checked",false);
		$j(".payment-checked").attr("src","<?php echo $this->getSkinUrl().'images/cart-checkout-no.png'?>");
		$j(this).next("input").attr("checked",true);
		$j(this).attr("src","<?php echo $this->getSkinUrl().'images/cart-checkout.png'?>");
	});
	$j(".choose-payment-method .pay-online li img").click(function(){
		$j(".choose-payment-method .pay-online li").removeClass("active");
		$j(this).parent("li").addClass("active");
	});
</script>