<?php
if(Mage::getStoreConfig('cookiealert/options/enabled'))
{
	?>
<div id="cookiealert" class="cookiealert" style="display: none;">
	<div class="message">
		<div class="cookie-title"><?php echo $this->__('weygo.com uses cookies.');?></div>
		<div class="cookie-content">
	    	<?php echo $this->__('This website uses cookies to ensure proper functionality of the shopping cart and checkout progress. By continuing to browse the site you are agreeing to the use of cookies.');?>
		</div>
		<div class="bt">
			<a href="javascript:closeCookieAlert();" class="cookie-accept"><span><?php echo $this->__('Accept');?></span></a>
			<a href="<?php echo $this->getCmsPageUrl(); ?>" class="cookie-policy"><span><?php echo $this->__('Cookie Policy.'); ?></span></a>
		</div> 
			
		<button class="cookie-gb">
			<img src="<?php echo $this->getSkinUrl('images/cookie-gb.png')?>">
		</button>
	</div>
</div>
<script type="text/javascript">
function closeCookieAlert()
{
	Mage.Cookies.set('cookieAlertClosedFlag', 1, new Date(new Date().getTime() + (1000 * 60 * 60 * 24 * 364))); 
	document.getElementById('cookiealert').style.display = 'none';
}

if(!Mage.Cookies.get('cookieAlertClosedFlag'))
{
	document.getElementById('cookiealert').style.display = '';
}

$j('.cookie-gb').click(function(){
	$j('.cookiealert').hide();
})

</script>
	<?php
}
