<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<div class="product-info">
    <ul class="choose-info">
        <li class="f1" value="1">
            <div class="title active">
                <span><?php echo $this->__('info')?></span>
            </div>
        </li>
        <li class="f2" value="2">
            <div class="line"></div>
            <div class="title">
                <span><?php echo $this->__('DESCRIZIONE')?></span>
            </div>
            <div class="line"></div>
        </li>
        <li class="f3" value="3">
            <div class="title">
                <span><?php echo $this->__('Spedizione')?></span>
            </div>
        </li>
    </ul>
    <div class="content">
        <div class="f f1 active" value="1">
            <p>
                <i></i>
                <p class="wz">
                    <span class="word">
                        <?php echo $this->__('Importo minimo di spesa complessiva:EURO 19,00  Tutti i prezzi sono comprensivi di IVA.')?>
                    </span>
                </p>
            </p>
            <p>

                <?php 

                $resource = Mage::getSingleton('core/resource');
                $read = $resource->getConnection('catalog_read');
                $_max_qty = $read->fetchAll("SELECT ao.sort_order, aov.value
                    FROM eav_attribute_option_value as aov, eav_attribute_option as ao
                    where aov.value='".$_product->getAttributeText('grm')."' and aov.option_id = ao.option_id and attribute_id=207 limit 1");

                $_max_qty=$_max_qty[0]['sort_order'];

                if ($_max_qty>0){
                    echo "<i></i><p class=\"wz\"> <span class=\"word\">".$this->__('Numero max pezzi acquistabili per ogni ordine:')."</span>";
                    echo "<span class=\"num\">".$_max_qty." </span>  </p>";
                };
                ?>
            </p>
            <p>
                <i></i>
                <p class="wz">
                    <span class="word">
                        <?php echo $this->__('Consegniamo ')?>
                    </span>
                    <span class="st">
                        <?php echo $this->__('TUTTI I GIORNI ')?>
                    </span>
                    <span class="word">
                        <?php echo $this->__('dalle 8:00 alle 22:00.')?>
                    </span>
                </p>
            </p>
        </div>
        <div class="f" value="2">
            <?php echo $_product->getShortDescription()?>
        </div>
        <div class="f" value="3">
            <p>
                <i></i>
                <p class="wz">
                    <span class="word">
                        <?php echo $this->__('Spese di spedizione: ')?>
                    </span>
                    <span class="st">
                        <?php echo $this->__('€ 3,50 ')?>
                    </span>
                    <span class="word">
                        <?php echo $this->__('per ogni singolo ordine.')?>
                    </span>
                </p>
            </p>
            <p>
                <i></i>
                <p class="wz">
                    <span class="word">
                        <?php echo $this->__('Nell\'ultima fase di completamento dell\'ordine ti verrà chiesto di scegliere il ')?>
                    </span>
                    <span class="st">
                        <?php echo $this->__('giorno di consegna ')?>
                    </span>
                    <span class="word">
                        <?php echo $this->__('e la ')?>
                    </span>
                    <span class="st">
                        <?php echo $this->__('fascia oraria ')?>
                    </span>
                    <span class="word">
                       <?php echo $this->__('che preferisci.')?>
                   </span>
               </p>
           </p>
           <p>
            <i></i>
            <p class="wz">
                <span class="word">
                    <?php echo $this->__('Se il tuo ordine include prodotti freschi ')?>
                </span>
                <span class="st">
                    <?php echo $this->__('A PESO VARIABILE,')?>
                </span>
                <span class="word">
                    <?php echo $this->__('la consegna dovrà essere effettuata necessariamente entro 24 ore dalla conferma dell\'ordine.')?>
                </span>
            </p>
        </p>
    </div>
</div>
<script type="text/javascript">
    $j('.choose-info li').click(function(){
        $j('.choose-info li .title').removeClass('active');
        $j('.content div.f').removeClass('active');
        $j(this).children('.title').addClass('active');
        $j(".content").find("div[value="+ $j(this).val() +"]").addClass('active');

    })
</script>
</div>