<!--@subject Email - Footer @-->
                    <!-- End Content -->
                    </td>
                </tr>
            </table>
            <h5 class="closing-text">Grazie, {{var store.getFrontendName()}}!</h5>
        </td>
    </tr>
</table>
<!-- End wrapper table -->
</body>
<!-- Tradotto dai Maintainer Ufficiali della traduzione Italiana ver 1.9.1 -->