<?php echo $this->getChildHtml('onepage.header')?>

<div class="page-title title-buttons">
  <h1><img src="<?php echo $this->getSkinUrl('images/checkcart.png')?>"><div><?php echo $this->__('Check order information')?></div></h1>
</div>

<div class="onepage-center">
  <div class="checkout-center-info">
    <div class="col-1 iwd-1">
      <div class="title">
        <img src="<?php echo $this->getSkinUrl('images/col-1.jpg')?>"><div><?php echo $this->__('Receiving information')?></div>
      </div>
      <div class="content">
        <ul class="address-list">
          <input type="hidden" name="address" class="address-list" value=""/>
          <li class="item active" value="address-1">
            <input type="hidden" name="address" class="input address" value="" />
            <span>FABIO GAO  CORSO COMO,5 20124 MILANO,333 1559999</span>
          </li>
          <li class="item" vaule="address-2">
            <input type="radio" name="address" class="input address" value="" />
            <span>FABIO GAO  CORSO COMO,5 20124 MILANO,333 1559999</span>
          </li>
        </ul>
        <a class="edit-address" href="<?php echo $this->getUrl()?>"><span>+<?php echo $this->__("Use New Address")?></span></a>
      </div>
      <script type="text/javascript">
        jQuery(".address-list li.item").click(function(){
          jQuery(".address-list li input").removeAttr("checked");
          jQuery(".address-list li input").attr("type",'radio');
          jQuery(".address-list li").removeClass("active");
          jQuery(this).children("input").attr("checked","checked");
          jQuery(this).children("input").attr("type",'hidden');
          jQuery(this).addClass("active");
        });
      </script>
    </div>
    <div class="col-2 iwd-2">
      <div class="title">
        <img src="<?php echo $this->getSkinUrl('images/col-2.jpg')?>"><div><?php echo $this->__('Distribution information')?></div>
      </div>
      <div class="content">
        <table>
          <tr class="table-title">
            <td class="receiving-time"><?php echo $this->__('Receiving time')?></td>
            <td><?php echo $this->__('Freight')?></td>
            <td><?php echo $this->__('shipping method')?></td>
            <td class="remarks"><?php echo $this->__('Remarks')?></td>
          </tr>
          <tr class="table-content">
            <td><div class="detailed-time"> 1-12  09:00-21:00</div></td>
            <td>2.9€</td>
            <td><?php echo $this->__("Partner Courier")?></td>
            <td>无</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-3 iwd-3">
      <div class="title">
        <img src="<?php echo $this->getSkinUrl('images/col-3.jpg')?>"><div><?php echo $this->__('Payment information')?></div>
      </div>
      <div class="content">
        <ul>
          <li>
            <input type="radio" name="payment method"><span><?php echo $this->__("Prepay balance(Your current prepay balance:%s)",€95,00)?></span>
          </li>
          <li>
            <input type="radio" name="payment method"><span><?php echo $this->__("Payment Method:")?>VISA card</span> <span class="payment-edit"><?php echo $this->__('Edit')?></span>
            <ul class="method-list" style="display: none;">
              <li><img src="<?php echo $this->getSkinUrl().'images/Master Card.jpg'?>" /></li>
              <li><img src="<?php echo $this->getSkinUrl().'images/Maestro.jpg'?>" /></li>
              <li><img src="<?php echo $this->getSkinUrl().'images/PayPal.jpg'?>" /></li>
              <li><img src="<?php echo $this->getSkinUrl().'images/Visa.jpg'?>" /></li>
              <li><img src="<?php echo $this->getSkinUrl().'images/VISA-2.jpg'?>" /></li>
              <li><img src="<?php echo $this->getSkinUrl().'images/UnionPay.jpg'?>" /></li>
              <li><img src="<?php echo $this->getSkinUrl().'images/American Express.jpg'?>" /></li>
              <li><img src="<?php echo $this->getSkinUrl().'images/Cartasi.jpg'?>" /></li>
            </ul>
            <script type="text/javascript">
              jQuery(".payment-edit").click(function(){
                jQuery(".method-list").toggle();
              });
            </script>
          </li>
          <li>
            <input type="radio" name="payment method"><span><?php echo $this->__("Cash on delivery(POS machines)")?></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-4 iwd-4">
      <div class="title">
        <img src="<?php echo $this->getSkinUrl('images/col-4.jpg')?>"><div><?php echo $this->__('Invoice information')?></div>
      </div>
      <div class="content">
        <div>
          <img src="<?php echo $this->getSkinUrl('images/checked-no.jpg')?>" class="invoice-checked"><input type="checkbox" class="no-display"><span><?php echo $this->__('Need Invoice')?></span>  
        </div>
        <ul id="payment_form_invoice" class="form-list" style="display: none;">
          <li>
            <div class="field">
              <input type="radio" id="p_invoice_title_person" name="invoice_title_type" value="invoice_person" class="radio" checked="checked"><?php echo $this->__('Personal')?>     
              <input type="radio" id="p_invoice_title_company" name="invoice_title_type" value="invoice_company" class="radio"><?php echo $this->__('Company')?>   
            </div>    
          </li>
          <li style="display: none;" id="invoice_title_li">
            <label class="required" for="invoice_title"><em>*</em><?php echo $this->__('Company Name')?></label>
            <div class="input-box">
              <input id="invoice_title" name="invoice_title" type="text" class="input-text required-entry" title="the invoice title">
            </div>
          </li>
          <li style="display: none" id="invoice_address_li">
            <label class="required" for="invoice_address"><em>*</em><?php echo $this->__('Invoice address')?></label>
            <div class="input-box">
              <input id="invoice_address" maxlength="250" name="invoice_address" type="text" class="input-text required-entry" title="the invoice address">
            </div>
          </li>
          <li id="invoice_type_li">
            <label class="required" for="invoice_type"><em>*</em><?php echo $this->__('Invoice type')?></label>
            <div class="input-box">
              <select id="invoice_type" name="invoice_type" class="invoice-select" title="">
                <option value="水果">水果</option>
                <option value="农产品">农产品</option>
                <option value="食品">食品</option>
                <option value="礼品">礼品</option>
              </select>
            </div>
          </li>
        </ul>
      </div>
      <script type="text/javascript">
        jQuery(".invoice-checked").click(function(){
          if($j(this).next('input').attr('checked')=='checked'){
            $j(this).attr('src','<?php echo $this->getSkinUrl('images/checked-no.jpg')?>');
            $j(this).next().attr('checked',false);
            $j(this).parents().next('ul.form-list').hide();
          }else{
            $j(this).attr('src','<?php echo $this->getSkinUrl('images/checked-yes.jpg')?>');
            $j(this).next().attr('checked',true);
            $j(this).parents().next('ul.form-list').show();
          }
        });
        jQuery("#p_invoice_title_person").click(function(){
          jQuery("#invoice_title_li").hide();
        });

        jQuery("#p_invoice_title_company").click(function(){
          jQuery("#invoice_title_li").show();
        });
      </script>
    </div>
    <div class="col-5 iwd-5">
      <div class="title">
        <img src="<?php echo $this->getSkinUrl('images/col-5.jpg')?>">
        <div class="onepage-product"><?php echo $this->__('Product information')?></div>
        <div class="back-card"><?php echo $this->__('Back to cart>>')?></div>
      </div>
      <div class="content">
        <table>
          <tr class="table-title">
            <td class="product-name"><?php echo $this->__('Product Name')?></td>
            <td><?php echo $this->__('Price')?></td>
            <td><?php echo $this->__('Qty')?></td>
            <td><?php echo $this->__('Specifications')?></td>
            <td><?php echo $this->__('Subtotal')?></td>
          </tr>
          <tr class="table-content">
            <td>养乐多乳酸菌饮料<img src="<?php echo $this->getSkinUrl('images/noreturngoods.jpg')?>"></td>
            <td>€4.90</td>
            <td>2</td>
            <td>100ml</td>
            <td>€9.80</td>
          </tr>
          <tr class="table-content">
            <td>海南千禧圣女果<img src="<?php echo $this->getSkinUrl('images/noreturngoods.jpg')?>"></td>
            <td>€8.60</td>
            <td>1</td>
            <td>1kg</td>
            <td>€8.60</td>
          </tr>
        </table>
        <div class="pro-remarks">
          <div class="pro-remarks-left">
            <span><?php echo $this->__('Remarks:')?></span>
            <input type="text" name="pro-remarks" id="pro-remarks" placeholder="<?php echo $this->__('Optional,Additional Requirement')?>"></input>
          </div>
          <div class="pro-remarks-right">
            <span class="l-1"><img src="<?php echo $this->getSkinUrl('images/returngoods.jpg')?>"><?php echo $this->__('seven days return')?></span>
            <span class="r-1"><img src="<?php echo $this->getSkinUrl('images/noreturngoods.jpg')?>"><?php echo $this->__('Do not seven days return')?></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 iwd-6">
      <div class="title">
        <img src="<?php echo $this->getSkinUrl('images/col-6.jpg')?>"><div><?php echo $this->__('Integral information')?></div>
      </div>
      <div class="content">
        <p><img src="<?php echo $this->getSkinUrl('images/reward-card.jpg')?>" name="rewardcard"/><span><?php echo $this->__("Use Reward Card")?></span></p>
        <p class="total-reward"><?php echo $this->__("Your current points are")?><span class="red">1680</span></p>
      </div>
    </div>
    <div class="col-7 iwd-7">
      <div class="title">
        <img src="<?php echo $this->getSkinUrl('images/col-7.jpg')?>"><div><?php echo $this->__('Orderer information')?></div>
      </div>
      <div class="content">
        <table>
          <tr>
            <td><?php echo $this->__('Orderer Name:')?></td>
            <td><input type="text" name="orderer-name" id="orderer-name" placeholder="<?php echo $this->__('Non mandatory')?>"></input></td>
          </tr>
          <tr>
            <td><?php echo $this->__('Orderer Phone:')?></td>
            <td><input type="text" name="orderer-phone" id="orderer-phone" placeholder="<?php echo $this->__('Non mandatory')?>"></input></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="checked-total">
    <table>
      <tr>
        <td><?php echo $this->__('Total:')?></td>
        <td>€18.40</td>
      </tr>
      <tr>
        <td><?php echo $this->__('Freight:')?></td>
        <td>€2.90</td>
      </tr>
      <tr>
        <td><?php echo $this->__('Discount:')?></td>
        <td>€-0.00</td>
      </tr>
      <tr>
        <td><?php echo $this->__('Advancepayment:')?></td>
        <td>€-0.00</td>
      </tr>
      <tr>
        <td><?php echo $this->__('Integral:')?></td>
        <td>€-0.00</td>
      </tr>
    </table>
  </div>
</div>
<div class="onepage-total">
  <div class="onepage-total-price">
    <span class="price">21.30€</span>
    <span class="word"><?php echo $this->__('Accounts payable:')?></span>
  </div>
  <button id="placeOrderButton" type="submit" title="<?php echo $this->__('Place Order')?>" class="button btn-checkout"><span><?php echo $this->__('Place Order')?></span></button>
</div>
<div class="fix-onepage-total">
  <div class="onepage-total">
    <div class="onepage-price">
      <span class="word"><?php echo $this->__('Freight:')?></span>
      <span class="price">2.90€</span>
      <span class="symbol">+</span>
      <span class="word"><?php echo $this->__('Total:')?></span>
      <span class="price">18.40€</span>
      <span class="symbol">=</span>
      <span class="word"><?php echo $this->__('Accounts payable:')?></span>
      <span class="total-price">21.30€</span>
    </div>
    <div class="onepage-button">
      <button id="placeOrderButton" type="submit" title="<?php echo $this->__('Place Order')?>" class="button btn-checkout"><span><?php echo $this->__('Place Order')?></span></button>
    </div>
  </div>
</div>

