<?php
 /**
 * GoMage LightCheckout Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2015 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 5.9
 * @since        Class available since Release 1.0
 */
?>

<?php if(!Mage::helper('gomage_checkout')->getIsAnymoreVersion(1, 4, 1)):?>

<dl class="sp-methods" id="checkout-payment-method-load">
    
    <?php foreach ($this->getMethods() as $_method): $_code = $_method->getCode() ?>
        <dt>
        <?php if( sizeof($this->getMethods()) > 1 ): ?>
            <input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="radio" name="payment[method]" title="<?php echo $this->htmlEscape($_method->getTitle()) ?>" class="radio" onclick="payment.switchMethod('<?php echo $_code ?>')"<?php if($this->getSelectedMethodCode()==$_code): ?> checked="checked"<?php endif; ?> />
        <?php else: ?>
            <span class="no-display"><input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="radio" name="payment[method]" checked="checked" /></span>
        <?php endif; ?>
            <label for="p_method_<?php echo $_code ?>"><?php echo $_method->getTitle() ?></label>
            <?php if($_code == "wgupi"): ?>
                <div class="sm"><img src="<?php echo $this->getSkinUrl('images/checkout/carte-checkout.jpg'); ?>" /></div>
            <?php elseif($_code == "paypal_express"): ?>
                <div class="sm"><img src="<?php echo $this->getSkinUrl('images/checkout/pp-checkout.jpg'); ?>" alt="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('paypal')->__('Acceptance Mark')) ?>" class="v-middle" /></div>
             <?php endif; ?>
        </dt>
        <?php if($html = $this->getChildHtml('payment.method.'.$_code)): ?>
        <!-- <dd>
            <?php echo $html; ?>
        </dd> -->
        <?php endif; ?>
    <?php endforeach; ?>
</dl>
<script type="text/javascript">
    payment.init();
    if ((payment.currentMethod == '') && ('<?php echo $this->getSelectedMethodCode(); ?>' != '')){
        payment.switchMethod('<?php echo $this->getSelectedMethodCode(); ?>');
    }
</script>

<?php else:?>

<?php echo $this->getChildHtml('gomage.reward.points') ?>

<dl class="sp-methods" id="checkout-payment-method-load">
<?php foreach ($this->getMethods() as $_method): $_code = $_method->getCode() ?>
    <dt>
    <?php if( sizeof($this->getMethods()) > 1 ): ?>
        <input onclick="payment.switchMethod('<?php echo $_code ?>')" id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="radio" name="payment[method]" title="<?php echo $this->escapeHtml($this->getMethodTitle($_method)) ?>" <?php if($this->getSelectedMethodCode()==$_code): ?> checked="checked"<?php endif; ?> class="radio" />
    <?php else: ?>
        <span class="no-display"><input id="p_method_<?php echo $_code ?>" value="<?php echo $_code ?>" type="radio" name="payment[method]" checked="checked" class="radio" /></span>
    <?php endif; ?>
        <label for="p_method_<?php echo $_code ?>"><?php echo $this->escapeHtml($this->getMethodTitle($_method))  ?> <?php echo $this->getMethodLabelAfterHtml($_method) ?></label>
        <?php if($_code == "wgupi"): ?>
            <div class="sm"><img src="<?php echo $this->getSkinUrl('images/checkout/carte-checkout.jpg'); ?>" /></div>
        <?php elseif($_code == "paypal_express"): ?>
            <div class="sm"><img src="<?php echo $this->getSkinUrl('images/checkout/pp-checkout.jpg'); ?>" alt="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('paypal')->__('Acceptance Mark')) ?>" class="v-middle" /></div>
        <?php endif; ?>
    </dt>
    <?php if ($html = $this->getPaymentMethodFormHtml($_method)): ?>
    <!-- <dd>
        <?php echo $html; ?>
    </dd> -->
    <?php endif;  endforeach; ?>
    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery(".sp-methods dt").each(function(){
                if(jQuery(this).children('input').attr("checked")){
                    jQuery(this).children('.sm').show();
                }
            })
        })
    </script>
</dl>

<script type="text/javascript">
//<![CDATA[
    <?php echo $this->getChildChildHtml('scripts'); ?>
    payment.init();
    if ((payment.currentMethod == '') && ('<?php echo $this->getSelectedMethodCode(); ?>' != '')){
        payment.switchMethod('<?php echo $this->getSelectedMethodCode(); ?>');
    }
//]]>
</script>


<?php endif;?>