<?php
/** @var $this Tunda_OrderDeliveryTime_Block_Checkout_Onepage_OrderDeliveryTime */
?>

<div class="orderdeliverytime">
	<!-- <div class="title">
		<h3><?php echo $this->__('Delivery time availables') ?></h3>
	</div> -->
	<div class="content">
		<form>
			<select class="required" id="delivery_time" name="delivery_time" style="display:none;">
				<?php
					$_options = $this->getOptions();
					foreach ($_options as $_option) :
				?>
					<option><?php echo $this->escapeHtml($_option['label']) ?></option>
				<?php endforeach; ?>
			</select>
		</form>
	</div>
</div>
<?php 
	$i=1;
	$j=1;
?>
<div class="checkout-calendar">
<?php
	$ranges = $this->getRange();
	foreach($ranges as $timestamp => $range):
		$datetime = new Zend_Date($timestamp);
		$datetime->setLocale(Mage::getStoreConfig(Mage_Core_Model_Locale::XML_PATH_DEFAULT_LOCALE))
		         ->setTimezone(Mage::getStoreConfig(Mage_Core_Model_Locale::XML_PATH_DEFAULT_TIMEZONE));

	?>
		<!--
		To designers:
		please move the inline style and javascript in the appropriate files but do not change class names
		-->
	<div class="weekday" value="<?php echo $i?>">
		<div class="days">
			<div class="wy"><?php echo $_weekday = $datetime->get(Zend_Date::WEEKDAY)?></div>
			<div class="dy"><?php echo $_day = $datetime->get(Zend_Date::DAY); ?></div>
			<div class="mh"><?php echo $_month = $datetime->get(Zend_Date::MONTH); ?></div>
		</div>
		<!-- <div class="hours">
			<?php foreach($range as $_hoursRange): ?>
				<span data-name="<?php echo $this->escapeHtml($_hoursRange->getName()) ?>" style="display:block"><?php echo $this->escapeHtml($_hoursRange->getRange()) ?></span>
			<?php endforeach; ?>
		</div> -->
	</div>
	<?php
	$i++;
	endforeach;
	?>
</div>
<div class="checkout-time">
	<?php
	$ranges = $this->getRange();
	foreach($ranges as $timestamp => $range):
		$datetime = new Zend_Date($timestamp);
		$datetime->setLocale(Mage::getStoreConfig(Mage_Core_Model_Locale::XML_PATH_DEFAULT_LOCALE))
		         ->setTimezone(Mage::getStoreConfig(Mage_Core_Model_Locale::XML_PATH_DEFAULT_TIMEZONE));

	?>
	<div class="weekday" value="<?php echo $j?>">
		<div class="hours <?php echo 'hours-'.$j?>">
			<?php foreach($range as $_hoursRange): ?>
				<span data-name="<?php echo $this->escapeHtml($_hoursRange->getName()) ?>" style="display:block"><?php echo $this->escapeHtml($_hoursRange->getRange()) ?></span>
			<?php endforeach; ?>
		</div>
	</div>
	<?php
	$j++;
	endforeach;
	?>
</div>


<script type="text/javascript">
    $j(document).ready(function(){
　　    $j('table.time-title tr td .time').html($j("#delivery_time").find("option:selected").text());
    }); 
</script>

// <script type="text/javascript">
// 	var $weekDay = jQuery('.checkout-calendar .weekday');
// 	var $hours = $weekDay.find('.hours  span');

// 	$weekDay.each(function(i,v){
// 		jQuery(v).find('.hours > span').each(function(a,b){
// 			jQuery(b).on('click',function(event){
// 				event.stopPropagation();
// 				$hours.removeClass('active');
// 				jQuery(this).addClass('active');
// 				jQuery('#delivery_time').val(jQuery(this).data('name'));
// 				jQuery('table.time-title tr td .time').html(jQuery("#delivery_time").find("option:selected").text());
// 			});
// 		});
// 		jQuery(this).on('click',function(event){
// 			event.stopPropagation();
// 			$weekDay.removeClass('active');
// 			jQuery(this).addClass('active');
// 		});
// 	});
// </script>