<?php
/** @var $this Tunda_OrderDeliveryTime_Block_Checkout_Onepage_OrderDeliveryTime */
?>

<div class="orderdeliverytime">
	<!-- <div class="title">
		<h3><?php echo $this->__('Delivery time availables') ?></h3>
	</div> -->
	<div class="content">
		<form>
			<select class="required" id="delivery_time" name="delivery_time" style="display:none;">
				<?php
				$_options = $this->getOptions();
				foreach ($_options as $_option) :
					?>
				<option><?php echo $this->escapeHtml($_option['label']) ?></option>
			<?php endforeach; ?>
		</select>
	</form>
</div>
</div>
<ul class="checkout-calendar">
	<?php
	$ranges = $this->getRange();
	foreach($ranges as $timestamp => $range):
		$datetime = new Zend_Date($timestamp);
	$datetime->setLocale(Mage::getStoreConfig(Mage_Core_Model_Locale::XML_PATH_DEFAULT_LOCALE))
	->setTimezone(Mage::getStoreConfig(Mage_Core_Model_Locale::XML_PATH_DEFAULT_TIMEZONE));

	?>
		<!--
		To designers:
		please move the inline style and javascript in the appropriate files but do not change class names
	-->
	<li class="weekday">
		<div class="days">
			<div class="wy"><?php echo $_weekday = $datetime->get(Zend_Date::WEEKDAY)?></div>
			<div class="dy"><?php echo $_day = $datetime->get(Zend_Date::DAY); ?></div>
			<div class="mh"><?php echo $_month = $datetime->get(Zend_Date::MONTH_NAME); ?></div>
		</div>
		<?php $_hourHtml .='<li class="hours">';?>
		<?php foreach($range as $_hoursRange): ?>
			<?php $_hourHtml .='<p data-name="'.$this->escapeHtml($_hoursRange->getName()).'">'.$this->escapeHtml($_hoursRange->getRange()).'</p>';?>
		<?php endforeach; ?>
		<?php $_hourHtml .='</li>';?>
	</li>
	<?php
	endforeach;
	?>
</ul>
<div class="time-choose">
	<div class="word">
		<p class="word-f1">
			<?php echo $this->__('Seleziona fascia oraria:')?>
		</p>
		<p class="word-f2">
			<?php echo $this->__('Se la fascia oraria che desideri non è disponibile, significa che è completa e che è necessario sceglierne una successiva.')?>
		</p>
	</div>
	<ul class="time"><?php echo $_hourHtml;?></ul>
</div>
<script type="text/javascript">
	jQuery(document).ready(function(){
		jQuery('.checkout-calendar li.weekday:first-child').addClass('active');
		jQuery('.time li.hours:first-child').addClass('active');
		jQuery('.time li.hours:first-child p:first-child').addClass('active');
	}); 
	jQuery('.checkout-calendar li.weekday').click(function(){
		jQuery('.checkout-calendar li.weekday').removeClass('active');
		jQuery(this).addClass('active');
		jQuery('.time li.hours').removeClass('active');
		jQuery('.time li.hours').eq(jQuery('.checkout-calendar li.weekday').index(this)).addClass('active');
		jQuery('.time li.hours p').removeClass('active');
		jQuery('.time li.active p:first-child').addClass('active');
		jQuery('#delivery_time').val(jQuery('.time li.active p:first-child').data('name'));
		jQuery('table.time-title tr td .time').html(jQuery("#delivery_time").find("option:selected").text());
	})
	jQuery('.time li.hours p').click(function(){
		jQuery('.time li.hours p').removeClass('active');
		jQuery(this).addClass('active');
		jQuery('#delivery_time').val(jQuery(this).data('name'));
		jQuery('table.time-title tr td .time').html(jQuery("#delivery_time").find("option:selected").text());
	})
</script>
<script type="text/javascript">
// 	var $weekDay = jQuery('.checkout-calendar .weekday');
// 	var $hours = $weekDay.find('.hours  span');

// 	$weekDay.each(function(i,v){
// 		jQuery(v).find('.hours > span').each(function(a,b){
// 			jQuery(b).on('click',function(event){
// 				event.stopPropagation();
// 				$hours.removeClass('active');
// 				jQuery(this).addClass('active');
// 				jQuery('#delivery_time').val(jQuery(this).data('name'));
// 				jQuery('table.time-title tr td .time').html(jQuery("#delivery_time").find("option:selected").text());
// 			});
// 		});
// 		jQuery(this).on('click',function(event){
// 			event.stopPropagation();
// 			$weekDay.removeClass('active');
// 			jQuery(this).addClass('active');
// 		});
// 	});
</script>