<?php if(Mage::getSingleton( 'customer/session' )->isLoggedIn()): ?>
<div class="customer-service">
	<ul>
		<li>
			<div class="field">
				<span class="customer-account-left-word">
					<?php echo $this->__('Service Hotline')?>
				</span>
				
				<span class="customer-account-right-img">
					
				</span>
				<span class="customer-account-right-word">
					02-6556-0865
				</span>
			</div>
		</li>
		<li>
			<div class="field">
				<span class="customer-account-left-word">
					<?php echo $this->__('Return And Change')?>
				</span>
				<span class="customer-account-right-img">
					
				</span>
			</div>
		</li>
		<li>
			<div class="field">
				<span class="customer-account-left-word">
					<?php echo $this->__('Opinions And Suggestions')?>
				</span>
				<span class="customer-account-right-img">
					
				</span>
			</div>
		</li>
		<li class="last">
			<div class="field">
				<span class="customer-account-left-word">
					<?php echo $this->__('Help Center')?>
				</span>
				<span class="customer-account-right-img">
					
				</span>
			</div>
		</li>
	</ul>
</div>
<div class="customer-service-faq">
	<a href="#"><span><?php echo $this->__('FAQ')?></span></a>
</div>
<?php else: 
 	header("Location:".$this->getBaseUrl().'customer/account/login/'.""); 
	exit;
?>
<?php endif?>