<?php 
$_product = Mage::getModel('catalog/product')->load(3);
$proReviews = Mage::getModel('review/review')->getCollection()
->addStoreFilter(Mage::app()->getStore()->getId())
->addStatusFilter(1)
->addEntityFilter('product', 3)
->setDateOrder()
->setPageSize(5)
->setCurPage(1)
->load()
->addRateVotes();

$_items= $proReviews->getItems();
$ratingData = Mage::getModel('rating/rating_option_vote')->getCollection()
->addFieldToFilter('entity_pk_value',$_product->getId());

?>
<div class="reviews-f1">
	<div class="f1-product">
		<img src="<?php echo $_product->getThumbnailUrl()?>">
		<div class="reviews-product-name"><?php echo $_product->getName()?></div>
	</div>
	<div class="f1-reviews-num">
		<ul>
			<li>
				<span class="rating-box"><span class="rating" style="width: 100%"></span></span>
				<span class="num">(223)</span>
			</li>
			<li>
				<span class="rating-box"><span class="rating" style="width: 80%"></span></span>
				<span class="num">(223)</span>
			</li>
			<li>
				<span class="rating-box"><span class="rating" style="width: 60%"></span></span>
				<span class="num">(223)</span>
			</li>
			<li>
				<span class="rating-box"><span class="rating" style="width: 40%"></span></span>
				<span class="num">(223)</span>
			</li>
			<li>
				<span class="rating-box"><span class="rating" style="width: 20%"></span></span>
				<span class="num">(223)</span>
			</li>
		</ul>
	</div>
</div>
<ul class="reviews-f2">
	<?php foreach ($_items as $_review):?>
		<li>
			<div class="filed">
				<span class="cust-name"><?php echo $this->escapeHtml($_review->getNickname())?></span>
				<span class="cust-date"><?php echo date('Y-m-d', strtotime($_review->getCreatedAt()));?></span>
				<?php $_votes = $_review->getRatingVotes();?>
				<?php foreach ($_votes as $_vote): ?>
					<span class="rating-box"><span class="rating" style="width: <?php echo $_vote->getPercent();?>%"></span></span>
				<?php endforeach; ?>
				<span class="customer-account-right-img"></span>
			</div> 
		</li> 
	<?php endforeach; ?>
</ul>

<?php echo $this->getLayout()->createBlock('page/html_pager', 'rviews_single_list')->setCollection($proReviews)->toHtml();?>
