<!--@subject Benvenuto, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a></td> 
                    </tr>
                <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">Gentile {{htmlescape var=$customer.name}},</h1>
                            <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Benvenuto su {{var store.getFrontendName()}}. Per accedere, quando visiti il nostro sito, basta cliccare su <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Login</a> o <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Il mio Account</a> in alto in ogni pagina, poi inserire il tuo indirizzo e-mail e la tua password.</p>
                            <p style="border:1px solid #E0E0E0; font-size:12px; line-height:16px; margin:0; padding:13px 18px; background:#f9f9f9;">
                                Utilizza i parametri seguenti quando devi effettuare l'accesso:<br/>
                                <strong>E-mail</strong>: {{var customer.email}}<br/>
                                <strong>Password</strong>: {{htmlescape var=$customer.password}}<p>
                            <p style="font-size:12px; line-height:16px; margin:0 0 8px 0;">Quando avrai effettuato l'accesso al tuo account, sarai in grado di svolgere le seguenti azioni:</p>
                            <ul style="font-size:12px; line-height:16px; margin:0 0 16px 0; padding:0;">
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Passare attraverso checkout pi&ugrave; veloci quando effettui un acquisto</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Verificare lo stato degli ordini</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Visualizzare gli ordini precedenti</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Modificare le informazioni relative al tuo account</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Cambiare la tua password</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Memorizzare indirizzi alternativi (per spedire a pi&ugrave; membri della famiglia ed agli amici!)</li>
                            </ul>
                            <p style="font-size:12px; line-height:16px; margin:0;">Se hai qualche domanda riguardante il tuo account o su un qualsiasi altro argomento, non esitare a contattarci al <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> o telefonicamente al numero {{config path='general/store_information/phone'}}.</p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Grazie, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>