<!--@subject {{var subject}} @-->
{{var store.getFrontendName()}}<br>
Indirizzo email Moneybookers: {{var email_addr}}<br>
ID cliente Moneybookers: {{var customer_id}}<br>
URL: {{var url}}<br>
Lingua: {{var language}}<br>