<!--@subject Benvenuto, {{var name}} @-->
<!--@vars
{"htmlescape var=$name":"Recipient Name",
"var product_url":"Url for Product",
"var product_name":"Product Name",
"var message":"Sender Message"}
@-->

Benvenuto, {{htmlescape var=$name}}<br /><br />Guarda qui <a href="{{var product_url}}">{{var product_name}}</a><br /><br />c'&egrave; un messaggio: <br />{{var message}}<br /><br />