<!--@subject Benvenuto, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->

<!--@styles
@-->

{{inlinecss file="email-new.css"}}

<div class="wrapper">
    <div class="topDiv">
        <div class="logo"> <a href="{{store url}}"><img src="{{var logo_url}}" alt=""></a> </div>
    </div>
    <!-- END THE HEADER -->
    
    <div class="mainCon semibold">
        <div class="sure_info">
            <h3 class="extrabold">{{htmlescape var=$customer.name}},</h3><br>
            <p>Per accedere al sito <a href="{{store url}}" target="_blank">weygo.com</a> è sufficiente cliccare su <a href="{{store url="customer/account/"}}" target="_blank">Login</a> o <a href="{{store url="customer/account/"}}" target="_blank">Il mio Account</a> (in alto a destra in ogni pagina), inserire il tuo indirizzo e-mail e la tua password.
</p>
            <dl>
            <dt>Una volta effettuato l'accesso al tuo account, sarai in grado di:
</dt>
            <dd>Procedere più rapidamente al pagamento del tuo acquisto</dd>
            <dd>Verificare lo stato dei tuoi ordini</dd>
            <dd>Visualizzare i tuoi ordini precedenti
</dd>
            <dd>Modificare le informazioni relative al tuo account</dd>
            <dd>Cambiare la tua password</dd>
            <dd>Memorizzare indirizzi alternativi (per farti consegnare la spesa in ufficio o a casa di parenti o amici)</dd>
            </dl><br>
            <div class="tips">Se hai qualche domanda contattaci tramite la live-chat disponibile sul nostro sito.</div>
            <p class="copyright extrabold">Grazie dal team di Weygo</p>
        </div>
    </div>
</div>