<!--@subject Conferma Account per  {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"var customer.email":"Customer Email",
"store url=\"customer/account/confirm/\" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url":"Confirmation Url",
"htmlescape var=$customer.password":"Customer password"}
@-->

<!--@styles
    @-->
    {{inlinecss file="email-new.css"}}
    

    <div class="wrapper">
        <div class="topDiv">
            <div class="logo"> <a href="{{store url}}"><img src="{{var logo_url}}" alt=""></a> </div>
        </div>
        <!-- END THE HEADER -->

        <div class="mainCon semibold">
            <div class="sure_info">
               <h3 class="extrabold">{{htmlescape var=$customer.name}},</h3>

               <p>Grazie per la tua registrazione.</p>
               <p>l tuo indirizzo e-mail {{var customer.email}} deve venire confermata prima di poter essere utilizzata per l’accesso al sito weygo.com.</p>

               <p>Clicca il tasto qui sotto per confermare l’account ed esegui subito il login.</p>
               <div class="btn extrabold"><a href="{{store url="customer/account/confirm/" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url}}">CONFERMA ACCOUNT</a></div>
               <div class="tips">Se hai qualche domanda contattaci tramite la live-chat disponibile sul nostro sito.</div>
               <p class="copyright extrabold">Grazie dal team di Weygo</p>
           </div>
       </div>
   </div>