<!--@subject Conferma Reset Password per {{var user.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$user.name":"Admin Name",
"store url=\"adminhtml/index/resetpassword/\" _query_id=$user.id _query_token=$user.rp_token":"Reset Password URL",
"store url=\"adminhtml/system_account/\"":"Admin Account Url"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>{{htmlescape var=$user.name}},</h1>
            <p>Recentemente abbiamo ricevuto una richiesta di modifica della password per il tuo account.</p>
            <p>Puoi cambiare la password in qualsiasi momento effettuando il login nel <a href="{{store url="adminhtml/system_account/"}}">tup account</a>.</p>
            <p>Se sei stato tu a richiedere questa modifica, premi sul link seguente per fare il reset della password:</p>
            <table cellspacing="0" cellpadding="0" class="action-button">
                <tr>
                    <td>
                        <a href="{{store url="adminhtml/index/resetpassword/" _query_id=$user.id _query_token=$user.rp_token}}"><span>Reset Password</span></a>
                    </td>
                </tr>
            </table>
            <p>Se non hai fatto tu questa richiesta, puoi ignorare questo messaggio e la tua password rimarr&agrave; invariata.</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
