<!--@subject Promemoria Transazione Pagamento Fallito @-->
<!--@vars
{"var reason":"Transaction Failed Reason",
"var checkoutType":"Checkout Type",
"var customerEmail":"Customer Email",
"var customer":"Customer Name",
"var items":"Shopping Cart Items",
"var total":"Total",
"var billingAddress.format('html')":"Billing Address",
"var shippingAddress.format('html')":"Shipping Address",
"var shippingMethod":"Shipping Method",
"var paymentMethod":"Payment Method",
"var dateAndTime":"Date and Time of Transaction"}
@-->

<table>
    <thead>
    <tr>
        <th>Transazione Pagamento Fallito.</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <p>
                <b>Motivo</b><br />
                {{var reason}}
            </p>
            <p>
                <b>Tipo Checkout</b><br />
                {{var checkoutType}}
            </p>
            <p>
                <b>Cliente:</b><br />
                <a href="mailto:{{var customerEmail}}">{{var customer}}</a> &lt;{{var customerEmail}}&gt;
            </p>
            <p>
                <b>Prodotti</b><br />
                {{var items}}
            </p>
            <p>
                <b>Totale:</b><br />
                {{var total}}
            </p>
            <p>
                <b>Indirizzo di fatturazione:</b><br />
                {{var billingAddress.format('html')}}
            </p>
            <p>
                <b>Indirizzo di spedizione:</b><br />
                {{var shippingAddress.format('html')}}
            </p>
            <p>
                <b>Metodo di spedizione:</b><br />
                {{var shippingMethod}}
            </p>
            <p>
                <b>Metodo di Pagamento:</b><br />
                {{var paymentMethod}}
            </p>
            <p>
                <b>Data e ora:</b><br />
                {{var dateAndTime}}
            </p>
        </td>
    </tr>
    </tbody>
</table>
