<!--@subject Salve, {{var name}} @-->
<!--@vars
{"htmlescape var=$userName":"User name",
"var $applicationName":"Application name",
"var $status":"Token new status"}
@-->
{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>Ciao, {{htmlescape var=$userName}}</h1>
            <p>La tua autorizzazione <b>{{htmlescape var=$applicationName}}</b> è stata cambiata in <b>{{htmlescape var=$status}}</b> dall'amministrazione.</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
