<!--@subject {{var store.getFrontendName()}}: Nuovo Ordine # {{var order.increment_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var order.increment_id":"Order Id",
"var order.getCreatedAtFormated('long')":"Order Created At (datetime)",
"var order.getBillingAddress().format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.getShippingAddress().format('html')":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"layout handle=\"sales_email_order_items\" order=$order":"Order Items Grid",
"var order.getEmailCustomerNote()":"Email Order Note"}
@-->
<!--@styles
    @-->



    {{inlinecss file="email-new.css"}}

    <div class="wrapper">
        <div class="topDiv">
            <div class="logo"> <a href="{{store url}}"><img src="{{var logo_url}}" alt=""></a> </div>
        </div>
        <!-- END THE HEADER -->

        <div class="mainCon semibold">
            <div class="order_info">
                <div class="head">
                    <h3 class="extrabold">GRAZIE PER IL TUO ORDINE </h3>
                    <p>Il tuo ordine <strong class="extrabold">#{{var order.increment_id}}</strong> <small>Effetuato il {{var order.getCreatedAtFormated('long')}}</small></p>
                </div>
                <div class="body">
                    <div class="list clearfix">
                        <dl class="item-a">
                            <dt> FATTURA A:</dt>
                            <dd>{{var order.getBillingAddress().format('html')}}</dd>
                            <!-- <dd>XXXXX XXXXX</dd> -->
                            <!-- <dd>corso como</dd> -->
                            <!-- <dd>Civico: 5</dd> -->
                            <!-- <dd>20154 Milano-Italia</dd> -->
                            <!-- <dd>T:3934279435</dd> -->
                        </dl>
                        <dl class="item-b">
                            <dt> FATTURA A:</dt>
                            <dd>{{var order.getShippingAddress().format('html')}}</dd>
                            <!-- <dd>XXXXX XXXXX</dd> -->
                            <!-- <dd>corso como</dd> -->
                            <!-- <dd>Civico: 5</dd> -->
                            <!-- <dd>20154 Milano-Italia</dd> -->
                            <!-- <dd>T:3934279435</dd> -->
                            <!-- <dd>Ascensore: Si</dd> -->
                        </dl>
                        <dl class="item-c">
                            <dt> PAGAMENTO:</dt>
                            <dd>{{var payment_html}}</dd>
                            <!-- <dd>consegna</dd> -->
                        </dl>
                    </div>
                    <div class="table ">
                        <table width="100%">
                            <thead>
                                <tr>
                                    <th width="63%" class="tl" scope="col">Articoli nell’ordine</th>
                                    <th width="25%" scope="col">Quantità</th>
                                    <th width="12%" scope="col">Totale</th>
                                </tr>
                            </thead>
                        </table>
                        {{layout handle="sales_email_order_items" order=$order}}
                    </div>
                </div>
            </div>
            <div class="sure_info">
                <div class="tips">Se hai qualche domanda contattaci tramite la live-chat disponibile sul nostro sito.</div>
                <p class="copyright extrabold">Grazie dal team di Weygo</p>
            </div>
        </div>
    </div>