<?php if(Mage::getSingleton( 'customer/session' )->isLoggedIn()): ?>

<div class="confirm-payment">
	<div class="confirm-f1">
		<div class="address-left">
			<img src="<?php echo $this->getSkinUrl('images/confirm-j.png')?>"><span><?php echo $this->__('Add Receivables address')?></span>
		</div>
		<span class="customer-account-right-img"></span>
	</div>
	<div class="confirm-f2">
		<div class="payment-method">
			<div class="confirm-title"><?php echo $this->__("Payment Method")?></div>
			<div class="confirm-content"><img src="<?php echo $this->getSkinUrl().'images/MasterCard.png'?>"><span class="customer-account-right-img"></span></div>
			<div class="choose-payment" style="display: none;">
				<?php echo $this->getLayout()->createBlock("core/template")->setTemplate("checkout/payment-method.phtml")->toHtml();?>
			</div>
		</div>
		<div class="invoice">
			<div class="confirm-title"><?php echo $this->__("Invoice Info")?></div>
			<div class="confirm-content"><span><?php echo $this->__("No Need")?></span><span class="customer-account-right-img"></span></div>
			<div class="choose-invoice" style="display: none;">
				<?php echo $this->getLayout()->createBlock("core/template")->setTemplate("checkout/invoice.phtml")->toHtml();?>
			</div>
		</div>
	</div>
	<div class="confirm-f3">
		<div class="confirm-title"><?php echo $this->__('Recharge remarks')?></div>
		<div class="confirm-content">
			<textarea placeholder="<?php echo $this->__('Please enter your question(less than 100 words)')?>"></textarea>
		</div>
	</div>
	<div class="confirm-f4">
		<div class="money-left">
			<img src="<?php echo $this->getSkinUrl('images/confirm-f.png')?>"><span><?php echo $this->__(' Totals ')?></span>
		</div>
		<div class="money-right">€ 1000.00</div>
	</div>
</div>
<div class="confirm-buttom">
	<div class="confirm-buttom-left">
		<p class="word"><?php echo $this->__('Actual Payment')?></p>
		<p class="monery">€ 1000.00</p>
	</div>
	<div class="confirm-buttom-right">
		<?php echo $this->__('Confire Recharge')?>
	</div> 
</div>
<script type="text/javascript">
	$j('.confirm-f2 .payment-method .customer-account-right-img').click(function(){
		$j('.choose-payment').show();
	})
	$j('.confirm-f2 .invoice .customer-account-right-img').click(function(){
		$j('.choose-invoice').show();
	})
	$j('.choose-payment-method .payment-bottom').click(function(){
		$j('.choose-payment').hide();
	})
	$j('.invoice-choose-invoice .yes').click(function(){
		$j('.choose-invoice').hide();
	})
	$j('.invoice-choose-invoice .no').click(function(){
		$j('.choose-invoice').hide();
	})
</script>
<?php else: 
 	header("Location:".$this->getBaseUrl().'customer/account/login/'.""); 
	exit;
?>
<?php endif?>