<?php if(Mage::getSingleton( 'customer/session' )->isLoggedIn()): ?>

<div id="giftvoucher">
	<ul id="isRedeemType">
		<li id="1" class="active"><?php echo $this->__('Account Recharge')?></li>
		<li id="2" class=""><?php echo $this->__('Card Recharge')?></li>
		<div class="clear"></div>
	</ul>
	<div>
		<form id="addredeem-giftvoucher-2" method="post" action="" style="display: none;">
			<ul id="codeRedeem">
				<li class="fields">
					<div class="giftvoucher-code">
						<input id="gift-voucher-code" placeholder="<?php echo $this->__('Enter card number')?>" name="giftvouchercode" value="" title="Enter Gift Card Code" class="input-text required-entry validate-alphanum" type="text">
					</div>
				</li>
				<li class="fields">
					<div class="giftvoucher-code giftvoucher-code-password">
						<input id="gift-voucher-code" placeholder="<?php echo $this->__('Enter card password')?>" name="giftvouchercode" value="" title="Enter Gift Card password" class="input-text required-entry validate-alphanum" type="password">
					</div>
				</li>
			</ul>
		</form>
		<form id="addredeem-giftvoucher-1" method="post" action="#" style="display: block;">
			<ul id="onlineRedeem">
				<li class="fields giftvoucher-type select-amount">
					<div class="field">
						<div class="input-box active">
							<p><?php echo $this->__('Recharge ')?><span class="green">100€</span><?php echo $this->__(' Get ')?><span class="green">105€</span> <?php echo $this->__(' Save ')?><span class="red">5€</span></p>
							<a class="active">
								<span></span>
								<input id="" name="payment_price" point="105" value="100.00" class="redeem-amount no-display" type="radio" checked="checked">
							</a>
						</div>
					</div>
					<div class="field">
						<div class="input-box">
							<p><?php echo $this->__('Recharge ')?><span class="green">300€</span><?php echo $this->__(' Get ')?><span class="green">325€</span> <?php echo $this->__(' Save ')?><span class="red">25€</span></p>
							<a class="">
								<span></span>
								<input id="" name="payment_price" point="325" value="300.00" class="redeem-amount no-display" type="radio">
							</a>
						</div>
					</div>
					<div class="field last-div">
						<div class="input-box">
							<p><?php echo $this->__('Recharge ')?><span class="green">500€</span><?php echo $this->__(' Get ')?><span class="green">550€</span> <?php echo $this->__(' Save ')?><span class="red">50€</span></p>
							<a class="">
								<span></span>
								<input id="" name="payment_price" point="550" value="500.00" class="redeem-amount no-display" type="radio">
							</a>
						</div>
					</div>
					<b class="clear"></b>
				</li>
			</ul>
		</form>
	</div>
	<div class="recharge-collaterals"> 
		<div class="recharge-buttom-left">
			<p class="word"><?php echo $this->__('Account Balance')?></p>
			<p class="monery">€122.70</p>
		</div>
		<div class="recharge-buttom-right">
			<button type="button" title="Proceed to Checkout" class="button btn-proceed-checkout btn-checkout" onclick="javascrtpt:window.location.href=<?php echo "'".$this->getUrl('mobile-confirm-payment')."'"?>">
				<p class="monery">€100.00</p>
				<p class="word"><?php echo $this->__('Recharge Confirm')?></p>
			</button>
		</div> 
	</div>
</div>



<script type="text/javascript">
    $j(document).ready(function() {
    	$j(".giftvoucher-type.select-amount .input-box").click(function() {
    		$j(".giftvoucher-type .input-box").removeClass('active');
    		$j(".giftvoucher-type .input-box a").removeClass('active');
    		$j(".giftvoucher-type .input-box .redeem-amount").attr('checked',false);
    		$j(this).find('input').attr('checked','checked');
    		$j(this).addClass('active');
    		$j(this).find('a').addClass('active');
    		$j(".recharge-buttom-right .monery").html("€"+$j(this).find('input').val()); 
    	}); 


    	$j('#isRedeemType li').click(function(){
    		$j(this).addClass("active");
    		$j(this).siblings().removeClass('active');
    		$j(this).parents('#giftvoucher').find('#addredeem-giftvoucher-' + $j(this).attr('id')).show();
    		$j(this).parents('#giftvoucher').find('#addredeem-giftvoucher-' + $j(this).attr('id')).siblings().hide();
    		$j("h6.four span").html($j(this).html()); 
    		if($j("#isRedeemType li#2").hasClass("active")){
    			$j(".recharge-buttom-right .monery").html("€0.00"); 
    		}else{
    			$j(":radio").each(function(){
    				if($j(this).attr('checked')=='checked'){
        				$j(".recharge-buttom-right .monery").html("€"+$j(this).val()); 
    				}
				})
    		}
    	})        

    });
</script>

<?php else: 
 	header("Location:".$this->getBaseUrl().'customer/account/login/'.""); 
	exit;
?>
<?php endif?>