<div class="page-title">
	<a class="icon-back" href="javascript:history.go(-1);"><img src="<?php echo $this->getSkinUrl('images/login-back.png')?>"></a>
	<h6 class="four">
		<span><?php echo $this->__($this->getLayout()->getBlock('head')->getTitle()) ?></span>
		<img src="<?php echo $this->getSkinUrl('images/account-xiala.png')?>">
	</h6>
</div>
<div class="account-buttom" style="display: none;">
	<nav>
        <ul>
        	<li class="hide-xila">
        		<img src="<?php echo $this->getSkinUrl('images/account-hide-xiala.png')?>">
        	</li>
            <li class="homepage-gray gray">
                <a href="<?php echo $this->getUrl('') ?>"><img src="<?php echo $this->getSkinUrl('images/Homepage1.png') ?>">
                    <div><?php echo $this->__('Homepage') ?></div>
                </a>
            </li>
            <li class="homepage colour">
                <a href="<?php echo $this->getUrl('') ?>"><img src="<?php echo $this->getSkinUrl('images/Homepage.png') ?>">
                    <div><?php echo $this->__('Homepage') ?></div>
                </a>
            </li>
            <li class="classification-gray gray">
                <a href="<?php echo $this->getBaseUrl().'mobile-category-list' ?>"><img src="<?php echo $this->getSkinUrl('images/Catalog1.png') ?>">
                    <div><?php echo $this->__('Catalog') ?></div>
                </a>
            </li>
            <li class="classification colour">
                <a href="<?php echo $this->getBaseUrl().'mobile-category-list' ?>"><img src="<?php echo $this->getSkinUrl('images/Catalog.png') ?>">
                    <div><?php echo $this->__('Catalog') ?></div>
                </a>
            </li>
            <li class="shoppingcart-gray gray">
                <a href="<?php echo $this->getBaseUrl().'checkout/cart/'?>">
                    <span class="mini-cart-qty">
                        <img src="<?php echo $this->getSkinUrl('images/Cart1.png') ?>">
                        <span class="mini-cart-qty"><?php echo floor(Mage::getModel('checkout/cart')->getQuote()->getItemsQty())?></span>
                    </span>
                    <div><?php echo $this->__('Cart') ?></div>
                </a>
            </li>
            <li class="shoppingcart colour">
                <a href="<?php echo $this->getBaseUrl().'checkout/cart/'?>">
                    <span class="mini-cart-qty">
                        <img src="<?php echo $this->getSkinUrl('images/Cart.png') ?>">
                        <span class="mini-cart-qty"><?php echo floor(Mage::getModel('checkout/cart')->getQuote()->getItemsQty())?></span>
                    </span>
                    <div><?php echo $this->__('Cart') ?></div>
                </a>
            </li>
            <li class="sreachfound-gray gray">
                <a href="<?php echo $this->getUrl('').'mobile-search' ?>"><img src="<?php echo $this->getSkinUrl('images/Found1.png') ?>">
                    <div><?php echo $this->__('Found') ?></div>
                </a>
            </li>
            <li class="sreachfound colour">
                <a href="<?php echo $this->getUrl('').'mobile-search' ?>"><img src="<?php echo $this->getSkinUrl('images/Found.png') ?>">
                    <div><?php echo $this->__('Found') ?></div>
                </a>
            </li>
            <li class="myaccount-gray gray">
                <a href="<?php echo $this->getBaseUrl().'customer/account/'?>"><img src="<?php echo $this->getSkinUrl('images/Account1.png') ?>">
                    <div><?php echo $this->__('Account') ?></div>
                </a>
            </li>
            <li class="myaccount colour">
                <a href="<?php echo $this->getBaseUrl().'customer/account/'?>"><img src="<?php echo $this->getSkinUrl('images/Account.png') ?>">
                    <div><?php echo $this->__('Account') ?></div> 
                </a>
            </li>
        </ul>
    </nav>
</div>
<script type="text/javascript">
    $j(".page-title h6.four img").click(function() {
        $j(".account-buttom").show();
    }); 
    $j(".account-buttom li.hide-xila").click(function() {
        $j(".account-buttom").hide();
    }); 
</script>