<div class="page-title">
	<a class="icon-back" href="javascript:history.go(-1);"><img src="<?php echo $this->getSkinUrl('images/login-back.png')?>"></a>
	<h6 class="four">
		<?php echo $this->getLayout()->getBlock('head')->getTitle() ?>
		<div class="cart-word cart-word-edit"><span><?php echo $this->__('Edit')?></span></div>
		<div class="cart-word cart-word-over" style="display: none;"><span><?php echo $this->__('Over')?></span></div>
	</h6>

</div>
