<div class="page-title">
	<a class="icon-back" href="javascript:history.go(-1);"><img src="<?php echo $this->getSkinUrl('images/login-back.png')?>"></a>
	<h6 class="four">
		<span class="title xiala">
			<?php
				$title=$this->__($this->getLayout()->getBlock('head')->getTitle());
				if(strstr($title,"-"))
				{
    				echo substr($title,strrpos($title,'-')+1);  ;
				}
				else
				{ 
    				echo $title;
				}
			?>
			<span class="categroy-xiala"><img src="<?php echo $this->getSkinUrl('images/categroy-xiala.png')?>"></span>
		</span>
		<span class="categroy-paixu"><img src="<?php echo $this->getSkinUrl('images/categroy-paixu.png')?>"> </span>
	</h6>
</div>

<?php $_helper = Mage::helper('catalog/category') ?>
<?php $_categories = $_helper->getStoreCategories() ?>
<?php $currentCategory = Mage::registry('current_category') ?>
<?php if (count($_categories) > 0):?>
<div class="category-list-box" style="display: none;">
    <ul class="nav-primary">
        <?php 
            foreach($_categories as $_category): 
            $_categoryId= $_category->getId();  
            $_categoryInfo = Mage::getModel('catalog/category')->load($_categoryId);
        ?>
            <li>
            	<div class="category-list">
                    <a href="<?php echo $_helper->getCategoryUrl($_category) ?>">
            			<div class="pic pic-<?php echo $_categoryId?>"><img src="<?php echo $_categoryInfo->getImageUrl() ?>"></div>
            			<div class="word"><?php echo $_categoryInfo->getName() ?> </div>
                    </a>
                </div>
            </li>
        <?php $i++; endforeach; ?>
    </ul>
</div>
<?php endif; ?>

<script type="text/javascript">
	$j('.page-title h6.four .title').click(function(){
		if(jQuery(this).attr("class").indexOf("xiala")>0){
			$j('.categroy-xiala img').attr('src','<?php echo $this->getSkinUrl('images/categroy-shangla.png')?>');
			$j('.category-list-box').show();
			$j(this).removeClass('xiala');
		}
		else{
			$j('.categroy-xiala img').attr('src','<?php echo $this->getSkinUrl('images/categroy-xiala.png')?>');
			$j('.category-list-box').hide();
			$j(this).addClass('xiala');
		}
	})
</script>

<?php $current_category = Mage::registry('current_category');?>
<?php $catalog_category = Mage::getModel('catalog/category');?>
<?php if($current_category->getLevel()==2): ?>
	<?php $_categoryId = $current_category->getId() ?>
	<?php $_category = $catalog_category->load($_categoryId) ?>
	<?php $_subcategories = $_category->getChildrenCategories() ?>
<?php elseif($current_category->getLevel()==3): ?>
	<?php $_subcategoryId = $current_category->getId()?>
	<?php $_categoryId = $current_category->getParentId()?>
	<?php $_category = $catalog_category->load($_categoryId) ?>
    <?php $_subcategories = $_category->getChildrenCategories() ?>
<?php elseif($current_category->getLevel()==4): ?>
	<?php $_threeSubcategoryId= $current_category->getId()?>
	<?php $_subcategoryId= $current_category->getParentId()?>
	<?php $_categoryId = $catalog_category->load($_subcategoryId)->getParentId()?>
	<?php $_category = $catalog_category->load($_categoryId) ?>
    <?php $_subcategories = $_category->getChildrenCategories() ?>
<?php endif;?>

<?php if (count($_subcategories) > 0): ?>
	<div class="categroy-product-list-two">
		<ul id="slider"> 
			<li>
				<div class="category-product-two">
					<a href="<?php echo $_helper->getCategoryUrl($_category) ?>">
						<span class="<?php if($_subcategoryId == ''&&$_subcategoryId==0){echo 'active-green';}?>"><?php echo $this->__('All Products') ?></span>
					</a>
				</div>
			</li>
			<?php foreach($_subcategories as $_subcategory): ?>
				<li>
					<div class="category-product-two">
						<a href="<?php echo $_helper->getCategoryUrl($_subcategory) ?>"> 
							<span class="<?php if($_subcategoryId == $_subcategory->getId()){echo 'active-green';}?>"><?php echo $_subcategory->getName() ?></span>
						</a>
					</div>
				</li>
			<?php endforeach; ?>
			<li>
				<div class="category-product-two-href hot-ten">
					<a href="#">
						<span><?php echo $this->__('Hot TOP 10') ?></span>
					</a>
				</div>
			</li>
			<li>
				<div class="category-product-two hot-Product">
					<a href="#"> 
						<span><?php echo $this->__('Hot Product')?></span>
					</a>
				</div>
			</li>
			<li>
				<div class="category-product-two scene">
					<a href="#"> 
						<span><?php echo $this->__('Scene')?></span>
					</a>
				</div>
			</li>
		</ul>
	</div>
<?php endif; ?>

<?php if($_subcategoryId != ''&&$_subcategoryId!=0): ?>
	<?php $_subcategory = $catalog_category->load($_subcategoryId) ?>
	<?php echo $_threeSubcategories = $_subcategory->getChildrenCategories() ?>
	<?php if (count($_threeSubcategories) > 0): ?>
		<div class="categroy-product-list-three">
			<ul>
				<?php foreach($_threeSubcategories as $_threeSubcategory): ?>
					<li>
						<div class="category-product-three">
							<a href="<?php echo $_helper->getCategoryUrl($_threeSubcategory) ?>"> 
								<span class="<?php if($_threeSubcategoryId == $_threeSubcategory->getId()){echo 'active-green';}?>"><?php echo $_threeSubcategory->getName() ?></span>
							</a>
						</div>
					</li>
				<?php endforeach; ?>
			</ul>
		</div>
	<?php endif; ?>
<?php endif; ?>
<div class="categroy-product-list-three no-display  hot-Product-three">
	<ul>
		<li>
			<div class="category-product-three">
				<a href="#"> 
					<span><?php echo $this->__('New Product') ?></span>
				</a>
			</div>
		</li>
		<li>
			<div class="category-product-three">
				<a href="#"> 
					<span><?php echo $this->__('Southeast Asian') ?></span>
				</a>
			</div>
		</li>
		<li>
			<div class="category-product-three">
				<a href="#"> 
					<span><?php echo $this->__('Frozen Fruit') ?></span>
				</a>
			</div>
		</li>
		<li>
			<div class="category-product-three">
				<a href="#"> 
					<span><?php echo $this->__('Anti Season') ?></span>
				</a>
			</div>
		</li>
	</ul>
</div>
<div class="categroy-product-list-three no-display scene-three">
	<ul>
		<li>
			<div class="category-product-three">
				<a href="#"> 
					<span><?php echo $this->__('Offbeat') ?></span>
				</a>
			</div>
		</li>
		<li>
			<div class="category-product-three">
				<a href="#"> 
					<span><?php echo $this->__('Baby and Mami') ?></span>
				</a>
			</div>
		</li>
		<li>
			<div class="category-product-three">
				<a href="#"> 
					<span><?php echo $this->__('Eat Every Day') ?></span>
				</a>
			</div>
		</li>
		<li>
			<div class="category-product-three">
				<a href="#"> 
					<span><?php echo $this->__('A Luxury') ?></span>
				</a>
			</div>
		</li>
	</ul>
</div>


<script type="text/javascript">

	$j('.hot-ten').click(function(){
		$j('.categroy-product-list-three').addClass('no-display');
		$j('.category-product-two').children('a').children('span').removeClass('active-green');
		$j('.category-product-three').children('a').children('span').removeClass('active-green');
		$j(this).children('a').children('span').addClass('active-green');
	})
	$j('.scene').click(function(){
		$j('.categroy-product-list-three').addClass('no-display');
		$j('.category-product-two').children('a').children('span').removeClass('active-green');
		$j('.category-product-three').children('a').children('span').removeClass('active-green');
		$j(this).children('a').children('span').addClass('active-green');
		$j('.scene-three').removeClass('no-display');
	})
	$j('.hot-Product').click(function(){
		$j('.categroy-product-list-three').addClass('no-display');
		$j('.category-product-two').children('a').children('span').removeClass('active-green');
		$j('.category-product-three').children('a').children('span').removeClass('active-green');
		$j(this).children('a').children('span').addClass('active-green');
		$j('.hot-Product-three').removeClass('no-display');
	})

	$j('.scene-three .category-product-three').click(function(){
		$j('.category-product-three').children('a').children('span').removeClass('active-green');
		$j(this).children('a').children('span').addClass('active-green');
	})
	$j('.hot-Product-three .category-product-three').click(function(){
		$j('.category-product-three').children('a').children('span').removeClass('active-green');
		$j(this).children('a').children('span').addClass('active-green');
	})
</script>

