<div class="header-sreach-page">
    <div class="header-wrapper">         
        <div class="header-back">
        	<a class="icon-back" href="javascript:history.go(-1);"><img src="<?php echo $this->getSkinUrl('images/login-back.png')?>"></a>
        </div>
        <div class="search">
            <?php echo $this->getChildHtml('topSearch') ?>
        </div>
        <a class="f" href="#" width="24" height="24"><img src="<?php echo $this->getSkinUrl('images/saoyisao.png') ?>"></a>
        <div class="clear"></div>
    </div>
</div>