<div class="account-header">
	<a class="logo" href="<?php echo $this->getUrl('') ?>">
        <img src="<?php echo $this->getLogoSrcSmall() ?>" alt="<?php echo $this->getLogoAlt() ?>" class="small" />
    </a>
    <a href="<?php echo $this->getUrl('mobile-setup') ?>" class="account-shezhi"><img src="<?php echo $this->getSkinUrl('images/account-shezhi.png')?>"></a>
</div>