<div class="page-title">
	<a class="icon-back" href="javascript:history.go(-1);"><img src="<?php echo $this->getSkinUrl('images/login-back.png')?>"></a>
	<h6><?php echo $this->__($this->getLayout()->getBlock('head')->getTitle()) ?></h6>
	<div class="cust-order" style="display: none;"><?php echo $this->__('Online return') ?></div>
</div> 
<div class="login-content-logo">
	<a class="logo" href="<?php echo $this->getUrl('') ?>">
		<img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" class="large" />
	</a>
</div> 