<div class="onepage-points">
	<div class="title">
        <img src="<?php echo $this->getSkinUrl('images/col-6.png')?>"><div class="title-word"><?php echo $this->__('Punti')?><span><a href="#"><?php echo $this->__('(Condizioni generali)')?></a></span></div>
    </div>
    <div class="content">
    	<div class="content-title">
    		<i></i>
    		<span class="word"><?php echo $this->__('Utillizza i punti')?></span>
    	</div>
    	<!--<div class="remark">
    		<span class="word">
    			<?php echo $this->__('I tuoi punti disponibili')?>
    		</span>
    		<span class="num">
    			1688
    		</span>
    		<span class="word">
    			<?php echo $this->__(',Per questo ordine puoi utilizzare al massimo:')?>
    		</span>
    		<span class="num">
    			500
    		</span>
    		<span class="word">
    			<?php echo $this->__('punti.')?>
    		</span>
    	</div>-->
    </div>
    <div class="input-sy">
    	<input type="text" placeholder="<?php echo $this->__('Inserisci i punti da utllizzare') ?>"  class="input-text" />
    	<button type="button" class="button">
    		<span><span><?php echo $this->__('UTILIZZA')?></span></span>
    	</button>
    </div>
</div>