<div class="my-coupons">
	<div class="page-title">
		<h1><?php echo $this->__('Coupons') ?></h1>
	</div>
	<div class="page-content">
		<?php
		$_customer = Mage::getSingleton('customer/session');

		$_couponCollection = $this->helper('tunda_coupon')->getCouponList();
		if($_couponCollection->count() !== 0):?>
			<ul class="coupon-list">
				<?php
				/** @var Mage_SalesRUle_Model_Rule $_coupon */
				foreach($_couponCollection as $_coupon): ?>
					<li>
						<?php $_isUsed = Mage::helper('tunda_coupon')->checkIfUsed($_coupon, $_customer) ? 'used' : ''; ?>
						<div class="coupon-details <?php echo $_isUsed ?>">
							<div class="coupon-name"><?php echo $this->escapeHtml($_coupon->getName()) ?></div>
							<div class="coupon-description"><?php echo $this->escapeHtml($_coupon->getDescription()) ?></div>
							<?php if(null !== $_coupon->getToDate()):?>
								<div class="coupon-expiration-date"><?php echo $this->__('Available until %s', $_coupon->getToDate()) ?></div>
							<?php endif; ?>
							<div class="coupon-code"><?php echo $this->escapeHtml($_coupon->getCode()) ?></div>
						</div>
					</li>
				<?php endforeach; ?>
			</ul>
			<?php else: ?>
			<p class="wishlist-empty"><?php echo $this->__('No coupons availables')?></p>
		<?php endif;?>
	</div>
</div>

<style>
	.coupon-list li {display:inline;}
	.coupon-list .coupon-details.used { color:gray; }
	.coupon-list .coupon-details > div{display:inline; width:33%; cursor:pointer;}
</style>