.cookiealert{
	background: #bababa; 
	color: #fff; 
	padding: 5px 0; 
}

.cookiealert .message{
	max-width: 1283px; 
    margin: 6px auto;
    padding-right: 40px;
    position: relative;
}

.cookiealert .message .cookie-title{
	font-size: 14px;
    font-weight: bold;
}

.cookiealert .message .cookie-content {
	font-size: 13px;
}

.cookiealert .message .bt {
	margin-top: 6px;
}

.cookiealert .message .bt a {
	text-transform: uppercase;
}

.cookiealert .message .bt a.cookie-accept span {
	font-size: 13px;
    color: #fff;
    padding: 2px 8px;
    background-color: #148e82;
    border-radius: 5px;
}

.cookiealert .message .bt a.cookie-policy span {
	padding-left: 15px;
    font-size: 12px;
    font-weight: bold;
    color: #436fee;
    text-decoration: underline;
}

.cookiealert .message button.cookie-gb {
	border: 0px;
    background-color: #bababa;
    position: absolute;
    right: 0px;
    top: 0px;
}