<?php
 /**
 * GoMage LightCheckout Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2015 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 5.9
 * @since        Class available since Release 1.0
 */
 ?>
 <div class="billing-address" id="gcheckout-billing-address">
 	<!-- <h2 class="glc-title"><span class="glc-number">2</span><strong><?php echo $this->__('Billing address');?></strong></h2> -->
 	<div class="title">
 		<img src="<?php echo $this->getSkinUrl('images/col-1.png')?>"><div class="title-word"><?php echo $this->__('Fattura')?></div>
 	</div>
 	<div class="require-invoice">
 		<input type="checkbox" id="require-invoice" /><span><?php echo $this->__('Se vuoi la fattura fiscale clicca qui') ?></span>
 		<script type="text/javascript">
 			var requireInvoice = function(){
 				jQuery('#require-invoice').on('click', function(evt){
 					$j('#billing_company').addClass('required-entry');
 					$j('#billing_company').parents('div.field').children('label').addClass('required');
 					$j('#billing_taxvat').addClass('required-entry');
 					$j('#billing_taxvat').parents('div.field').children('label').addClass('required');
 					jQuery('#billing-new-address-form').toggle();
 					if (jQuery('#billing-new-address-form').is(':hidden')) {
 						jQuery('#require-invoice').prop("checked", false);
 					}else{
 						jQuery('#require-invoice').prop("checked", true);
 					}
 				});
 			}
 			requireInvoice();
 		</script>
 	</div>
 	<div class="glc-col">
 		<ul class="form-list">
 			<li id="billing-new-address-form" style="display: none;">
 				<fieldset>
 					<ul>
<!--  						<li class="fields fields-onepage-name">
 							<?php echo $this->getLayout()->createBlock('gomage_checkout/onepage_name')->setObject($this->getAddress())->setFieldIdFormat('billing_%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
 						</li> -->
 						<?php if(!$this->isCustomerLoggedIn()): ?>
<!--  							<li>
 								<label for="billing_email" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
 								<div class="input-box">
 									<input type="text" name="billing[email]" id="billing_email" value="<?php echo $this->htmlEscape($this->getAddress()->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" class="input-text required-entry validate-email absolute-advice glc-exists-customer" />
 								</div>
 							</li> -->
 							<?php if (Mage::helper('gomage_checkout')->getConfigData('address_fields/email_confirmation')): ?>
<!--  								<li>
 									<label for="billing_email_confirmation" class="required"><em>*</em><?php echo $this->__('Confirm Email Address') ?></label>
 									<div class="input-box">
 										<input type="text" name="billing[email_confirmation]" id="billing_email_confirmation" value="<?php echo $this->htmlEscape($this->getAddress()->getEmail()) ?>" title="<?php echo $this->__('Confirm Email Address') ?>" class="input-text required-entry validate-email absolute-advice glc-email-confirmation" data-parent-id="billing_email" />
 									</div>
 								</li> -->
 							<?php endif ?>
 						<?php endif ?>

 						<li class="field billing_company">
 							<div class="field field-first billing-company-left">
 								<label class="label_billing_company required" for="billing_company"><em>*</em><?php echo $this->__('Company') ?></label>
 								<div class="input-box">
 									<input placeholder="<?php echo $this->__('Company') ?>" name="billing[company]" id="billing_company" class=" input-text required-entry" autocomplete="off" />
 								</div>
 							</div>
 						</li>
 						<li class="fields fields-billing_street">
 							<div class="field field-first billing-address-left">
 								<label for="billing_street1" class=" required "><em>*</em><?php echo $this->__('Street Address') ?></label>
 								<div class="input-box">
 									<textarea placeholder="<?php echo $this->__('Street Address') ?>" name="billing[street][]" id="billing_street1" class=" input-text required-entry" autocomplete="off"><?php echo $this->htmlEscape($this->getAddress()->getStreet(1)) ?></textarea>
 								</div>
 							</div>
 						</li>
 						<li class="fields no-display">
 						<input name="billing[telephone]" id="billing_telephone" class=" input-text required-entry" type="hidden" />
 						<input name="billing[city]" id="billing_city" class=" input-text required-entry" type="hidden" />
 						<input name="billing[postcode]" id="billing_postcode" class=" input-text required-entry" type="hidden" />
 						</li>

 						<?php //echo $this->getSortedFields();?>

 						<?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat')->setTemplate('gomage/checkout/html/taxvat.phtml') ?>
 						<?php if ($_taxvat->isEnabled()): ?>
 							<?php

 							$_taxvat->setIsValidVat($this->getAddress()->getIsValidVat());

 							$taxvat_value = '';

 							if ($this->getAddress()->getTaxvat()){
 								$taxvat_value = $this->getAddress()->getTaxvat();
 							} elseif ($this->getAddress()->getVatId()){
 								$taxvat_value = $this->getAddress()->getVatId();
 							} elseif ($this->getQuote()->getCustomerTaxvat()){
 								$taxvat_value = $this->getQuote()->getCustomerTaxvat();
 							}

 							?>
 							<li>
 								<?php echo $_taxvat->setTaxvat($taxvat_value)->setFieldIdFormat('billing_%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
 							</li>
 						<?php endif ?>

 						<?php
 						if(!Mage::helper('gomage_checkout')->getIsAnymoreVersion(1, 4, 0))
 							$_dob = $this->getLayout()->createBlock('customer/widget_dob')->setTemplate('gomage/checkout/html/dob13.phtml');
 						else
 							$_dob = $this->getLayout()->createBlock('customer/widget_dob')->setTemplate('gomage/checkout/html/dob.phtml');
 						?>
 						<?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>

 						<?php
 						$_show_dob = !$this->isCustomerLoggedIn() || ($this->isCustomerLoggedIn() && !$this->getQuote()->getCustomerDob());
 						$_show_gender = !$this->isCustomerLoggedIn() || ($this->isCustomerLoggedIn() && !$this->getQuote()->getCustomerGender());
 						?>
 						<?php if ($_taxvat->isEnabled()): ?>
 							<?php if( in_array(Mage::helper('gomage_checkout')->getConfigData('vat/show_checkbox'), array(1, 2))):?>
 								<li>
 									<label class="vat-label">
 										<input id="buy_without_vat" type="checkbox" <?php if($this->getAddress()->getBuyWithoutVat()):?>checked="checked"<?php endif;?> value="1" onclick="$('buy_without_vat_value').value = $('buy_without_vat_value2').value = (this.checked*1);"/>
 										<span><?php echo Mage::helper('gomage_checkout')->__(Mage::helper('gomage_checkout')->getConfigData('vat/text_under'));?></span>
 									</label>
 								</li>
 							<?php endif;?>
 							<?php
 							if (Mage::helper('gomage_checkout')->getConfigData('vat/show_checkbox')==3){
 								$without_vat_value = 1;
 							}else{
 								if($this->getAddress()->getBuyWithoutVat()){
 									$without_vat_value = 1;
 								}else{
 									$without_vat_value = 0;
 								}
 							}
 							?>
 							<input id="buy_without_vat_value" type="hidden" value="<?php echo $without_vat_value; ?>" name="billing[buy_without_vat]"/>
 							<input id="buy_without_vat_value2" type="hidden" value="<?php echo $without_vat_value; ?>" name="shipping[buy_without_vat]"/>
 						<?php endif; ?>
 					</ul>
 				</fieldset>
 			</li>
 			<?php if ($this->isCustomerLoggedIn()):?>
 				<li id="billing_address_book" class="control control-siab" style="display:none!important;">
 					<input type="checkbox" name="billing[save_in_address_book]" checked=true id="billing_save_in_address_book" value="1" title="<?php echo  $this->__('Save in address book') ?>" class="checkbox" />
 					<label for="billing_save_in_address_book"><?php echo  $this->__('Save in address book') ?></label>
 				</li>
 			<?php endif; ?>
 			<?php if ($this->canShip()):?>
 				<li class="control control-stta">
 					<input type="checkbox" name="billing[use_for_shipping]" id="billing_use_for_shipping_yes" value="1" <?php if($this->shippingAsBilling()):?> checked="checked" <?php endif;?> title="<?php echo  $this->__('Ship to this address') ?>" onclick="checkout.changeAddressMode(this.checked)" class="radio" />
 					<label for="billing_use_for_shipping_yes"><?php echo  $this->__('Ship to this address') ?></label>
 				</li>
 			<?php endif; ?>
 		</ul>
 		<?php if (!$this->canShip()): ?>
 			<input type="hidden" name="billing[use_for_shipping]" value="1" />
 		<?php endif; ?>
 	</div>
 </div>
 <style>
 	.control.control-stta{display:none;}
 </style>
