<?php echo $this->getLayout()->createBlock("cms/block")->setBlockId("food-box")->toHtml();?>
<?php  	
	$products = Mage::getModel('catalog/category')->load(203)
    	->getProductCollection()
    	->addAttributeToSelect('*')
    	->setOrder('created_at','desc');
?>
<ul class="box-list">
<?php foreach ($products as $_product):?>
	<li>
		<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>" class="product-image">
        	<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image') ?>" alt="<?php echo $this->escapeHtml($_product->getName()) ?>" width="100%"/>
    	</a>
    	<button type="button" title="<?php echo $this->__('Add to Cart')?>" class="box-button btn-cart"><span><span><?php echo $this->__('Add to Cart')?></span></span></button>
    </li>
<?php endforeach;?>
</ul>