<?php $products = Mage::getModel('catalog/category')->load(209)
->getProductCollection()
->addAttributeToSelect('*')
->setOrder('entity_id','desc')
->setPageSize(3);
$i=1;
?>
<div class="std">
	<?php foreach ($products as $_product):;?>
		<div class="category-top-<?php echo $i?>">
			<a href="<?php echo  $_product->getProductUrl()?>" target="_blank">
				<img alt="" src="<?php echo $this->helper('catalog/image')->init($_product, 'image') ?>" alt="<?php echo $this->escapeHtml($_product->getName()) ?>" height="246px" width="419px" />
			</a> 
			<span class="rank"><img alt="" src="<?php echo $this->getSkinUrl('images/roudian_'.$i.'.png')?>" /></span> 
			<span class="origin-purchase"><img alt="" src="<?php echo $this->getSkinUrl('images/origin-purchase.png')?>" /></span>
			<div class="details">
				<span class="name"><?php echo $_product->getName()?></span> 
				<span class="p-name"><?php echo $_product->getShortDescription()?></span>
				<span class="row-line"></span>
				<span class="col-line"></span>
				<p class="special-price"><?php echo Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol()?><span><?php echo sprintf("%.2f", $_product->getFinalPrice())?></span>/<?php echo $_product->getStandard()?>
					<span id="3412" class="list-btn-cart"><a href="<?php echo $this->getAddToCartUrl($_product) ?>"><?php echo $this->__('Add to Cart')?></a></span>
				</p>
				<p class="old-price"><?php echo $this->__('Market ')?><?php echo $this->helper('core')->formatPrice($_product->getPrice(),false); ?></p>
			</div>
		</div>
	<?php $i++;?>
<?php endforeach;?>
<div class="clear">&nbsp;</div>
</div> 