<?php 
$_category = Mage::getModel('catalog/category')->load(192);
$_subcategories = $_category->getChildrenCategories();
?>
<?php foreach($_subcategories as $_sub):?>
    <li>
        <a href="<?php echo $_helper->getCategoryUrl($_sub)?>"><?php echo $_sub->getName()?></a>
    </li>
<?php endforeach;?>