<?php 
$currentCategoryId= $this->getData('category_id');
$_helper = $this->helper('catalog/output');
 $cat=Mage::getModel('catalog/category')->load($currentCategoryId);
$subcats = $cat->getChildren();
?>
<div class="category-title">
    <ul>
        <li class="all"><a href="<?php if($currentCategoryId ==193) echo $this->getBaseUrl().'national-pavilion';elseif($currentCategoryId ==206) echo $this->getBaseUrl().'bio-list';?>"><?php echo $this->__("Tutti i prodotti")?></a></li>
    <?php foreach(explode(',',$subcats) as $subCatid):?>
        <?php $_category = Mage::getModel('catalog/category')->load($subCatid);?>
        <?php if($_category->getIsActive()):?>
        <li class="<?php echo $_category->getUrlKey();?>"><a href="<?php echo $_category->getUrl()?>"><?php echo $_category->getName()?></a></li>
    <?php endif;?>
    <?php endforeach;?>
    </ul>
</div>