<?php
$currentCategoryId = $this->getData('category_id');
$_helper = $this->helper('catalog/output');
$cat = Mage::getModel('catalog/category')->load($currentCategoryId);
$subcats = $cat->getChildren();
?>
<div class="country-category category-products">
    <?php echo $this->getLayout()->createBlock("cms/block")->setBlockId("country-header-pic")->toHtml(); ?>
    <div class="category-content">
        <?php $k = 1; ?>
        <?php foreach (explode(',', $subcats) as $subCatid): ?>
            <?php $_category = Mage::getModel('catalog/category')->load($subCatid); ?>
            <?php $k++; ?>
            <?php if ($_category->getIsActive()): ?>
                <div class="slidemodule">
                    <div class="country-list floor" id="<?php echo $_category->getUrlKey() ?>">
                        <div class="title">
                            <a href="<?php echo $_category->getUrl(); ?>">
                                <img src="<?php echo $_category->getImageUrl() ?>">
                                <span class="name"><?php echo $_category->getName() ?></span>
                                <span class="guarda"><?php echo $this->__('GUARDA 100 +') ?></span>
                            </a>
                        </div>
                        <div class="category-box country-<?php echo $k; ?>" id="">
                            <div class="category-box-list country" >
                                <?php
                                $_products = Mage::getModel('catalog/category')->load($subCatid)
                                        ->getProductCollection()
                                        ->addAttributeToSelect('*');
                                $_columnCount = 8;
                                $i = 0;
                                ?>
                                <?php foreach ($_products as $_product): ?>
                                    <?php if ($i % $_columnCount == 0): ?> 
                                        <ul class="products-grid products-grid--max-<?php echo $_columnCount; ?>-col-widget">
                                        <?php endif; ?>
                                        <li class="item<?php if ($i % $_columnCount == 0): ?> first<?php elseif ($i % $_columnCount == 0): ?> last<?php endif; ?>">
                                            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>" class="product-image">
                                                <?php $_imgSize = 290; ?>
                                                <?php if ($_product->getIsSalable()): ?>
                                                    <div class="quick-view"></div>
                                                    <div class="mgkviewlightbox quick-overview" id="mgkviewlightbox" data-url="<?php echo Mage::getBaseUrl(), 'lightboxdetail/ajax_index/view/id/', $_product->getId() ?>/"><?php echo $this->__('QUICK VIEW') ?></div>
                                                <?php else: ?>
                                                    <div class="qh-out-of-stock"></div>
                                                    <p><?php echo $this->__('Out of stock') ?></p>
                                                <?php endif; ?>
                                                <img id="product-collection-image-<?php echo $_product->getId(); ?>"src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($_imgSize); ?>"alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                                            </a>
                                            <?php if ($_product->getFinalPrice() != $_product->getPrice()): ?>
                                                <span class="sale">-<?php echo number_format((($_product->getPrice() - $_product->getFinalPrice()) / $_product->getPrice() * 100), 0) ?>%</span>
                                            <?php endif; ?>
                                            <div class="product-info">
                                                <div class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getName(), 'name') ?></a></div>

                                                <div class="actions">
                                                    <div class="left">
                                                        <?php if ($_product->getTypeId() == 'bundle'): ?>
                                                            <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
                                                        <?php else: ?>
                                                            <div class="left-middle">
                                                                <div class="standard"><?php echo $_product->getStandardUnit() ?></div>
                                                                <?php if ($_product->getStandard()): ?>
                                                                    <div class="dj-price"><span class="price-code"><?php echo Mage::app()->getStore()->getCurrentCurrencyCode() ?></span>
                                                                        <?php echo sprintf("%.2f", $_product->getFinalPrice() / $_product->getStandard()) . '/' . $_product->getUnit() ?></div>
                                                                <?php endif; ?>
                                                            </div>
                                                        <?php endif; ?>
                                                        <?php echo $this->getPriceHtml($_product, true) ?>
                                                    </div>
                                                    <?php if (!$_product->canConfigure() && $_product->isSaleable()): ?>
                                                        <div class="right">
                                                            <button type="button" title="<?php echo $this->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart" onclick="setLocationAjax('<?php echo $this->getAddToCartUrl($_product) ?>', this)" ><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                                        </div>
                                                    <?php elseif ($_product->getStockItem() && $_product->getStockItem()->getIsInStock()): ?>
                                                        <div class="right">
                                                            <button type="button" title="<?php echo $this->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                                        </div>
                                                    <?php else: ?>
                                                        <p class="availability out-of-stock"></p>
                                                    <?php endif; ?>
                                                    <div class="list-wish"><a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="link-wishlist"><img src="<?php echo $this->getSkinUrl('images/wish.png') ?>"></a></div>
                                                </div>
                                            </div>
                                        </li>
                                        <?php if (($i + 1) % $_columnCount == 0 || $i == count($_products)): ?> 
                                        </ul>
                                    <?php endif; ?>
                                    <?php $i++; ?>
                                <?php endforeach; ?>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <span class="slideshow-prev country<?php echo $k; ?>-slideshow-prev jssora12l" style="width: 27px; height: 82px; bottom: 376px; left: 0px;margin-left: -27px;background-color: #e1e1e1;">&nbsp;</span> 
                    <span class="slideshow-next country<?php echo $k; ?>-slideshow-next jssora12r" style="width: 27px; height: 82px; bottom: 376px; right: 0px;margin-right: -27px;background-color: #e1e1e1;" >&nbsp;</span>
                    <script type="text/javascript">
                                                        $j(document).ready(function() {
                                                            $j('.category-box.country-<?php echo $k; ?> .category-box-list')
                                                                    .cycle({
                                                                slides: '> ul.products-grid',
                                                                swipe: true,
                                                                prev: '.country<?php echo $k; ?>-slideshow-prev',
                                                                next: '.country<?php echo $k; ?>-slideshow-next',
                                                                fx: 'scrollHorz',
                                                                timeout: 0
                                                            });
                                                        });
                    </script>
                </div>
            <?php endif; ?>
        <?php endforeach; ?>
    </div>
</div>
