<?php
$_id = $this->getData('id');

$_helper = $this->helper('catalog/output');
$currentCategoryId= $this->getData('category_id');
//FIXME
 $_category=   Mage::getModel('catalog/category')->load($currentCategoryId);
//var_dump($currentCategoryId);
//die("....");
 $_tmpcategory =Mage::getModel('catalog/category')->load($currentCategoryId);
?>
<div class="home-category floor <?php echo $_category->getUrlKey() ?>">
    <div class="category-title">
        <a href="<?php if($currentCategoryId == 193) echo $this->getUrl('national-pavilion');  else echo $_category->getUrl(); ?>" target="_blank">
            <h3 class="<?php echo $_category->getUrlKey() ?>"><?php echo $_category->getName() ?><span><?php echo $this->__('GUARDA 100 +')?></span></h3>
        </a>
        <div class="category-title-description">
            <?php echo $_category->getDescription();?>
        </div>
    </div>
    <div class="category-box floor">
        <div class="category-box-list left">
            <?php
    /*
	        $_mostviewed=   Mage::getResourceModel('reports/product_collection')
            ->addAttributeToSelect('*')
            ->addViewsCount()
            ->addCategoryFilter($_tmpcategory)
            ->setOrder('created_at','desc')->setPageSize(3)->setCurPage(1);

$_mostviewed->addAttributeToFilter('image', array('neq' => 'no_selection'));
*/
$_mostviewed = Mage::getModel('catalog/category')->load($currentCategoryId)
                ->getProductCollection()->setPageSize(4)
                ->addAttributeToSelect('*')
                ->addAttributeToSelect('small-image')
                ->addAttributeToSort('position', 'DESC')
		->addAttributeToFilter('homepage_piuvisti',1);
$_mostviewed->addAttributeToFilter('image', array('neq' => 'no_selection'));

            ?>
            <div class="section-content slidebox" id="left">
                <ul class="products-grid items">
                <?php
                foreach ($_mostviewed as $_product):
                    $_product = Mage::getModel('catalog/product')->load($_product->getData('entity_id'));
                    ?>
                    <li class="item">
                        <div class="over-frame">
                            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>" class="product-image zb">
                                <?php if(!$_product->getIsSalable()): ?>
                                    <div class="qh-out-of-stock"></div>
                                    <p><?php echo $this->__('Out of stock')?></p>
                                <?php endif;?>
                                <img src="<?php echo $this->helper('catalog/image')->init($_product, 'image') ?>" alt="<?php echo $this->escapeHtml($_product->getName()) ?>" width="100%"/>
                            </a>
                         <!--  
                            <span class="origin-purchase">
                                <img src="<?php echo $this->getSkinUrl().'images/origin-purchase.png'?>">
                            </span>-->
                            <div class="section"></div> 
                            <div class="section-box">
                                <div class="valued-packing">
                                    <h1><?php echo $_product->getName()?></h1>
	                                <a href="#" class="mgkviewlightbox quick-overview" id="mgkviewlightbox" data-url="<?php echo Mage::getBaseUrl(), 'lightboxdetail/ajax_index/view/id/', $_product->getId() ?>/" style="position:relative;"></a>
	                                <div class="bottom">
                                        <div class="left">
                                            <?php echo $this->getPriceHtml($_product, true) ?>
                                        </div>
                                        
                                            <!-- <div class="qty-decrease">
                                                <i class="decrease_num"></i>
                                            </div>
                                            <input type="text" pattern="\d*" name="qty" id="qty" maxlength="12" value="<?php echo max($this->getProductDefaultQty() * 1, 1) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Qty')) ?>" class="input-text qty" />
                                            <div class="qty-increase">
                                                <i class="increase_num"></i>
                                            </div> -->
                                            <?php if(!$_product->canConfigure() && $_product->isSaleable()): ?>
                                                <div class="right">
                                                    <p class="action"><button title="<?php echo $this->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart" onclick="setLocationAjax('<?php echo $this->getAddToCartUrl($_product) ?>',this)" ><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></p>
                                                </div>
                                             <?php elseif($_product->getStockItem() && $_product->getStockItem()->getIsInStock()): ?>
                                                <div class="right">
                                                    <p class="action"><button title="<?php echo $this->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></p>
                                                </div>
                                            <?php else: ?>
                                                <p class="action availability out-of-stock"><span></span></p>
                                            <?php endif; ?>
                                        
                                    </div>
                                    <div class="clear"></div>                       
                                </div>
                            </div>
                        </div>
                    </li>
                    <?php endforeach; ?>       
                </ul>
            </div>        
        </div>
        <script>
jQuery(function($){

    $('.<?php echo $_category->getUrlKey() ?> #left').slideBox({
        direction : 'top',//left,top#方向
        duration : 0.3,//滚动持续时间，单位：秒
        easing : 'linear',//swing,linear//滚动特效
        delay : 2000,//滚动延迟时间，单位：秒
        startIndex : 0//初始焦点顺序
    });

});
</script>
        <div class="category-box-list middle">    
            <?php $products = Mage::getModel('catalog/category')->load($currentCategoryId)
                ->getProductCollection()->setPageSize(4)
                ->addAttributeToSelect('*')
                ->addAttributeToSelect('small-image')
                ->addAttributeToSort('position', 'DESC')
 				->addAttributeToFilter('homepage_box',1);
$products->addAttributeToFilter('image', array('neq' => 'no_selection'));
    
            ?>

            <?php foreach($products as $_p):  ?>
            <li class="item" >
                <a href="<?php echo $_p->getProductUrl()?>" title="<?php echo $this->escapeHtml($_p->getName())?>" class="product-image zj">
                    <?php if(!$_p->getIsSalable()): ?>
                        <div class="qh-out-of-stock"></div>
                        <p><?php echo $this->__('Out of stock')?></p>
                    <?php endif;?>
                    <img src="<?php echo $this->helper('catalog/image')->init($_p, 'thumbnail') ?>" alt="<?php echo $this->escapeHtml($_p->getName())?>" width="100%">
                </a>
                <div class="category-box-list-info">
	                <a href="#" class="mgkviewlightbox quick-overview" id="mgkviewlightbox" data-url="<?php echo Mage::getBaseUrl(), 'lightboxdetail/ajax_index/view/id/', $_p->getId() ?>/" style="position:relative; display:block:"></a>
                    <h1>
<!--                        <span class="national-flag">
                            <img src="http://media.freshfresh.com/media/wysiwyg/35x23nationalflag/China.png" alt="">
                        </span>-->
                            <?php echo $_p->getName()?>
                    </h1>
	                <div class="left">
                       
                        <p><?php echo $this->helper('core')->formatPrice($_p->getFinalPrice(),false); ?></p>
                        <!-- <div class="qty-decrease">
                            <i class="decrease_num"></i>
                        </div>
                        <input type="text" pattern="\d*" name="qty" id="qty" maxlength="12" value="<?php echo max($this->getProductDefaultQty() * 1, 1) ?>" title="<?php echo Mage::helper('core')->quoteEscape($this->__('Qty')) ?>" class="input-text qty" />
                        <div class="qty-increase">
                            <i class="increase_num"></i>
                        </div> -->
                    </div>
                    <?php if(!$_p->canConfigure() && $_p->isSaleable()): ?>
                        <div class="right">
                            <button type="button" title="<?php echo $this->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart" onclick="setLocationAjax('<?php echo $this->getAddToCartUrl($_p) ?>',this)" ><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                        </div>
                    <?php elseif($_p->getStockItem() && $_p->getStockItem()->getIsInStock()): ?>
                        <div class="right">
                            <button type="button" title="<?php echo $this->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_p) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                        </div>
                    <?php else: ?>
                        <p class="availability out-of-stock"><!-- <span><?php echo $this->__('Out of stock') ?></span> --></p>
                    <?php endif; ?>     
                </div>
            </li>
            <?php endforeach;?>
        </div>
        <div class="category-box-list right">
             <?php 
/*
            $_productCollection=   Mage::getResourceModel('reports/product_collection')
            ->addAttributeToSelect('*')
            ->addOrderedQty()
            ->addCategoryFilter($_category)
            ->setOrder('ordered_qty',   'desc')->setPageSize(6);
  */
$_productCollection = Mage::getModel('catalog/category')->load($currentCategoryId)
                ->getProductCollection()->setPageSize(6)
                ->addAttributeToSelect('*')
                ->addAttributeToSelect('small-image')
                ->addAttributeToSort('position', 'DESC');
$_productCollection->addAttributeToFilter('image', array('neq' => 'no_selection'));         
$_productCollection->addAttributeToFilter('homepage_venduti',1);

		 ?>       
            <h4><?php echo $this->__("I PIU VENDUTI")?><span>TOP6</span></h4> 
            <div id="right" class="slidebox"> 
               <ul class="products-grid items">
                    <?php
                    $j=1;
                    foreach ($_productCollection as $_orderproduct):
                    
                    ?>
                <?php 
                $floor = '';
                if($j%2=='1'){
                    $floor.='<li class="item">';
                }
               
                $floor.='<div>';
                          $floor.='<div class="over-frame ">';
                            $floor.='<div class="info">';
                               $floor.='<a href="'.$_orderproduct->getProductUrl().'" title="'.$this->escapeHtml($_orderproduct->getName()).'" class="product-image yb">';
                                   if(!$_orderproduct->getIsSalable()){
                                        $floor.='<div class="qh-out-of-stock"></div><p>'.$this->__("Out of stock").'</p>';
                                   }
	                                $floor.='<img src="'.$this->helper('catalog/image')->init($_orderproduct, 'thumbnail').'" alt="'.$this->escapeHtml($_orderproduct->getName()).'" height="177"/></a>';
                                     $j++;
                                    // $floor.='<p class="top"><span>'.$j++.'</span><span class="rank">TOP</span></p>';
                                    $floor.='<div class="category-box-list-info">';
	                                $floor.='<h1><span class="national-flag"><img src="" alt=""></span>'.$_orderproduct->getName().'</h1>';
                                    $floor.='<h1>'.$this->getPriceHtml($_orderproduct, true);
                                    if(!$_orderproduct->canConfigure() && $_orderproduct->isSaleable()){
                                        $floor.='<button title="Add to Cart" class="button btn-cart" onclick="setLocationAjax(\''.$this->getAddToCartUrl($_orderproduct).'\',this)"><span><span>Add to Cart</span></span></button></h1>';
                                    }
                                    elseif($_orderproduct->getStockItem() && $_orderproduct->getStockItem()->getIsInStock()){
                                        $floor.='<button title="Add to Cart" class="button btn-cart" onclick="setLocationAjax(\''.$this->getAddToCartUrl($_orderproduct).'\',this)"><span><span>Add to Cart</span></span></button></h1>';
                                    }
                                    else{
                                        $floor.='<p class="action availability out-of-stock"><span></span></p>';
                                    } 
	                               $floor .='<a href="#" class="mgkviewlightbox quick-overview" id="mgkviewlightbox" data-url="'.Mage::getBaseUrl() .'lightboxdetail/ajax_index/view/id/'.$_orderproduct->getId().'"></a>';
	                    $floor.='</div>';
                            $floor.='</div>';
                           $floor.='</div>';
                        $floor.='</div>';
              
                    if($j%2=='1'){
                        $floor.='</li>';
                    }
                       echo $floor;

                    ?>
                    <?php endforeach; ?>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
            <script>
jQuery(function($){

    $('.<?php echo $_category->getUrlKey() ?> #right').slideBox({
        direction : 'top',//left,top#方向
        duration : 0.3,//滚动持续时间，单位：秒
        easing : 'linear',//swing,linear//滚动特效
        delay : 1,//滚动延迟时间，单位：秒
        startIndex : 0//初始焦点顺序
    });

});
</script>
</div>
