<?php 
    $_helper = Mage::helper('catalog/category');
    $current_category = Mage::registry('current_category'); 
    $catalog_category = Mage::getModel('catalog/category'); 
    $_fourcategoryId = $current_category->getId(); 
    $_fourcategory = $catalog_category->load($_fourcategoryId);
    $_threecategory = $_fourcategory->getParentCategory();
    $_threecategoryId = $_threecategory->getId(); 
    $_subcategory = $_threecategory->getParentCategory();
    $_subcategoryId = $_subcategory->getId(); 
    $_category = $_subcategory->getParentCategory();
    $_categoryId = $_category->getId(); 
    $_subcategories = $_category->getChildrenCategories();
    $_threecategories = $_subcategory->getChildrenCategories();
    $_fourcategories = $_threecategory->getChildrenCategories(); 
?>
<div class="category-four-freschi">
<?php if (count($_subcategories) > 0): ?>
    <div class="category-products category-products-head" style="<?php if($_categoryId == 193){echo 'display: none;';}?>">
        <div class="toolbar-catalog">
            <ul>
                <li>
                    <a><img src="<?php echo $this->getSkinUrl().'/images/right triangle.png'?>"/>
                        <span class="<?php echo $_category->getName();?>"><?php echo $_category->getName();?>
                        </span>
                    </a>
                </li>
                <?php foreach($_subcategories as $_subcategory): ?>
                    <li class="<?php if($_subcategoryId == $_subcategory->getId()){echo 'active';}?>">
                        <a href="<?php echo $_helper->getCategoryUrl($_subcategory) ?>"> 
                            <?php echo $_subcategory->getName() ?>
                        </a>
                    </li>
                <?php endforeach; ?>
            </ul>
        </div> 
    </div>
<?php endif; ?>

<?php if($_subcategoryId != ''&&$_subcategoryId!=0): ?>
    <?php if (count($_threecategories) > 0): ?>
        <div class="category-products category-products-three <?php if($_categoryId == 193){echo 'category-products-three-xs-top';}?>">
            <div class="toolbar-catalog-three">
                <ul>
                    <img src="<?php echo $this->getSkinUrl().'/images/right triangle.png'?>"/>
                    <?php foreach($_threecategories as $_threecategory): ?>
                        <li class="<?php if($_threecategoryId == $_threecategory->getId()){echo 'active';}?>">
                            <a href="<?php echo $_helper->getCategoryUrl($_threecategory) ?>"> 
                                <?php echo $_threecategory->getName() ?>
                            </a>
                        </li>
                    <?php endforeach; ?>
                </ul>
            </div>
        </div>
    <?php endif; ?>
<?php endif; ?>

<?php if($_threecategoryId != ''&&$_threecategoryId!=0): ?>
    <?php if (count($_fourcategories) > 0): ?>
        <div class="category-products category-products-four <?php if($_categoryId == 193){echo 'category-products-three-xs-top';}?>">
            <div class="toolbar-catalog-four">
                <ul>
                    <img src="<?php echo $this->getSkinUrl().'/images/right triangle.png'?>"/>
                    <?php foreach($_fourcategories as $_fourcategory): ?>
                        <li class="<?php if($_fourcategoryId == $_fourcategory->getId()){echo 'active';}?>">
                            <a href="<?php echo $_helper->getCategoryUrl($_fourcategory) ?>"> 
                                <?php echo $_fourcategory->getName() ?>
                            </a>
                        </li>
                    <?php endforeach; ?>
                </ul>
            </div>
        </div>
    <?php endif; ?>
<?php endif; ?>
</div>