<?php $_helper = Mage::helper('catalog/category') ?>
<?php $current_category = Mage::registry('current_category'); ?>
<?php $catalog_category = Mage::getModel('catalog/category'); ?>
<?php $_categoryLevel = $current_category->getLevel(); ?>
<ul class="product-five-list">
	<?php if ($_categoryLevel == 4): ?>
		<?php $_threecategoryId = $current_category->getId(); ?>
		<?php $_threecategory = Mage::getModel('catalog/category')->load($_threecategoryId) ?>
		<?php $_fourcategories = $_threecategory->getChildrenCategories() ?>
		<?php foreach ($_fourcategories as $_fourcategory): ?>
			<?php $_fourcategoryId = $_fourcategory->getId() ?>
			<?php $__fourcategory = Mage::getModel('catalog/category')->load($_fourcategoryId) ?>
			<li class="item">
				<div class="submenu-img"> 
					<a href="<?php echo $_helper->getCategoryUrl($_fourcategory) ?>">
						<div class="quick-view"></div>
						<div class="quick-overview"><?php echo $this->__('GUARDALI TUTTI')?></div>
						<img src="<?php echo $__fourcategory->getImageUrl() ?>">
					</a>
				</div>
				<div class="submenu-content">
					<div class="submenu-content-name"><?php echo $__fourcategory->getName() ?></div>
					<div class="submenu-content-description"><?php echo $__fourcategory->getFreshRegular() ?></div>
				</div>
				
			</li>
		<?php endforeach; ?>
	<?php elseif ($_categoryLevel == 3): ?>
		<?php $_twocategoryId = $current_category->getId(); ?>
		<?php $_twocategory =  $catalog_category->load($_twocategoryId) ?>
		<?php $_threecategories = $_twocategory->getChildrenCategories() ?>
		<?php foreach ($_threecategories as $_threecategory): ?>
			<?php $_threecategoryId = $_threecategory->getId(); ?>
			<?php $_threecategory =  $catalog_category->load($_threecategoryId) ?>
			<?php $_fourcategories = $_threecategory->getChildrenCategories() ?>
			<?php foreach ($_fourcategories as $_fourcategory): ?>
				<?php $_fourcategoryId = $_fourcategory->getId() ?>
				<?php $__fourcategory = Mage::getModel('catalog/category')->load($_fourcategoryId) ?>
				<li class="item">
					<div class="submenu-img"> 
						<a href="<?php echo $_helper->getCategoryUrl($_fourcategory) ?>">
							<div class="quick-view"></div>
							<div class="quick-overview"><?php echo $this->__('GUARDALI TUTTI')?></div>
							<img src="<?php echo $__fourcategory->getImageUrl() ?>">
						</a>
					</div>
					<div class="submenu-content">
						<div class="submenu-content-name"><?php echo $__fourcategory->getName() ?></div>
						<div class="submenu-content-description"><?php echo $__fourcategory->getFreshRegular() ?></div>
					</div>
				</li>
			<?php endforeach; ?>
		<?php endforeach; ?>
	<?php elseif ($_categoryLevel == 2): ?>
		<?php $_categoryId = $current_category->getId(); ?>
		<?php $_category =  $catalog_category->load($_categoryId) ?>
		<?php $_twocategories = $_category->getChildrenCategories() ?>
		<?php foreach ($_twocategories as $_twocategory): ?>
			<?php $_twocategoryId = $_twocategory->getId(); ?>
			<?php $_twocategory =  $catalog_category->load($_twocategoryId) ?>
			<?php $_threecategories = $_twocategory->getChildrenCategories() ?>
			<?php foreach ($_threecategories as $_threecategory): ?>
				<?php $_threecategoryId = $_threecategory->getId(); ?>
				<?php $_threecategory =  $catalog_category->load($_threecategoryId) ?>
				<?php $_fourcategories = $_threecategory->getChildrenCategories() ?>
				<?php foreach ($_fourcategories as $_fourcategory): ?>
					<?php $_fourcategoryId = $_fourcategory->getId() ?>
					<?php $__fourcategory = Mage::getModel('catalog/category')->load($_fourcategoryId) ?>
					<li class="item">
						<div class="submenu-img"> 
							<a href="<?php echo $_helper->getCategoryUrl($_fourcategory) ?>">
								<div class="quick-view"></div>
								<div class="quick-overview"><?php echo $this->__('GUARDALI TUTTI')?></div>
								<img src="<?php echo $__fourcategory->getImageUrl() ?>">
							</a>
						</div>
						<div class="submenu-content">
							<div class="submenu-content-name"><?php echo $__fourcategory->getName() ?></div>
							<div class="submenu-content-description"><?php echo $__fourcategory->getFreshRegular() ?></div>
						</div>
					</li>
				<?php endforeach; ?>
			<?php endforeach; ?>
		<?php endforeach; ?>
	<?php endif; ?>  
</ul>

