<?php $_helper = Mage::helper('catalog/category') ?>
<?php $current_category = Mage::registry('current_category'); ?>
<?php $catalog_category = Mage::getModel('catalog/category'); ?>
<div class="freschi-product">
	<div class="product-conten">
		<div class="img-left">
			<img src="<?php echo $current_category->getImageUrl()?>">
		</div>
		<div class="info-right">
			<div class="name">
				<?php echo $current_category->getName();?>
			</div>
			<div class="price-erweima">
				<div class="price">
					<span class="xj"><?php echo $current_category->getFreshSpecialPrice();?></span>
					<span class="yj"><?php echo $current_category->getFreshRegularPrice();?></span>
				</div>
				<div class="erweima">
					<?php echo $this->getLayout()->createBlock('qrmage/qrcode')->setTemplate('qrmage/qrcode.phtml')->toHtml(); ?>
				</div>
			</div>
			<div class="product-info">
				<ul class="choose-info">
					<li class="f1" value="1">
						<div class="title active">
							<span><?php echo $this->__('info')?></span>
						</div>
					</li>
					<li class="f2" value="2">
						<div class="line"></div>
						<div class="title">
							<span><?php echo $this->__('DESCRIZIONE')?></span>
						</div>
						<div class="line"></div>
					</li>
					<li class="f3" value="3">
						<div class="title">
							<span><?php echo $this->__('Spedizione')?></span>
						</div>
					</li>
				</ul>
				<div class="content">
					<div class="f f1 active" value="1">
						<p>
							<i></i>
							<p class="wz">
								<span class="word">
									<?php echo $this->__('Importo minimo di spesa complessiva:EURO 19,00  Tutti i prezzi sono comprensivi di IVA.')?>
								</span>
							</p>
						</p>
						<!-- <p>
							<i></i>
							<p class="wz">
								<span class="word">
									<?php echo $this->__('Numero max pezzi acquistabili per ogni ordine:')?>
								</span>
								<span class="num">
									10
								</span>
							</p>
						</p> -->
						<p>
							<i></i>
							<p class="wz">
								<span class="word">
									<?php echo $this->__('Consegniamo ')?>
								</span>
								<span class="st">
									<?php echo $this->__('TUTTI I GIORNI ')?>
								</span>
								<span class="word">
									<?php echo $this->__('dalle 8:00 alle 22:00.')?>
								</span>
							</p>
						</p>
					</div>
					<div class="f" value="2">
						<?php echo $current_category->getDescription()?>
					</div>
					<div class="f" value="3">
						<p>
							<i></i>
							<p class="wz">
								<span class="word">
									<?php echo $this->__('Spese di spedizione: ')?>
								</span>
								<span class="st">
									<?php echo $this->__('€ 3,50 ')?>
								</span>
								<span class="word">
									<?php echo $this->__('per ogni singolo ordine.')?>
								</span>
							</p>
						</p>
						<p>
							<i></i>
							<p class="wz">
								<span class="word">
									<?php echo $this->__('Nell\'ultima fase di completamento dell\'ordine ti verrà chiesto di scegliere il ')?>
								</span>
								<span class="st">
									<?php echo $this->__('giorno di consegna ')?>
								</span>
								<span class="word">
									<?php echo $this->__('e la ')?>
								</span>
								<span class="st">
									<?php echo $this->__('fascia oraria ')?>
								</span>
								<span class="word">
									<?php echo $this->__('che preferisci.')?>
								</span>
							</p>
						</p>
						<p>
							<i></i>
							<p class="wz">
								<span class="word">
									<?php echo $this->__('Se il tuo ordine include prodotti freschi ')?>
								</span>
								<span class="st">
									<?php echo $this->__('A PESO VARIABILE,')?>
								</span>
								<span class="word">
									<?php echo $this->__('la consegna dovrà essere effettuata necessariamente entro 24 ore dalla conferma dell\'ordine.')?>
								</span>
							</p>
						</p>
					</div>
				</div>
				<script type="text/javascript">
					$j('.choose-info li').click(function(){
						$j('.choose-info li .title').removeClass('active');
						$j('.content div.f').removeClass('active');
						$j(this).children('.title').addClass('active');
						$j(".content").find("div[value="+ $j(this).val() +"]").addClass('active');

					})
				</script>
			</div>
		</div>
	</div>
</div>