<?php 
$current_category = Mage::registry('current_category');
$current_categoryId = $current_category->getId();
$_helper = $this->helper('catalog/output');
$cat=Mage::getModel('catalog/category')->load($current_categoryId);
$subcats = $cat->getChildren();
$i=1;
?>
<div class="freschi-category">
	<ul>
		<?php foreach(explode(',',$subcats) as $subCatid):?>
			<?php $_category = Mage::getModel('catalog/category')->load($subCatid);?>
			<?php if($_category->getIsActive()):?>
				<li class="<?php echo $_category->getUrlKey();?>">
					<a href="<?php echo $_category->getUrl()?>">
						<img src="<?php echo $_category->getImageUrl()?>">
					</a>
				</li>
				<?php $i++;?>
			<?php endif;?>
		<?php endforeach;?>
	</ul>
</div>