<?php 
$_helper = $this->helper('catalog/output');
 $cat=Mage::getModel('catalog/category')->load(207);
$subcats = $cat->getChildren();
?>
<div class="like-category category-products">
    
    
    <div class="category-content">
    <?php $k=1;?>

            
            <?php $_category = Mage::getModel('catalog/category')->load(207);?>
            <?php if($_category->getIsActive()):?>
            <div class="like-list" id="<?php echo $_category->getUrlKey()?>">
                <div class="title">
                    <h3 class="<?php echo $_category->getUrlKey() ?>"><?php echo $_category->getName() ?></h3>
                    <span><?php echo $this->__("In a batch")?></span>
                </div>
                <div class="category-box" id="slider_container" style="position: relative; top: 0px; left: 0px; width: 1283px; height: 420px;">
                    <div class="category-box-list country" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 1283px; height: 420px; overflow: hidden;" u="slides">
                        <?php
                            $products = Mage::getModel('catalog/category')->load(207)
                            ->getProductCollection()
                            ->addAttributeToSelect('*')
                            ->addAttributeToSelect('image');
                            $count= Mage::getResourceModel('catalog/product_collection')->addCategoryFilter($_category)->count();
                           $i=0;
                           $html=" ";
                        ?>
                        <div>
                            <?php foreach($products as $_p):  ?>
                            <?php
                               
                                $html.='<li class="item appicon01">';
                                $html.='<a href="'. $_p->getProductUrl().'" title="'. $this->escapeHtml($_p->getName()).'" class="product-image">';
                                $html.='<div class="overlay"></div>';
                                $html.='<img src="'. $this->helper('catalog/image')->init($_p, 'image')->resize(305) .'" alt="'.$this->escapeHtml($_p->getName()).'" width="100%">';
                                $html.='</a>';
                                $html.='<button class="quick-overview"><span>'.$this->__("Quick Overview").'</span></button>';
                                if($_p->getFinalPrice()!=$_p->getPrice())
                                {
                                    $html.='<span class="sale">-'.number_format((($_p->getPrice() - $_p->getFinalPrice())/$_p->getPrice() * 100),0).'%</span>';
                                }
                                $html.='<div class="radio-list">';
                                if($_p->getTypeId() == 'bundle'){
                                    $html.='<ul class="bunding-options-list configurable-swatch-bundling clearfix">
                                            <li class="option-7023cc78 wide-swatch selected" data-product-id="25" data-option-label="1斤装">
                                                <a href="javascript:void(0)" name="7023cc78" class="swatch-link swatch-link-175" title="1斤装">
                                                    <span class="swatch-label">
                                                                    1斤装                         </span>
                                                </a>
                                            </li>
                                            <li class="option-41cbd6e5 wide-swatch">
                                                <a name="41cbd6e5" class="swatch-link swatch-link-175" title="2斤装">
                                                    <span class="swatch-label">
                                                                    2斤装                         </span>
                                                </a>
                                            </li>
                                         </ul>';
                                }
                                else{
                                    $html.='<h2 class="product-name"><a>'.$_p->getName().'</a></h2>';
                                }
                                    
                                $html.='</div>';
                                $html.='<div class="actions">';
                                $html.='<div class="left">';
                                if($_p->getTypeId() == 'bundle'){
                                        $html.='<h2 class="product-name"><a href="'.$_p->getProductUrl().'" title="'.$this->stripTags($_p->getName(), null, true).'">'.$_helper->productAttribute($_p, $_p->getName(), 'name').'</a></h2>';
                                    }
                                    else{
                                        $html.='<span class="remark">'.$_p->getResource()->getAttribute('remark')->getFrontend()->getValue($_p).'</span>';
                                    }
                               $html.='<span class="price">'.$this->helper('core')->formatPrice($_p->getFinalPrice(),false).'</span>';
                                if($_p->getFinalPrice()!=$_p->getPrice()){
                                $html.='<span class="regular-price">'.$this->helper('core')->formatPrice($_p->getPrice(),false).'</span>';}
                                $html.='<span class="standrad">('.$_p->getResource()->getAttribute('standard')->getFrontend()->getValue($_p).')</span></div>';
                                $html.='<div class="right">';
                                    if(!$_p->canConfigure() && $_p->isSaleable()){
                                        $html.='<button type="button" title="'.$this->quoteEscape($this->__('Add to Cart')).'" class="button btn-cart" onclick="setLocation('.$this->getAddToCartUrl($_p).')"><span><span>'.$this->__('Add to Cart').'</span></span></button>';
                                    }
                                    elseif($_p->getStockItem() && $_p->getStockItem()->getIsInStock()){
                                       $html.= '<button type="button" title="'.$this->quoteEscape($this->__('Add to Cart')).'" class="button btn-cart" onclick="setLocation('.$this->getAddToCartUrl($_p).')"><span><span>'.$this->__('Add to Cart').'</span></span></button>';
                                  }
                                  else{
                                       $html.= '<p class="availability out-of-stock"><span>'.$this->__('Out stock').'</span></p>';
                                  }
                                   
                                $html.='</div></div></li>';
                                $i++;
                                if($i%4==0&&!($count%4==0)){
                                $html.='</div><div>';

                                }
                               
                            ?>
                            <?php endforeach;?><?php  echo $html;?>
                        </div>

                        
                    </div>
                    
                    <!-- Arrow Left -->
                    <span u="arrowleft" class="jssora12l" style="width: 27px; height: 82px; bottom: 173px; left: 0px;margin-left: -27px;background-color: #e1e1e1;">
                    </span>
                    <!-- Arrow Right -->
                    <span u="arrowright" class="jssora12r" style="width: 27px; height: 82px; bottom: 173px; right: 0px;margin-right: -27px;background-color: #e1e1e1;">
                    </span>
                    <div class="clear"></div>
                </div>
            </div>
              

        <?php endif;?>
    </div>
    
</div>
<?php echo $this->getChildHtml("crosssell");?>

<script>
    jQuery(document).ready(function($) {
        var _SlideshowTransitions = [
            //Fade
            {$Duration: 1200, $Opacity: 2}
        ];
        var options = {
            $AutoPlay: false, //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
            $AutoPlaySteps: 1, //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
            $ArrowKeyNavigation: true, //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
            $MinDragOffsetToSlide: 20, //[Optional] Minimum drag offset to trigger slide , default value is 20
            $SlideSpacing: 0, //[Optional] Space between each slide in pixels, default value is 0
            $DisplayPieces: 1, //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
            $ParkingPosition: 0, //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
            $UISearchMode: 1, //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
            $PlayOrientation: 1, //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
            $DragOrientation: 3, //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)
            $SlideshowOptions: {//[Optional] Options to specify and enable slideshow or not
                $Class: $JssorSlideshowRunner$, //[Required] Class to create instance of slideshow
                $Transitions: _SlideshowTransitions, //[Required] An array of slideshow transitions to play slideshow
                $TransitionsOrder: 1, //[Optional] The way to choose transition to play slide, 1 Sequence, 0 Random
                $ShowLink: true                                    //[Optional] Whether to bring slide link on top of the slider when slideshow is running, default value is false
            },
            $BulletNavigatorOptions: {//[Optional] Options to specify and enable navigator or not
                $Class: $JssorBulletNavigator$, //[Required] Class to create navigator instance
                $ChanceToShow: 2, //[Required] 0 Never, 1 Mouse Over, 2 Always
                $AutoCenter: 1, //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                $Steps: 1, //[Optional] Steps to go for each navigation request, default value is 1
                $Lanes: 1, //[Optional] Specify lanes to arrange items, default value is 1
                $SpacingX: 10, //[Optional] Horizontal space between each item in pixel, default value is 0
                $SpacingY: 10, //[Optional] Vertical space between each item in pixel, default value is 0
                $Orientation: 1                                 //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
            },
            $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$, //[Requried] Class to create arrow navigator instance
                $ChanceToShow: 2, //[Required] 0 Never, 1 Mouse Over, 2 Always
                $Steps: 1                                       //[Optional] Steps to go for each navigation request, default value is 1
            }
        };
        var jssor_slider1 = new $JssorSlider$("slider_container", options);


    });
</script>
