<div class="recharge">
	<div class="title">
		<img src="<?php echo $this->getSkinUrl('images/recharge.jpg')?>"><span><?php echo $this->__("Recharge")?></span>
	</div>
	<div class="content">
		<div class="block-title">
			<ul>
				<li id="o1" class="active">
					<a class="option" id="1"><?php echo $this->__("Recharge")?></a>
				</li>
				<li id="o2">
					<a class="option" id="2"><?php echo $this->__("Prepaid card")?></a>
				</li>
			</ul>
		</div>
		<div class="block-content">
			<form id="addredeem-giftvoucher-1" method="post" action="" class="active">
				<ul class="onlineredeem">
					<li class="fields recharge-info">
						<div class="field-title">
							<span><?php echo $this->__("Recharge Information")?></span>
						</div>
						<div class="field-content">
							<ul class="recharge-content">
								<li>
									<img src="<?php echo $this->getSkinUrl('images/checked-yes.jpg')?>">
									<input type="radio" name="identity" value="100" checked="checked"/>
									<span class="total-info active"><?php echo $this->__('Single recharge ')?><span class="recharge-price">100.00€</span><?php echo $this->__(' send ')?><span class="recharge-send">5.00€&nbsp;&nbsp;</span></span>
								</li>
								<li>
									<img src="<?php echo $this->getSkinUrl('images/checked-no.jpg')?>">
									<input type="radio" name="identity" value="300" />
									<span class="total-info"><?php echo $this->__('Single recharge ')?><span class="recharge-price">300.00€</span><?php echo $this->__(' send ')?><span class="recharge-send">25.00€</span></span>
								</li>
								<li>
									<img src="<?php echo $this->getSkinUrl('images/checked-no.jpg')?>">
									<input type="radio" name="identity" value="500" />
									<span class="total-info"><?php echo $this->__('Single recharge ')?><span class="recharge-price">500.00€</span><?php echo $this->__(' send ')?><span class="recharge-send">50.00€</span></span>
								</li>
							</ul>
							<script type="text/javascript">
								jQuery(".recharge-content li").click(function(){
									jQuery(".recharge-content li input").removeAttr("checked");
									jQuery(".recharge-content img").attr('src','<?php echo $this->getSkinUrl('images/checked-no.jpg')?>');
									jQuery(".recharge-content span.total-info").removeClass("active");
									jQuery(this).children("input").attr("checked","checked");
									jQuery(this).children("img").attr('src','<?php echo $this->getSkinUrl('images/checked-yes.jpg')?>');
									jQuery(this).children("span.total-info").addClass("active");
								});
							</script>
						</div>
					</li>
					<li class="fields recharge-method">
						<div class="field-title">
							<span><?php echo $this->__("Recharge Method")?></span>
						</div>
						<div class="field-content">
							<ul class="payment-content">
								<li class="payment-online">
									<img src="<?php echo $this->getSkinUrl('images/checked-yes.jpg')?>" class="payment-method">
									<input type="radio" name="payment" value="online" checked="checked" class="payment-method" />
									<label class="online"><?php echo $this->__("Payment Online")?></label>
									<p><span class="gray"><?php echo $this->__("To ensure your order is processed as soon as possible, ")?></span><span class="red"><?php echo $this->__("Please pay as soon as possible")?></span></p>
									<div class="online-method">
										<input type="hidden" class="input-text online-value" value="MASTERCARD"/>
										<img src="<?php echo $this->getSkinUrl().'images/Master Card.jpg'?>" class="method-select" bankcode="MASTERCARD"/>
										<p class="choose-others"><a><?php echo $this->__("Choose other payment method")?></a></p>
										<ul class="method-list">
											<li class="method-option" id="options_masrercard" bankcode="MASTERCARD">
												<img src="<?php echo $this->getSkinUrl().'images/Master Card.jpg'?>" alt="MASTERCARD" >
											</li>
											<li class="method-option" id="options_maestro" bankcode="MAESTRO">
												<img src="<?php echo $this->getSkinUrl().'images/Maestro.jpg'?>" alt="MAESTRO" >
											</li>
											<li class="method-option" id="options_paypal" bankcode="PAYPAL">
												<img src="<?php echo $this->getSkinUrl().'images/PayPal.jpg'?>" alt="PAYPAL" >
											</li>
											<li class="method-option" id="options_visa" bankcode="VISA">
												<img src="<?php echo $this->getSkinUrl().'images/Visa.jpg'?>" alt="VISA" >
											</li>
											<li class="method-option" id="options_visa2" bankcode="VISA2">
												<img src="<?php echo $this->getSkinUrl().'images/VISA-2.jpg'?>" alt="VISA2" >
											</li>
											<li class="method-option" id="options_unionpay" bankcode="UNIONPAY">
												<img src="<?php echo $this->getSkinUrl().'images/UnionPay.jpg'?>" alt="UNIONPAY" >
											</li>
											<li class="method-option" id="options_americanexpress" bankcode="AMERICANEXPRESS">
												<img src="<?php echo $this->getSkinUrl().'images/American Express.jpg'?>" alt="AMERICANEXPRESS" >
											</li>
											<li class="method-option" id="options_payzen" bankcode="PAYZEN">
												<img src="<?php echo $this->getSkinUrl().'images/PayZen.jpg'?>" alt="PAYZEN" >
											</li>
											<li class="method-option" id="options_cartasi" bankcode="CARTASI">
												<img src="<?php echo $this->getSkinUrl().'images/Cartasi.jpg'?>" alt="CARTASI" >
											</li>
										</ul>

									</div>
								</li>
								<li class="payment-cash">
									<img src="<?php echo $this->getSkinUrl('images/checked-no.jpg')?>" class="payment-method">
									<input type="radio" name="payment" value="cash" class="payment-method" />
									<label class="cash"><?php echo $this->__("Payment Cash")?></label>
								</li>
								<li class="payment-POS">
									<img src="<?php echo $this->getSkinUrl('images/checked-no.jpg')?>" class="payment-method">
									<input type="radio" name="payment" value="pos" class="payment-method" />
									<label class="POS"><?php echo $this->__("Payment POS")?></label>
								</li>
							</ul>
							<script type="text/javascript">
								jQuery(".payment-content li").click(function(){
									jQuery(".payment-content li input.payment-method").removeAttr("checked");
									jQuery(".payment-content img.payment-method").attr('src','<?php echo $this->getSkinUrl('images/checked-no.jpg')?>');
									jQuery(this).children("input.payment-method").attr("checked","checked");
									jQuery(this).children("img.payment-method").attr('src','<?php echo $this->getSkinUrl('images/checked-yes.jpg')?>');
								});
							</script>
						</div>
					</li>
					<li class="fields invoince-info">
						<div class="field-title">
							<span><?php echo $this->__("Invoince Information")?></span>
						</div>
						<div class="field-content">
							<div>
								<img src="<?php echo $this->getSkinUrl('images/checked-no.jpg')?>" class="invoice-checked"><input type="checkbox" class="no-display"><span><?php echo $this->__('Need Invoice')?></span>  
							</div>
							<ul id="payment_form_invoice" class="form-list" style="display: none;">
								<li>
									<div class="field">
										<input type="radio" id="p_invoice_title_person" name="invoice_title_type" value="invoice_person" class="radio" checked="checked"><?php echo $this->__('Personal')?>     
										<input type="radio" id="p_invoice_title_company" name="invoice_title_type" value="invoice_company" class="radio"><?php echo $this->__('Company')?>   
									</div>    
								</li>
								<li style="display: none;" id="invoice_title_li">
									<label class="required" for="invoice_title"><em>*</em><?php echo $this->__('Company Name')?></label>
									<div class="input-box">
										<input id="invoice_title" name="invoice_title" type="text" class="input-text required-entry" title="the invoice title">
									</div>
								</li>
								<li style="display: none" id="invoice_address_li">
									<label class="required" for="invoice_address"><em>*</em><?php echo $this->__('Invoice address')?></label>
									<div class="input-box">
										<input id="invoice_address" maxlength="250" name="invoice_address" type="text" class="input-text required-entry" title="the invoice address">
									</div>
								</li>
								<li id="invoice_type_li">
									<label class="required" for="invoice_type"><em>*</em><?php echo $this->__('Invoice type')?></label>
									<div class="input-box">
										<select id="invoice_type" name="invoice_type" class="invoice-select" title="">
											<option value="水果">水果</option>
											<option value="农产品">农产品</option>
											<option value="食品">食品</option>
											<option value="礼品">礼品</option>
										</select>
									</div>
								</li>
							</ul>
						</div>
						<script type="text/javascript">
							jQuery(".invoice-checked").click(function(){
								if($j(this).next('input').attr('checked')=='checked'){
									$j(this).attr('src','<?php echo $this->getSkinUrl('images/checked-no.jpg')?>');
									$j(this).next().attr('checked',false);
									$j(this).parents().next('ul.form-list').hide();
								}else{
									$j(this).attr('src','<?php echo $this->getSkinUrl('images/checked-yes.jpg')?>');
									$j(this).next().attr('checked',true);
									$j(this).parents().next('ul.form-list').show();
								}
							});
							jQuery("#p_invoice_title_person").click(function(){
								jQuery("#invoice_title_li").hide();
							});

							jQuery("#p_invoice_title_company").click(function(){
								jQuery("#invoice_title_li").show();
							});
						</script>
					</li>
					<li class="commend">
						<div class="comment-title"><?php echo $this->__("Recharge Commend")?></div>
						<div class="comment-content">
							<textarea maxlength="800" placeholder="<?php echo $this->__("Limit 100 word")?>"></textarea>
						</div>
					</li>
				</ul>
				<div class="bottom">
					<div class="total-cost">
						<p><span><?php echo $this->__("Need to Pay")?></span>:<span>$500.00</span></p>
						<button type="submit" title="<?php echo $this->__("Confirm Pay")?>"><span><span><?php echo $this->__("Confirm Pay")?></span></span></button>
					</div>
				</div>
			</form>
			<form id="addredeem-giftvoucher-2" method="post" action="">
				<ul class="coderedeem">
					<li class="fields recharge-info">
						<div class="field-title"><span>
							<?php echo $this->__("Recharge Information")?></span>
						</div>
						<div class="field-content">
							<table>
								<tr class="card-number">
									<td class="word"><label class="card"><?php echo $this->__("Card number")?></label></td>
									<td><input type="text" value="" name="card-num"/></td>
								</tr>
								<tr class="card-pwd">
									<td class="word"><label class="card-pwd"><?php echo $this->__("Password")?></label></td>
									<td><input type="password" name="card-pwd" value=""/></td>
								</tr>
							</table>
						</div>
						<div class="bottom">
							<div class="total-cost">
								<button type="submit" title="<?php echo $this->__("Confirm")?>"><span><span><?php echo $this->__("Confirm")?></span></span></button>
							</div>
						</div>
					</li>
				</ul>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
	jQuery("#o1").click(function(){
		jQuery(".block-title li").removeClass("active");
		jQuery(".block-content form").removeClass("active");
		jQuery(this).addClass("active");
		jQuery("form#addredeem-giftvoucher-1").addClass("active");
	});
	jQuery("#o2").click(function(){
		jQuery(".block-title li").removeClass("active");
		jQuery(".block-content form").removeClass("active");
		jQuery(this).addClass("active");
		jQuery("form#addredeem-giftvoucher-2").addClass("active");
	});
</script>