<?php
$currentCategoryId = $this->getData('category_id');
$_helper = $this->helper('catalog/output');
$cat = Mage::getModel('catalog/category')->load($currentCategoryId);
$subcats = $cat->getChildren();
$j = 1;
?>
<?php echo $this->getLayout()->createBlock("cms/block")->setBlockId("flash-sale-pic")->toHtml(); ?>
<div class="country-category category-products">
    <div class="category-content">
        <?php $k = 1; ?>
        <?php foreach (explode(',', $subcats) as $subCatid): ?>

            <?php $_category = Mage::getModel('catalog/category')->load($subCatid); ?>
            <?php if ($_category->getIsActive()): ?>
                <div class="country-list floor" id="<?php echo $_category->getUrlKey() ?>">
                    <div class="title">
                        <img src="<?php echo $this->getSkinUrl() . 'images/' . $_category->getUrlKey() . '-list.png' ?>">
                        <span class="name"><?php echo $_category->getName() ?></span>
                    </div>
                    <div class="category-box" id="slider<?php echo $k++; ?>_container" >
                        <div class="category-box-list country" u="slides">
                            <?php
                            $products = Mage::getModel('catalog/category')->load($subCatid)
                            ->getProductCollection()
                            ->addAttributeToSelect('*')
                            ->addAttributeToSelect('image');
                            $count = Mage::getResourceModel('catalog/product_collection')->addCategoryFilter($_category)->count();
                            $i = 0;
                            $html = " ";
                            ?>
                            <div>
                                <?php foreach ($products as $_p): ?>
                                    <?php if(!$_p->getIsSalable()) continue;?>
                                    <?php
                                    $html.='<li class="item appicon01">';
                                    $html.='<a href="' . $_p->getProductUrl() . '" title="' . $this->escapeHtml($_p->getName()) . '" class="product-image">';
                                    if ($_p->getIsSalable()) {

                                        $html.='<div class="quick-view"></div>';
                                        $html.='<div class="mgkviewlightbox quick-overview" id="mgkviewlightbox" data-url="' . Mage::getBaseUrl() . 'lightboxdetail/ajax_index/view/id/' . $_p->getId() . '/">' . $this->__('QUICK VIEW') . '</div>';
                                    } else {
                                        $html.='<div class="qh-out-of-stock"></div>';
                                        $html.='<p>' . $this->__('Out of stock') . '</p>';
                                    }

                                    $html.='<img src="' . $this->helper('catalog/image')->init($_p, 'image')->resize(307) . '" alt="' . $this->escapeHtml($_p->getName()) . '" width="100%">';
                                    $html.='</a>';
                                    $html .='<a href="#" class="mgkviewlightbox quick-overview" id="mgkviewlightbox" data-url="' . Mage::getBaseUrl() . 'lightboxdetail/ajax_index/view/id/' . $_p->getId() . '"></a>';
                                    if ($j == 2) {
                                        if(!is_null($_p->getSpecialPrice())&&$_p->getPrice() > $_p->getSpecialPrice()){
                                            $html.='<span class="sale">-'.number_format((($_p->getPrice() - $_p->getSpecialPrice())/$_p->getPrice() * 100),0).'%</span>';
                                        }
                                        // $html.=' <span class="sale">-40%</span>';
                                    } else {
                                        $html.='<span class="one-top"></span>';
                                    }
                                    $html.='<div class="product-info" style="padding-bottom: 60px; min-height: 71px;">';
                                    $html.='<div class="radio-list">';
                                    $html.='<div class="category-product-name">' . $_helper->productAttribute($_p, $_p->getName(), 'name') . '</div>';
                                    $html.='</div>';

                                    $html.='<div class="actions">';
                                    $html.='<div class="left">';
                                    if ($_p->getTypeId() == 'bundle') {
                                        $html.= '<h2 class="product-name"><a href="' . $_p->getProductUrl() . '" title="' . $this->stripTags($_p->getName(), null, true) . '">' . $_helper->productAttribute($_p, $_p->getName(), 'name') . '</a></h2>';
                                    } else {
                                        $html.= '<div class="left-middle">';
                                        $html.= '<div class="standard">' . $_p->getStandardUnit() . '</div>';
                                        if ($_p->getStandard()) {
                                            $html.= '<div class="dj-price"><span class="price-code">' . Mage::app()->getStore()->getCurrentCurrencyCode() . '</span>' . sprintf("%.2f", $_p->getFinalPrice() / $_p->getStandard()) . '/' . $_p->getUnit() . '</div>';
                                        }
                                        $html.= '</div>';
                                    }
                                    $html.= $this->getPriceHtml($_p, true);
                                    $html.= '</div>';
                                    if (!$_p->isGrouped()) {
                                        if (!$_p->canConfigure() && $_p->isSaleable()) {
                                            $html.= '<div class="right">';
                                            $html.= '<button type="button" title="' . $this->quoteEscape($this->__('Add to Cart')) . '" class="button btn-cart" onclick="setLocationAjax(\'' . $this->getAddToCartUrl($_p) . '\', this)"><span><span>' . $this->__('Add to Cart') . '</span></span></button>';
                                            $html.= '</div>';
                                        } elseif ($_p->getStockItem() && $_p->getStockItem()->getIsInStock()) {
                                            $html.= '<div class="right">';
                                            $html.= '<button type="button" title="' . $this->quoteEscape($this->__('Add to Cart')) . '" class="button btn-cart" onclick="setLocation(' . $this->getAddToCartUrl($_p) . ')"><span><span>' . $this->__('Add to Cart') . '</span></span></button>';
                                            $html.= '</div>';
                                        } else {
                                            $html.= '<p class="availability out-of-stock"></p>';
                                        }
                                    }
                                    $html.= '<div class="list-wish"><a href="' . $this->helper('wishlist')->getAddUrl($_p) . '" class="link-wishlist"><img src="' . $this->getSkinUrl('images/wish.png') . '"></a></div>';
                                    $html.='</div></div></li>';
                                    $i++;
                                    if ($i % 8 == 0 && !($count % 8 == 0)) {
                                        $html.='</div><div>';
                                    }
                                    ?>
                                <?php endforeach; ?><?php echo $html; ?>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            <?php endif; ?>
            <?php $j++; ?> 
        <?php endforeach; ?>
    </div>
</div>
