<?php $_helper = Mage::helper('catalog/category') ?>
<?php $current_category = Mage::registry('current_category'); ?>
<?php $catalog_category = Mage::getModel('catalog/category'); ?>
<?php if ($current_category->getLevel() == 2): ?>
    <?php $_categoryId = $current_category->getId() ?>
    <?php $_category = $catalog_category->load($_categoryId) ?>
    <?php $_subcategories = $_category->getChildrenCategories() ?>
<?php elseif ($current_category->getLevel() == 3): ?>
    <?php $_subcategoryId = $current_category->getId() ?>
    <?php $_categoryId = $current_category->getParentId() ?>
    <?php $_category = $catalog_category->load($_categoryId) ?>
    <?php $_subcategories = $_category->getChildrenCategories() ?>
<?php elseif ($current_category->getLevel() == 4): ?>
    <?php $_threeSubcategoryId = $current_category->getId() ?>
    <?php $_subcategoryId = $current_category->getParentId() ?>
    <?php $_categoryId = $catalog_category->load($_subcategoryId)->getParentId() ?>
    <?php $_category = $catalog_category->load($_categoryId) ?>
    <?php $_subcategories = $_category->getChildrenCategories() ?>
<?php endif; ?>    


<?php if (count($_subcategories) > 0): ?>
    <div class="catalog-categories category-products-head" style="<?php if ($_categoryId == 193||$_categoryId == 206) {
        echo 'display: none;';
    } ?>">
    <div class="toolbar-catalog">
        <ul>
            <li>
                <a href="<?php echo ($_category->getUrlKey()=='go-promo')?$this->getUrl('rush'):$_category->getUrl()?>">
                <img src="<?php echo $this->getSkinUrl() . '/images/right triangle.png' ?>"/>
                    <span class="<?php echo $_category->getName(); ?>"><?php echo $_category->getName(); ?>
                    </span>
                </a>
            </li>
            <?php foreach ($_subcategories as $_subcategory): ?>
                <li class="<?php if ($_subcategoryId == $_subcategory->getId()) {
                    echo 'active';
                } ?>">
                <a href="<?php echo $_helper->getCategoryUrl($_subcategory) ?>"> 
                    <?php echo $_subcategory->getName() ?>
                </a>
            </li>
        <?php endforeach; ?>
    </ul>
</div> 
</div>
<?php endif; ?>

<?php if ($_subcategoryId != '' && $_subcategoryId != 0): ?>
    <?php $_subcategory = $catalog_category->load($_subcategoryId) ?>
    <?php echo $_threeSubcategories = $_subcategory->getChildrenCategories() ?>
    <?php if (count($_threeSubcategories) > 0): ?>
        <div class="category-products category-products-three <?php if ($_categoryId == 193) {
            echo 'category-products-three-xs-top';
        } ?>">
        <div class="toolbar-catalog-three">
            <ul>
                <img src="<?php echo $this->getSkinUrl() . '/images/right triangle.png' ?>"/>
                <?php foreach ($_threeSubcategories as $_threeSubcategory): ?>
                    <li class="<?php if ($_threeSubcategoryId == $_threeSubcategory->getId()) {
                        echo 'active';
                    } ?>">
                    <a href="<?php echo $_helper->getCategoryUrl($_threeSubcategory) ?>"> 
                        <?php echo $_threeSubcategory->getName() ?>
                    </a>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
</div>
<?php endif; ?>
<?php endif; ?>