<?php $_helper = Mage::helper('catalog/category') ?>
<?php $_categories = $_helper->getStoreCategories() ?>
<?php $currentCategory = Mage::registry('current_category') ?>
<?php if (count($_categories) > 0):?>
<div class="category-grid-box">
    <ul class="nav-primary-one">
        <?php 
            foreach($_categories as $_category): 
            $_categoryId= $_category->getId();  
            $_categoryInfo = Mage::getModel('catalog/category')->load($_categoryId);
        ?>
            <li>
            	<div class="category-one">
                    <a href="#">
            		<p class="pic pic-<?php echo $_categoryId?>"><img src="<?php echo $_categoryInfo->getImageUrl() ?>"></p>
            		<p class="word"><?php echo $_categoryInfo->getName() ?> </p>
                    </a>
                </div>
                <?php $_category = Mage::getModel('catalog/category')->load($_categoryId) ?>
                <?php $_subcategories = $_category->getChildrenCategories() ?>
                <?php if (count($_subcategories) > 0): ?>
                	<div class="category-grid-box-two" style="display: none;">
                		<ul class="nav-primary-two">
                			<li>
                				<div class="category-two category-all-product">
                					<a href="<?php echo $_helper->getCategoryUrl($_category) ?>">
                						<?php echo $this->__('All Products') ?><img src="<?php echo $this->getSkinUrl('images/category-checked.png') ?>">
                					</a>
                				</div>
                			</li>
                			<?php foreach($_subcategories as $_subcategory): ?>
                				<li>
                					<div class="category-two">
                						<a href="<?php echo $_helper->getCategoryUrl($_subcategory) ?>"> 
                							<span class="customer-account-left-word"><?php echo $_subcategory->getName() ?></span>
                							<span class="customer-account-right-img"></span>
                						</a>
                					</div>
                				</li>
                			<?php endforeach; ?>
                			<li>
                				<div class="category-two">
                					<a href="#">
                						<span class="customer-account-left-word"><?php echo $this->__('Hot TOP 10') ?></span>
                						<span class="customer-account-right-img"></span>
                					</a>
                				</div>
                			</li>
                		</ul>
                		<div class="title"><?php echo $this->__('Hot Product')?></div>
                		<ul class="nav-primary-two-two">
                			<li>
                				<div class="category-product-list-box">
                					<a href="#">
                						<img src="<?php echo $this->getSkinUrl('images/category/categroy-3-1.png')?>">
                						<p><?php echo $this->__('New Product')?></p>
                					</a>
                				</div>
                			</li>
                			<li>
                				<div class="category-product-list-box">
                					<a href="#">
                						<img src="<?php echo $this->getSkinUrl('images/category/categroy-3-2.png')?>">
                						<p><?php echo $this->__('Southeast Asian')?></p>
                					</a>
                				</div>
                			</li>
                			<li>
                				<div class="category-product-list-box">
                					<a href="#">
                						<img src="<?php echo $this->getSkinUrl('images/category/categroy-3-3.png')?>">
                						<p><?php echo $this->__('Frozen Fruit')?></p>
                					</a>
                				</div>
                			</li>
                			<li>
                				<div class="category-product-list-box">
                					<a href="#">
                						<img src="<?php echo $this->getSkinUrl('images/category/categroy-3-4.png')?>">
                						<p><?php echo $this->__('Anti Season')?></p>
                					</a>
                				</div>
                			</li>
                		</ul>
                		<div class="title"><?php echo $this->__('Scene')?></div>
                		<ul class="nav-primary-two-three">
                			<li>
                				<span><?php echo $this->__('Offbeat')?></span>
                			</li>
                			<li>
                				<span><?php echo $this->__('Baby and Mami')?></span>
                			</li>
                			<li>
                				<span><?php echo $this->__('Eat Every Day')?></span>
                			</li>
                			<li>
                				<span><?php echo $this->__('A Luxury')?></span>
                			</li>
                		</ul>
                	</div>
                <?php endif; ?>
            </li>
        <?php $i++; endforeach; ?>
    </ul>
</div>
<?php endif; ?>

<script type="text/javascript">
	window.onload = function(){
		$j('.nav-primary-one li:first-child').children('.category-one').addClass('category-one-active');
		$j('.nav-primary-one li:first-child').children('.category-grid-box-two').show();
	} 
</script>
<script type="text/javascript">
	$j(document).ready(function() {
		$j('.category-one').on('click', function(){
			$j('.category-one').removeClass('category-one-active');
			$j('.category-grid-box-two').hide();
			$j(this).addClass('category-one-active');
			$j(this).next('.category-grid-box-two').show();
		})
	})             
</script>


