<?php
$CategoryId =explode(',',$this->getCategoryId());
// $_category = Mage::getModel('catalog/category')->load($this->getCategoryId());
// $_id = $this->getData('id');
$_helper = $this->helper('catalog/output');
?>

<?php foreach ($CategoryId  as $key => $value): 
    $_category = Mage::getModel('catalog/category')->load($value);
    ?>

    <?php $_productCollection = $_category
    ->getProductCollection()
    ->addAttributeToSelect('*')
    ->setOrder('entity_id','desc')
    ->addAttributeToSelect('small-image')->setPageSize(2);
    $i=0;
    ?>

    <div class="home-container floor-<?php echo $value ?>">
        <div class="category-product-list">
            <h2> 
                <img src="<?php echo $this->getSkinUrl('images/floor'.$value.'.png') ?>"><?php echo $_category->getName() ?>
                <a href="<?php echo $_category->getUrl()?>"><span></span></a>
            </h2>
            <ul>
                <li class="floor-first">
                    <div class="advertisement"><img src="<?php echo $this->getSkinUrl('images/floor_content'.$value.'.png') ?>"><div>
                </li>
                <?php foreach($_productCollection as $_product):  ?>
                    <li>
                        <div class="category-product-list-box">
                            <a href="<?php echo $_product->getProductUrl() ?>"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize($_imgSize); ?>"></a>
                            <div class="product-left">
                                <h1><a href="<?php echo $_product->getProductUrl() ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></h1>
                                <div class="product-price">
                                    <?php echo $this->getPriceHtml($_product, true) ?>
                                </div>
                            </div>
                        </div>
                    </li>
                <?php endforeach;?>
            </ul>
        </div>
    </div>
<?php endforeach;?>