<?php $_productCollection = Mage::getModel('catalog/category')->load(185)
->getProductCollection()
->addAttributeToSelect('*')
->setOrder('entity_id','desc')
->addAttributeToSelect('small-image')->setPageSize(3);
?>
<?php
$_helper = $this->helper('catalog/output');
?>
<?php if(!$_productCollection->count()): ?>
	<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
	<div class="home-container">
		<div class="category-product-list">
			<h2>
				<img src="<?php echo $this->getSkinUrl('images/naozhong.png') ?>"><?php echo $this->__("Flash sale")?>	
				<a href="<?php echo Mage::getModel('catalog/category')->load(185)->getUrl()?>"><span></span></a>
				<div class="limited-time">
					<span id="hour_show">00</span><i class="to">:</i><span id="minute_show">00</span><i class="to">:</i><span id="second_show">00</span>
				</div>			 
			</h2>
			<ul>
			<?php $i = 0; foreach ($_productCollection as $_product): ?>
				<?php if($i==0):?>
					<li class="floor-first">
						<a href="<?php echo $_product->getProductUrl() ?>">
							<div class="sales-product-list">
								<div class="p-image"> 
                                	<div>
                                		<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize($_imgSize); ?>">
                                	</div>
                                </div>
								<div class="p-info">
									<dl>
										<dd><?php echo $this->__('Overplus: ')?><span>12</span><?php echo $this->__(' H ')?><span>57</span><?php echo $this->__(' M ')?><span>52</span></dd>
										<dd>
											<h3><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></h3>
										</dd>
										<dd></dd>
									</dl>
									<div class="sales-price">
										<div class="oneEuro-img"><img src="<?php echo $this->getSkinUrl('images/tejia.png')?>"></div>
                                        <p>
											<span class="price-symbol"><?php echo Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol()?> </span>
                                        	<span class="sc-price"><?php echo sprintf("%.2f", $_product->getPrice())?></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </a>
                    </li>
                <?php else:?>
                	<li>
                		<div class="category-product-list-box">
                			<div class="zhekou-img">
								<div class="zhekou-word">
                					<?php 
                						$discount = sprintf("%.2f",(sprintf("%.2f", $_product->getPrice())- sprintf("%.2f", $_product->getSpecialPrice()))/sprintf("%.2f", $_product->getPrice()))*100;
                						echo '-'.$discount.'%';
                					?> 
                				</div>
                			</div>
                			<a href="<?php echo $_product->getProductUrl() ?>"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize($_imgSize); ?>"></a>
                			<div class="product-left">
                				<h1><a href="<?php echo $_product->getProductUrl() ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a></h1>
                				<div class="product-price"><?php echo $this->getPriceHtml($_product, true) ?></div>
                			</div>
                			<!-- <div class="product-cart">
                				<?php if(!$_product->canConfigure() && $_product->isSaleable()): ?>
                					<a class="list-cart" id="<?php echo $_product->getId()?>" pname="<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>">
                						<img src="<?php echo $this->getSkinUrl('images/addcart.png')?>">
                					</a>
                				<?php elseif($_product->getStockItem() && $_product->getStockItem()->getIsInStock()): ?>
                					<a title="<?php echo $this->quoteEscape($this->__('View Details')) ?>" class="button" href="<?php echo $_product->getProductUrl() ?>">
                						<img src="<?php echo $this->getSkinUrl('images/addcart.png')?>">
                					</a>
                				<?php else: ?>
                					<p class="availability out-of-stock"><span><?php //echo $this->__('Out of stock') ?></span></p>
                				<?php endif; ?>
                			</div> -->
                		</div>
                	</li>
                <?php endif;?>
                <?php $i++;?>
            <?php endforeach; ?>
        	</ul>
    	</div>
	</div>
<?php endif;?>

<script type="text/javascript">
	var EndTime= new Date('2066/01/28 23:59:59');
	var NowTime = new Date();
	var intDiff = (EndTime.getTime() - NowTime.getTime())/1000;

// var intDiff = parseInt(86400);//倒计时总秒数量
function timer(intDiff){
	window.setInterval(function(){
		var hour=0,
		minute=0,
		second=0;//时间默认值		
		if(intDiff > 0){
			hour = Math.floor(intDiff / (60 * 60)%24);
			minute = Math.floor(intDiff / 60)%60;
			second = Math.floor(intDiff)%60;
		}
		if (hour <= 9) hour = '0' + hour;
		if (minute <= 9) minute = '0' + minute;
		if (second <= 9) second = '0' + second;
		$j('#hour_show').html(hour);
		$j('#minute_show').html(minute);
		$j('#second_show').html(second);
		intDiff--;
	}, 1000);
} 
$j(function(){
	timer(intDiff);
});	
</script>

