<div class="home-container floor-recommend">
	<div class="category-product-list">
		<h2> 
			<img src="<?php echo $this->getSkinUrl('images/recommend.png') ?>"><?php echo $this->__("Recommend") ?>
			<a href="<?php echo Mage::getModel('catalog/category')->load(203)->getUrl()?>"><span></span></a>
		</h2>
		<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('mobile_recommend')->toHtml()?>
	</div>
</div>
 