<?php
$_id = $this->getData('id');
$_helper = $this->helper('catalog/output');
$currentCategoryId = $this->getData('category_id');
$_category = Mage::getModel('catalog/category')->load($currentCategoryId);
?>

<div class="category-box-list right">
    <?php
    $_productCollection = Mage::getResourceModel('reports/product_collection')
                    ->addAttributeToSelect('*')
                    ->addOrderedQty()
                    ->addCategoryFilter($_category)
                    ->setOrder('ordered_qty', 'desc')->setPageSize(6);
    ?>       
    <h4><span><?php echo $this->__("TUTTO AD") ?></span><img src="<?php echo $this->getSkinUrl() . 'images/home-oneEuro.png' ?>"><span><?php echo $this->__("EURO") ?></span></h4> 
    <div id="right" class="slidebox"> 
        <ul class="products-grid items">
            <?php
            $j = 1;
            foreach ($_productCollection as $_orderproduct):
                ?>
                <?php
                $floor = '';
                if ($j % 2 == '1') {
                    $floor.='<li class="item">';
                }

                $floor.='<div>';
                $floor.='<div class="over-frame ">';
                $floor.='<div class="info">';
                $floor.='<a href="' . $_orderproduct->getProductUrl() . '" title="' . $this->escapeHtml($_orderproduct->getName()) . '" class="product-image">';
                $floor.='<img src="' . $this->helper('catalog/image')->init($_orderproduct, 'thumbnail') . '" alt="' . $this->escapeHtml($_orderproduct->getName()) . '" height="170"/></a>';
                $floor.='<span class="top"><img src="' . $this->getSkinUrl() . 'images/oneEuro.png' . '"></span>';
                $floor.='<div class="category-box-list-info">';
                $floor.='<h1><span class="national-flag"><img src="" alt=""></span>' . $_orderproduct->getName() . '</h1>';
                $floor.='<h1>' . $this->getPriceHtml($_orderproduct, true) . '<button title="Add to Cart" class="button btn-cart"><span><span>Add to Cart</span></span></button></h1>';
                $floor.='</div>';
                $floor.='</div>';
                $floor.='</div>';
                $floor.='</div>';
                $j++;
                if ($j % 2 == '1') {
                    $floor.='</li>';
                }
                echo $floor;
                ?>
            <?php endforeach; ?>
        </ul>
    </div>
</div>
<div class="clear"></div>

<script>
    jQuery(function() {

        $j('#right').slideBox({
            direction: 'top', //left,top#方向
            duration: 0.3, //滚动持续时间，单位：秒
            easing: 'linear', //swing,linear//滚动特效
            delay: 1, //滚动延迟时间，单位：秒
            startIndex: 0//初始焦点顺序
        });

    });
</script>