<?php
$_helper = $this->helper('catalog/output');
$currentCategoryId= $this->getData('category_id');
?>
<div class="flash-list category-box-list">  
    <?php $products = Mage::getModel('catalog/category')->load($currentCategoryId)
    ->getProductCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToSelect('small-image')->setPageSize(12);

    ?>
    <ul>
        <?php $i=1;?>
        <?php foreach($products as $_p): ?>
            <?php if($i>6) break;?>
            <?php if(!$_p->getIsSalable()) continue;?>
            <li class="item" >
                <a href="<?php echo $_p->getProductUrl()?>" title="<?php echo $this->escapeHtml($_p->getName())?>" class="product-image">
                    <?php if(!$_p->getIsSalable()): ?>
                       <div class="qh-out-of-stock"></div>
                       <p><?php echo $this->__('Out of stock')?></p>
                   <?php endif;?>
                   <img src="<?php echo $this->helper('catalog/image')->init($_p, 'thumbnail') ?>" alt="<?php echo $this->escapeHtml($_p->getName())?>" width="199" height="199"/>
               </a>
               <?php if($currentCategoryId == 460):?>
                <span class="oneEuro"><img src="<?php echo $this->getSkinUrl().'images/oneEuro.png'?>"/></span>                
            <?php elseif($currentCategoryId ==459):?>
                <span class="sale">
                    -40
                    <!-- <?php //echo number_format((($_p->getPrice() - $_p->getSpecialPrice())/$_p->getPrice() * 100),0)?>% -->
                </span>
            <?php elseif($currentCategoryId ==702):?>
                <?php if($_p->getPrice() > $_p->getSpecialPrice()):?>
                    <span class="sale">
                        <?php echo number_format((($_p->getPrice() - $_p->getSpecialPrice())/$_p->getPrice() * 100),0)?>%
                    </span>
                <?php endif;?>
            <?php endif;?>
            <div class="category-box-list-info">
                <h1>
                    <?php echo $_p->getName()?>
                </h1>
                <div class="left">
                    <?php echo $this->getPriceHtml($_p, true) ?>
                </div>
                <?php if(!$_p->canConfigure() && $_p->isSaleable()): ?>
                    <div class="right">
                        <p class="action"><button title="<?php echo $this->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart" onclick="setLocationAjax('<?php echo $this->getAddToCartUrl($_p) ?>',this)"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></p>
                    </div>
                <?php elseif($_p->getStockItem() && $_p->getStockItem()->getIsInStock()): ?>
                    <div class="right">
                        <p class="action"><button title="<?php echo $this->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></p>
                    </div>
                <?php else: ?>
                    <p class="action availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                <?php endif; ?>

            </div>
        </li>
        <?php $i++;?>
    <?php endforeach;?>
</ul>
</div>
