
@font-face {font-family:"Open Sans Bold";src:url("OpenSans-Bold.eot?") format("eot"),url("OpenSans-Bold.woff") format("woff"),url("OpenSans-Bold.ttf") format("truetype"),url("OpenSans-Bold.svg#OpenSans-Bold") format("svg");font-weight:normal;font-style:normal;}
@font-face {font-family:"Open Sans Semibold";src:url("OpenSans-Semibold.eot?") format("eot"),url("OpenSans-Semibold.woff") format("woff"),url("OpenSans-Semibold.ttf") format("truetype"),url("OpenSans-Semibold.svg#OpenSans-Semibold") format("svg");font-weight:normal;font-style:normal;}
 @font-face {font-family:"Open Sans Extrabold";src:url("OpenSans-ExtraBold.eot?") format("eot"),url("OpenSans-ExtraBold.woff") format("woff"),url("OpenSans-ExtraBold.ttf") format("truetype"),url("OpenSans-ExtraBold.svg#OpenSans-Extrabold") format("svg");font-weight:normal;font-style:normal;}

 @font-face {font-family:"Roboto Slab Blod";src:url("robotoslab-bold.eot?") format("eot"),url("robotoslab-bold.woff") format("woff"),url("robotoslab-bold.ttf") format("truetype"),url("robotoslab-bold.svg#robotoslab-bold") format("svg");font-weight:normal;font-style:normal;}
 
html {-webkit-text-size-adjust:none; /*解决chrome浏览器下字体不能小于12px*/}
body{ color:#000000; font-family:Verdana, Arial, Helvetica, sans-serif;}
a{outline:none; text-decoration:none;} a:hover{ text-decoration:underline;}
html{zoom:1;}html *{outline:0;zoom:1;} html button::-moz-focus-inner{border-color:transparent!important;} 
body{overflow-x: hidden; font-size:12px;} body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;-webkit-tap-highlight-color:rgba(0,0,0,0);} table{border-collapse:collapse;border-spacing:0;} fieldset,a img{border:0;-webkit-tap-highlight-color:rgba(0,0,0,0)} address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;} li{list-style:none;} caption,th{text-align:left;} h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;} q:before,q:after{content:'';}
input[type="submit"], input[type="reset"], input[type="button"],input[type="text"],input[type="password"],textarea, button { -webkit-appearance: none !important; /*去掉苹果的默认UI来渲染按钮*/} em,i{ font-style:normal;}
.fl{ float:left;}
.fr{ float:right;}
/*文字超出隐藏*/
.w_break{
	word-break:keep-all;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
strong,em,i{ font-style:normal; font-weight:normal;}
.clear{ clear:both;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;line-height:0;}
.clearfix{zoom:1;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
.lft{ float:left;}
.rgt{ float:right;}
input,textarea,select{font-family:"Open Sans Semibold";}
html {
	font-size:62.5%
}
select{
 -webkit-appearance:none;-moz-appearance:none;appearanearance: none;}
@media only screen and (min-width:321px) { /*iphone5*/
html {
font-size:62.5%!important
}
}
@media only screen and (min-width:361px) { /*三星note*/
html {
font-size:70.31%!important
}
}
@media only screen and (min-width:376px) { /*iphone6*/
html {
font-size:73.24%!important
}
}
@media only screen and (min-width:481px) {
html {
font-size:94%!important
}
}
@media only screen and (min-width:561px) {
html {
font-size:109%!important
}
}
@media only screen and (min-width:641px) {
html {
font-size:125%!important
}
}
/**************************************/
::-webkit-input-placeholder {
color: #888; text-overflow: ellipsis;
}
:-moz-placeholder {
color: #888; text-overflow: ellipsis;
}
::-moz-placeholder {
color: #888; text-overflow: ellipsis;
} /* for the future */
:-ms-input-placeholder {
color:#888; text-overflow: ellipsis;
} 
.lft,.left{ float:left;}
.rgt,.right{ float:right;}
img{ width:auto; max-width:100%;}
html{-webkit-text-size-adjust:none;}
body{ background:#fff; line-height: 1.7; margin: 0 auto; min-width: 320px; position: relative; height:100%; color:#282828;font-family:"Open Sans Bold",Tahoma; }
body a{ color:#282828;text-decoration:none;cursor:pointer}
body a:hover,body a:active,body a:focus{text-decoration:none;outline:none}
a:hover,a:link,a:visited,a{ color:inherit; text-decoration:none;}
.semibold{font-family:"Open Sans Semibold";}
.extrabold{font-family:"Open Sans Extrabold";}
.roboto{font-family:"Roboto Slab Blod";}
.wrapper{ width:940px; margin:0 auto;}
.topDiv{ padding-top:70px; padding-bottom:10px;}
.topDiv img{ display:block;}
.mainCon{ border:5px solid #EC6928; padding:45px; padding-bottom:15px; margin-bottom:50px; font-size:20px; color:#231815; line-height:150%;}
.mainCon .sure_info h3{ font-size:24px; margin-bottom:25px;}
.mainCon .sure_info p{  margin-bottom:24px;}
.mainCon .sure_info p a{ text-decoration:underline; color:#68AE56;}
.mainCon .sure_info p a:hover{ color:#EC6928;}
.mainCon .sure_info .btn{ margin-bottom:30px; border:none; background:none; }
.mainCon .sure_info .btn a{ display:block;display:block; width:350px; height:60px; line-height:60px; text-align:center; color:#fff; font-size:24px; background:#68AE56; border-radius:5px; margin:0 auto; }
.mainCon .sure_info .tips{ color:#9FA0A0; text-align:center;}
.mainCon .sure_info .copyright{ text-align:center; font-size:24px; padding-top:22px;}

.mainCon .sure_info dl dt{  margin-bottom:20px;}
.mainCon .sure_info dl dd{ background:url(../images/w_dot.png) no-repeat left 9px; padding-left:20px; margin-bottom:20px;}.order_info{ margin-bottom:40px;}
.order_info .head{ text-align:center; margin-bottom:20px;}
.order_info .head h3{ font-size:25px; margin-bottom:16px;}
.order_info .head p{ font-size:27px;}
.order_info .head p small{ display:block; font-size:19px;}
.order_info .body .list { margin-bottom:15px;}
.order_info .body .list dl{ float:left; width:33%;}
.order_info .body .list dl dt{ color:#E16732; font-size:24px;font-family:"Open Sans Extrabold";}
.order_info .body .list dl dd{ line-height:130%; font-size:22px;}
.order_info .body .list dl.item-a{ width:39%;}
.order_info .body .list dl.item-b{ width:38%;}
.order_info .body .list dl.item-c{ width:23%; float:right;}
.order_info .body .table thead,.order_info .body .table tfoot{ border:1px solid #0F9F4F;}
.order_info .body .table th,.order_info .body .table td{ padding:6px 15px; text-align:right; line-height:140%;}
.order_info .body .table .tl{ text-align:left;}
.order_info .body .table tfoot td{ padding:1px 15px; font-size:22px;}
.order_info .body .table td h5{ letter-spacing:1px;}
.order_info .body .table td p{color:#9FA0A0; font-size:15px; }
@media only screen and (max-width:941px) {
	.topDiv{ padding-top:40px; padding-bottom:10px;}
	.mainCon{ border:5px solid #EC6928; padding:25px; padding-bottom:15px; margin-bottom:50px; font-size:20px; color:#231815;}
	.wrapper{ width:auto; margin:0 auto; padding:15px;}

}
@media only screen and (max-width:768px) {
		.order_info .body .list dl dt{ font-size:20px;}.order_info .body .list dl dt{ font-size:16px;}
}
@media only screen and (max-width:640px) {
	.order_info .body .list dl{  margin-bottom:30px;}
.order_info .body .list dl.item-a{ width:50%; }
.order_info .body .list dl.item-b{  width:50%;}
.order_info .body .list dl.item-c{ width:50%; float:left;}
}
@media only screen and (max-width:541px) {
	.order_info .body .table th,.order_info .body .table td{ padding:6px 10px; }
.order_info .body .table tfoot td{ padding:1px 10px; font-size:15px;}
.order_info .body .table td p{color:#9FA0A0; font-size:13px; }
	.topDiv{ padding-top:20px; padding-bottom:10px;}
	.topDiv img{ display:block; width:150px;}
	.mainCon{ border:3px solid #EC6928; padding:25px; padding-bottom:15px; margin-bottom:50px; font-size:18px; color:#231815;}
	.wrapper{ width:auto; margin:0 auto; padding:15px;}
	.mainCon .sure_info  p{ margin-bottom:18px;}
	.mainCon .sure_info .btn{ margin-bottom:20px;}
.mainCon .sure_info .btn a{ width:100%; font-size:18px;}
.mainCon .sure_info h3{ font-size:20px; margin-bottom:25px;}
.mainCon .sure_info .copyright{ font-size:18px; padding-top:14px;}
.mainCon .sure_info dl dd{ margin-bottom:15px;}
	.order_info .body .list dl{  margin-bottom:30px;}
.order_info .body .list dl.item-a{ width:100%; }
.order_info .body .list dl.item-b{  width:100%;}
.order_info .body .list dl.item-c{ width:100%; float:left;}
} 





















