<div class="my-account">
	<div class="accountsecurity">
		<div class="page-title">
			<h1><?php echo $this->__("Account Security")?></h1>
		</div>
		<div class="page-content">
			<div class="user">
				<div class="head-portrait">
					<img src="<?php echo $this->getSkinUrl().'images/no-pic.jpg'?>"/>
				</div>
				<div class="username">
					<span>18555555555</span>
					<a href="" class="edit"><?php echo $this->__("Modiefy")?></a>
				</div>
				<div class="logintime">
					<span>(<?php echo $this->__("If not login,recommendation")?><a href=""><?php echo $this->__("Change Password")?></a>)</span>
				</div>
			</div>
			<div class="safe-info">
				<ul>
					<li class="password">
						<div class="field">
							<i></i>
							<span><?php echo $this->__("Change Password")?></span>
						</div>
						<div class="supply">
							<span class="red"><?php echo $this->__("Replace your regular account password, and other account and do not share the same password")?></span>
						</div>
						<div class="operate">
							<a href="" class="btn pwd"><?php echo $this->__("Change Password")?></a>
						</div>
					</li>
					<li class="email">
						<div class="field">
							<i></i>
							<span><?php echo $this->__("E-mail verification")?></span>
						</div>
						<div class="supply">
							<span><?php echo $this->__("E-mail will be your valid identity card, security is guaranteed while providing password recovery, push messaging service")?></span>
						</div>
						<div class="operate">
							<a href="" class="btn bandingemail"><?php echo $this->__("E-mail verification")?></a>
						</div>
					</li>
					<li class="phone">
						<div class="field">
							<i></i>
							<span><?php echo $this->__("Phone Verification")?></span>
						</div>
						<div class="supply">
							<span><?php echo $this->__("After you verify that your phone can receive text messages and easy to push fruit password recovery service")?></span>
							<label><?php echo $this->__("Your Verified Phone:")?><strong>18555555555</strong></label>
						</div>
						<div class="operate">
							<a href="" class="btn bandingmobile"><?php echo $this->__("Phone Verification")?></a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>