<div class="backorder">
	<div class="tab">
		<span class="on online"><?php echo $this->__("Application Returns")?></span>
		<span class="record"><?php echo $this->__("Shipping & Returns Record")?></span>
	</div>
	<div class="tab-content" id="backorder-list">
		XXXXXXXX
	</div>
	<div class="tab-content" id="backorder-history" style="display: none;">
		<div class="returns-text box">
			<?php echo $this->__("Within 48 hours from order receipt time, you can apply online to submit an application for return (except for special commodities, see return policy)")?>
		</div>
		<div class="screened-select">
			<div class="submitDate">
				<select class="select" id="selspan">
					<option value="0" selected><?php echo $this->__("Nearly a month")?></option>
					<option value="1"><?php echo $this->__("All the records")?></option>
					<option value="2"><?php echo $this->__("Return Record")?></option>
					<option value="3"><?php echo $this->__("Ment records")?></option>
				</select>
			</div>
		</div>
		<div class="returns-table" id="backorderlisthistory">
			<table>
				<thead>
					<tr>
						<td>
							<table class="list-head">
								<thead>
									<tr>
										<th width="15%"><?php echo $this->__("Order Num")?></th>
										<th width="20%"><?php echo $this->__("Shipping & Returns Type")?></th>
										<th width="35%"><?php echo $this->__("Product Name")?></th>
										<th width="15%"><?php echo $this->__("Status")?></th>
										<th width="15%">&nbsp;</th>
									</tr>
								</thead>
							</table>
						</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<table class="list-body">
								<tbody>
									<tr>XXXXXXXX</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script type="text/javascript">
	jQuery(".tab .online").click(function(){
		jQuery(".tab span").removeClass("on");
		jQuery(this).addClass("on");
		jQuery(".tab-content").hide();
		jQuery("#backorder-list").show();
	});
	jQuery(".tab .record").click(function(){
		jQuery(".tab span").removeClass("on");
		jQuery(this).addClass("on");
		jQuery(".tab-content").hide();
		jQuery("#backorder-history").show();
	});
</script>