<div class="my-account">
	<div class="my-balance">
		<div class="page-title">
			<h1>
				<?php echo $this->__("Account Balance")?>
			</h1>
		</div>
		<div class="page-content">
			<div class="balance">
				<span><?php echo $this->__("Current available balance:")?><b>$0.00</b></span>
				<a href="" target="_blank" class="btn"><?php echo $this->__("Recharge")?></a>
			</div>
			<div class="balance-details">
				<div class="details-title">
					<span><?php echo $this->__("Balance Details")?></span>
					<div class="select">
						<select id="balance-select">
							<option value="0"><?php echo $this->__("Nearly a month")?></option>
							<option value="1"><?php echo $this->__("Within three months")?></option>
							<option value="2"><?php echo $this->__("All the records")?></option>


						</select>
					</div>
				</div>
				<div class="balance-list">
					<table>
						<thead>
							<tr>
								<td width="20%"><?php echo $this->__("Date")?></td>
								<td width="16%"><?php echo $this->__("Serial Number")?></td>
								<td width="16%"><?php echo $this->__("Deposit")?></td>
								<td width="16%"><?php echo $this->__("Expenditure")?></td>
								<td width="16%"><?php echo $this->__("Account Balance")?></td>
								<td width="16%"><?php echo $this->__("Details")?></td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>