<div class="my-account">
	<div class="my-giftcard">
		<div class="page-title">
			<h1><?php echo $this->__("My giftcard")?></h1>
		</div>
		<div class="page-content">
			<div class="total">
				<p><?php echo $this->__("The currently available giftcard: %s",1)?></p>
				<a href=""><?php echo $this->__("Quick Look")?></a>
			</div>
			<p><?php echo $this->__("易果礼品卡—商务馈赠、节日送礼、企业福利的最佳选择，超过百万种商品的海量选择。")?></p>
			<div class="bind-giftcard">
				<div class="bgc-line-l"></div>
				<div class="bgc-col1">
					<dl>
						<dt>
							<?php echo $this->__("Bind Giftcard")?>
						</dt>
						<dd>
							<span><?php echo $this->__("Giftcard Number")?></span>
							<input type="text" name="couponcode"/>
						</dd>
						<dd>
							<span><?php echo $this->__("Giftcard Password")?></span>
							<input type="password" name="couponpassword"/>
						</dd>
						<dd>
							<span></span>
							<a class="btn" id="binggiftcard"><?php echo $this->__("Confirm Bind")?></a>
							<a href="" target="_blank" class="help"><?php echo $this->__("Use Help")?></a>
						</dd>
					</dl>
				</div>
				<div class="bgc-line-c"></div>
				<div class="bgc-col2">
					<?php echo $this->getLayout()->createBlock("cms/block")->setBlockId("giftcard_notice")->toHtml();?>
				</div>
				<div class="bgc-line-r"></div>
			</div>
			<div class="giftcard-details">
				<div class="details-title">
					<span><?php echo $this->__("Giftcard Details")?></span>
					<div class="select">
						<select id="giftcardstatus">
							<option value="0"><?php echo $this->__("All")?></option>
							<option value="1"><?php echo $this->__("Unused")?></option>
							<option value="2"><?php echo $this->__("Used")?></option>
							<option value="3"><?php echo $this->__("Expired")?></option>

						</select>
					</div>
				</div>
				<div class="giftcard-list">
					<table>
						<thead>
							<tr>
								<td width="16%"><?php echo $this->__("Giftcard")?></td>
								<td width="16%"><?php echo $this->__("Money need to consume")?></td>
								<td width="11%"><?php echo $this->__("Denomination")?></td>
								<td width="16%"><?php echo $this->__("Deadline")?></td>
								<td width="20%"><?php echo $this->__("Bind Date")?></td>
								<td width="21%"><?php echo $this->__("Status")?></td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>