<div class="my-account">
	<div class="my-coupon">
		<div class="page-title">
			<h1><?php echo $this->__("My Coupon")?></h1>
		</div>
		<div class="page-content">
			<div class="page-tab">
				<ul>
					<li class="coupon-unused selected">
						<span><?php echo $this->__("The unused coupons")?></span>
					</li>
					<li class="coupon-used">
						<span><?php echo $this->__("The used coupons")?></span>
					</li>
					<li class="coupon-overdue">
						<span><?php echo $this->__("Expired coupons")?></span>
					</li>
				</ul>
			</div>
			<div class="page-coupon">
				<span><?php echo $this->__("记录为空")?></span>
			</div>
		</div>
	</div>
</div>