<div class="my-account">
	<div class="my-pickupcard">
		<div class="page-title">
			<h1><?php echo $this->__("My PickupCard")?></h1>
		</div>
		<div class="page-content">
			<div class="add-puc">
				<h4><?php echo $this->__("Use PickupCard")?></h4>
				<form action="" method="post">
					<input type="hidden" name="SignKey" value=""/>
					<dl>
						<dt><?php echo $this->__("PickupCard Code")?></dt>
						<dd>
							<input type="text" name="vouchercode" />
						</dd>
					</dl>
					<dl>
						<dt><?php echo $this->__("PikupCard Password")?></dt>
						<dd>
							<input type="password" name="voucherpassword" />
						</dd>
					</dl>
					<dl>
						<dt></dt>
						<dd>
							<a class="btn"><?php echo $this->__("Pickup")?></a>
							<a target="_blank" class="help" href=""><?php echo $this->__("Use Help")?></a>
						</dd>
					</dl>
				</form>
			</div>
			<div class="puc-details">
				<div class="details-title">
					<span><?php echo $this->__("Pickupcard Details")?></span>
					<div class="select">
						<select id="pickupcard-select">
							<option value="0"><?php echo $this->__("Nearly a month")?></option>
							<option value="1"><?php echo $this->__("Within three months")?></option>
							<option value="2"><?php echo $this->__("All the records")?></option>


						</select>
					</div>
				</div>
				<div class="pickupcard-list">
					<table>
						<thead>
							<tr>
								<td width="15%"><?php echo $this->__("Card Num")?></td>
								<td width="15%"><?php echo $this->__("Product Qty")?></td>
								<td width="15%"><?php echo $this->__("Quantity to buy")?></td>
								<td width="15%"><?php echo $this->__("Deadline")?></td>
								<td width="25%"><?php echo $this->__("Bind Date")?></td>
								<td width="15%"><?php echo $this->__("Details")?></td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>