<div class="suggestions">
	<div class="page-title"><?php echo $this->__("Suggestions")?></div>
	<div class="page-content">
		<textarea class="mycomplain" id="comlpain" placeholder="<?php echo $this->__("300 word Limit")?>"></textarea>
    	<a class="btn-gn j_complain j_active" href="javascript:void(0)"><?php echo $this->__("Submit")?></a>
	</div>
</div>