<?php $catId=$this->getCategoryId();?>
<?php $_helper = Mage::helper('catalog/category') ?>
<?php $_category = Mage::getModel('catalog/category')->load($catId) ?>
<?php $_subcategories = $_category->getChildrenCategories() ?>
<?php if (count($_subcategories) > 0): ?>
    <div class="tab-pal">
        <dl>
            <dt><a href="<?php echo $_helper->getCategoryUrl($_category) ?>">
                <?php echo $this->__('Tutti i prodotti')?>
            </a></dt>
            <?php foreach($_subcategories as $_subcategory): ?>
                <dd><a href="<?php echo $_helper->getCategoryUrl($_subcategory) ?>">
                   <?php echo $_subcategory->getName() ?>
                </a></dd>
            <?php endforeach; ?>
        </dl>
        <div class="item item-pic">
            <h3><?php echo $this->__('I più venduti')?></h3>
            <?php 
            $_productCollection = Mage::getModel('catalog/category')->load($catId)
            ->getProductCollection()->setPageSize(4)
            ->addAttributeToSelect('*')
            ->addAttributeToSelect('small-image')
            ->addAttributeToSort('position', 'DESC');
            $_productCollection->addAttributeToFilter('image', array('neq' => 'no_selection'));         
            $_productCollection->addAttributeToFilter('homepage_venduti',1);

            ?>
            <ul class="clearfix">
                <?php  foreach ($_productCollection as $_product):?>
                    <li><a href="<?php echo $_product->getProductUrl()?>">
                        <div class="box"> 
                            <img src="<?php echo $this->helper('catalog/image')->init($_product, 'image')?>"> 
                            <span><?php echo $_product->getName()?></span> 
                        </div>
                    </a></li>
                <?php endforeach;?>
            </ul>
        </div>
    </div>
<?php endif; ?>

