 <?php if ($this->isEnabled('comments')): ?>
 	<div class="customer-comment">
 	<label for="customer_comment"><?php echo $this->__('Commenti:') ?></label>
 		<textarea id="customer_comment" name="customer_comment" cols="50"
 		rows="5"><?php echo $this->getCustomerComment(); ?></textarea>
 	</div>
 <?php endif; ?>
