<?php
/**
 * GoMage LightCheckout Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2015 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 5.9
 * @since        Class available since Release 2.0
 */
?>
<div class="discount">
    <div class="title">
        <img src="<?php echo $this->getSkinUrl('images/col-5.png') ?>"><div class="title-word"><?php echo $this->__('Coupon') ?><span><a href="#"><?php echo $this->__('(Condizioni generali)') ?></a></span></div>
    </div>
    <?php
    $_customer = Mage::getSingleton('customer/session');

    $_couponCollection = $this->helper('discount')->getCouponListNotBind();
    if ($_couponCollection->count() !== 0):
        ?>
        <table class="coupon-list">
            <?php foreach ($_couponCollection as $_coupon): ?>
                <?php
                if (!Mage::helper('discount')->isShowable($_coupon, $_customer))
                    continue;
                ?>
                <tr  class="coupon-details <?php echo $_isUsed ?> <?php if ($this->escapeHtml($_coupon->getCode()) == $this->htmlEscape($this->getCouponCode())) echo 'active' ?>">
                    <?php //$_isUsed = Mage::helper('discount')->checkIfUsed($_coupon, $_customer) ? 'used' : '';  ?>
                    <td class="coupon-name">
                        <?php if ($this->escapeHtml($_coupon->getCode()) == $this->htmlEscape($this->getCouponCode())): ?>
                            <img src="<?php echo $this->getSkinUrl('images/coupon-yes.png') ?>" class="img-coupon">
                        <?php else: ?>
                            <img src="<?php echo $this->getSkinUrl('images/coupon-no.png') ?>" class="img-coupon">
                        <?php endif; ?>
                        <div class="word"><?php echo $this->escapeHtml($_coupon->getName()) ?></div>
                    </td>
                    <td class="coupon-description"><?php echo $this->escapeHtml($_coupon->getDescription()) ?></td>
                    <td class="coupon-expiration-date">
                        <?php echo Mage::helper('discount')->getExpirationDate($_coupon, $_customer) ?>
                    </td>
                    <td class="coupon-code"><?php echo $this->escapeHtml($_coupon->getCode()) ?></td>
                </tr>
            <?php endforeach; ?>
        </table>
    <?php endif; ?>
    <div class="lightcheckout-discount-form">

        <input type="hidden" name="remove" id="remove_coupone" value="0" />

        <!-- <label for="coupon_code"><?php echo $this->__('Discount codes') ?></label> -->

        <div class="input-box">
            <input placeholder="<?php echo $this->__('CODICE DI SCONTO') ?>" class="input-text" id="coupon_code" name="coupon_code" readonly value="<?php echo $this->htmlEscape($this->getCouponCode()) ?>" />
        </div>

        <button type="button" title="<?php echo $this->__('Apply Coupon') ?>" class="button" onclick="if (!$('coupon_code').value) {
                    alert('<?php echo $this->__('Enter your coupon code if you have one.') ?>')
                } else {
                    checkout.applyDisocunt(false);
                }" value="<?php echo $this->__('Apply Coupon') ?>"><span><span><?php echo $this->__('Apply Coupon') ?></span></span></button>
                <?php if (strlen($this->getCouponCode())): ?>
            &nbsp; <button type="button" title="<?php echo $this->__('Cancel Coupon') ?>" class="button" onclick="checkout.applyDisocunt(true)" value="<?php echo $this->__('Cancel Coupon') ?>"><span><span><?php echo $this->__('Cancel Coupon') ?></span></span></button>
                <?php endif; ?>
                <div class="discount-word">
                    <p><?php echo $this->__('Seleziona il Coupon Sconto e clicca il tasto APPLICA COUPON per utilizzare lo sconto.')?></p>
                    <p><?php echo $this->__('Dopo l\'utilizzo del Coupon Sconto e dei Punti Spesa, l\'importo minimo di spesa deve essere pari o superiore a 19 € (escluse spese di spedizione).')?></p>
                </div>

    </div>

</div>


<script type="text/javascript">
            jQuery('.coupon-list').find('.coupon-details').each(function(i, v) {
                jQuery(v).on('click', function(evt) {
                    if (!jQuery(this).hasClass('used')) {
                        jQuery('#coupon_code').val(jQuery(this).find('.coupon-code').html());
                    }
                    jQuery('.coupon-list').find('.coupon-details').removeClass('active');
                    jQuery(this).addClass('active');
                    jQuery('.coupon-list td.coupon-name img').attr('src', '<?php echo $this->getSkinUrl('images/coupon-no.png') ?>');
                    jQuery(this).children('td.coupon-name').children('img').attr('src', '<?php echo $this->getSkinUrl('images/coupon-yes.png') ?>');
                });
            });
</script>