<?php
 /**
 * GoMage LightCheckout Extension
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2015 GoMage (http://www.gomage.com)
 * @author       GoMage
 * @license      http://www.gomage.com/license-agreement/  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 5.9
 * @since        Class available since Release 1.0
 */

 $discount_position = Mage::helper('gomage_checkout')->getConfigData('general/enable_discount');
 ?>
 <?php if($discount_position == 1){ echo $this->getChildHtml('discount'); };?>
 <?php if($discount_position == 2): ?>
    <div class="discount-bottom">
        <?php { echo $this->getChildHtml('discount'); }; ?>
    </div>
<?php endif;?>
<div class="discount-points">
    <?php echo $this->getChildHtml('points_ys'); ?>
</div>
<?php echo $this->getChildHtml('items_before'); ?>
<div id="checkout-review-table-wrapper">
    <div class="title">
        <img src="<?php echo $this->getSkinUrl('images/col-7.png')?>"><div class="title-word"><?php echo $this->__('Ordine')?></div>
    </div>
    <div class="produc-data">
        <table class="data-table" id="checkout-review-table">
            <thead>
                <tr>
                 <?php if(Mage::helper('gomage_checkout')->getConfigData('general/allow_remove')>0):?>
                     <th rowspan="<?php echo $rowspan ?>"></th>
                 <?php endif;?>			    
                 <?php if(Mage::helper('gomage_checkout')->getConfigData('address_fields/thumbnails')>0):?>
                    <th rowspan="<?php echo $rowspan ?>"></th>				
                <?php endif;?>			    
                <th rowspan="<?php echo $rowspan ?>"><span class="nobr"><?php echo $this->__('Product Name') ?></span></th>
                <?php if(Mage::helper('gomage_checkout')->getConfigData('gift_wrapping/enable')>0):?>
                    <th class="a-center" rowspan="<?php echo $rowspan ?>"><span class="nobr"><?php echo Mage::helper('gomage_checkout')->getConfigData('gift_wrapping/title') ?></span></th>	
                <?php endif; ?>
                <th colspan="<?php echo $colspan ?>" class="a-center"><?php echo $this->__('Price') ?></th>
                <th rowspan="<?php echo $rowspan ?>" class="a-center"><?php echo $this->__('Qty') ?></th>
                <th colspan="<?php echo $colspan ?>" class="a-center"><?php echo $this->__('Subtotal') ?></th>

            </tr>
            <?php if ($this->helper('tax')->displayCartBothPrices()): ?>
                <tr>
                    <th class="a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                    <th><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
                    <th class="a-right"><?php echo $this->helper('tax')->getIncExcTaxLabel(false) ?></th>
                    <th><?php echo $this->helper('tax')->getIncExcTaxLabel(true) ?></th>
                </tr>
            <?php endif; ?>
        </thead>

        <tbody>
            <?php foreach($this->getItems() as $_item): ?>
                <?php echo $this->getItemHtml($_item)?>
            <?php endforeach ?>
        </tbody>
    </table>
</div>          
<?php echo $this->getChildHtml('items_after'); ?>            
</div>
<!-- <div class="remarks">
    <?php echo $this->getChildHtml('comment'); ?>
</div> -->
<div class="total-price">
    <div class="total-word">
        <div class="left">
            <img src="<?php echo $this->getSkinUrl('images/word-th.png')?>">
        </div>
        <div class="right">
            <p><?php echo $this->__('Ti ricordiamo che gli ordini sono annullabili e modificabili fino a 4 ore prima dell’inizio della fascia oraria di consegna da te richiesta.')?></p>
            <p><?php echo $this->__('Per maggiori informazioni ti invitiamo a consultare le Condizioni Generali di Vendita.')?></p>
        </div>
    </div>
    <table>
        <?php echo $this->getChildHtml('totals'); ?>
    </table>
</div>
<script type="text/javascript">
//<![CDATA[
decorateTable('checkout-review-table');
truncateOptions();
//]]>
</script>
<?php if(Me_Floatfee_Model_Fee::getFee()):?>
    <div class="checkout-floatfee">
        <div class="total-floatfee">
            <h1>
                <?php echo $this->__('Total Floatfee: %s',Mage::helper('core')->formatPrice(Me_Floatfee_Model_Fee::getFee(), false));?>
            </h1>
        </div>
        <div class="total-word">
            <div class="left left-icon">
                <img src="<?php echo $this->getSkinUrl('images/word-th.png')?>">
            </div>
            <div class="left left-content">
                <p>
                    <?php echo $this->__('Se stai acquistando PRODOTTI A PESO VARIABILE (come ad esempio frutta, verdura, carne, pesce, ecc.), Weygo ti ricorda che l’importo che pagherai potrebbe essere diverso rispetto all’importo calcolato sulla base di quanto da te ordinato. Infatti, il peso effettivo di questi prodotti sarà determinato solamente al momento della loro pesatura, e potrà variare fino al 20% in più o in meno rispetto a quanto da te ordinato. In modo particolare, se hai scelto il PAGAMENTO ONLINE, Weygo ti segnala che l’importo che ti viene chiesto di autorizzare è determinato aggiungendo al totale della spesa il 20% dell’importo totale dei prodotti a peso variabile ordinato. Dopo la pesatura di questi prodotti, Weygo potrà addebitare l’importo corretto sulla tua carta di credito (o carta di pagamento o Paypal) e non sarà mai superiore a quello che autorizzerai confermando il presente ordine.

                    ')?>
                </p>
            </div>
        </div>
    </div>
<?php endif;?>