<?php if(Mage::getSingleton( 'customer/session' )->isLoggedIn()): ?>
<div class="account-setup">
	<ul class="account-setup-phone">
		<li>
			<div class="field">
				<span class="customer-account-left-word">
					<?php echo $this->__('Service Hotline')?>
				</span>
				
				<span class="customer-account-right-img">
					
				</span>
				<span class="customer-account-right-word">
					02-6556-0865
				</span>
			</div>
		</li>
	</ul>

	<ul>
		<li>
			<div class="field">
				<span class="customer-account-left-word">
					<?php echo $this->__('Clear The Cache')?>
				</span>
				
				<span class="customer-account-right-img">
					
				</span>
			</div>
		</li>
		<li class="last">
			<div class="field">
				<span class="customer-account-left-word">
					<?php echo $this->__('Accept Notice')?>
				</span>
				
				<span class="account-setup-pic-tongzhi">
					<img src="<?php echo $this->getSkinUrl('images/switch-on.png')?>">
					<input type="checkbox" checked="checked">
				</span>
			</div>
		</li>
	</ul>
	<ul>
		<li>
			<div class="field">
				<span class="customer-account-left-word">
					<?php echo $this->__('Help Center')?>
				</span>
				
				<span class="customer-account-right-img">
					
				</span>
			</div>
		</li>
		<li>
			<div class="field">
				<span class="customer-account-left-word">
					<?php echo $this->__('Feedback')?>
				</span>
				
				<span class="customer-account-right-img">
					
				</span>
			</div>
		</li>
		<li>
			<div class="field">
				<span class="customer-account-left-word">
					<?php echo $this->__('About Us')?>
				</span>
				
				<span class="customer-account-right-img">
					
				</span>
			</div>
		</li>
		<li class="last">
			<div class="field">
				<span class="customer-account-left-word">
					<?php echo $this->__('Check For Updates')?>
				</span>
			</div>
		</li>
	</ul>
</div>
<script type="text/javascript">
	$j(document).ready(function() {
		$j('.account-setup-pic-tongzhi img').on('click', function(){
			if($j(this).next('input').attr('checked')=='checked'){
				$j(this).attr('src','<?php echo $this->getSkinUrl('images/switch-off.png')?>');
				$j(this).next().attr('checked',false);
			}else{
				$j(this).attr('src','<?php echo $this->getSkinUrl('images/switch-on.png')?>');
				$j(this).next().attr('checked',true);
			}
		})
	})                  
</script>

<div class="account-setup-loginout">
	<button type="button" title="Proceed to Checkout" class="button btn-proceed-checkout btn-checkout" onclick="window.location='<?php echo $this->getBaseUrl().'customer/account/logout'?>'">
        <span><?php echo $this->__("Logout Account")?></span>
    </button>
</div>
<?php else: 
 	header("Location:".$this->getBaseUrl().'customer/account/login/'.""); 
	exit;
?>
<?php endif?>